
<div class="card card-w-title">
    <div class="ui-g">
        <div style="width:100%;">
            <h1>{{'Course view'|translate}}</h1>
        </div>
        <div style="width:100%;">
            <div class="ui-lg-4 ui-g-12" style="padding-top: 10px;height:70%;">
                <span class="profile-image-wrapper">
                    <img [src]='course.logo | imageBase64' style="height:100%;" [ngClass]="{'display-none' : !course.logo}"  />
                    <img *ngIf="!course.logo" src="assets/images/logo/logo-course.jpg" style="height:100%;">
                    <!-- <img [src]="course.logo | imageBase64" height="70%"/> -->
                </span>
            </div>
            <div class="ui-lg-4 ui-g-12">
                <p-card styleClass="lms-course-detail">
                    <ul class="list-cmt">
                        <li class="clearfix">
                            <i class="material-icons">toys</i>
                            <span class="cmt-title">{{'Name'|translate}}</span>
                            <span class="cmt-detail">{{course.name}}</span>
                        </li>
                        <li class="clearfix">
                            <i class="material-icons">toys</i>
                            <span class="cmt-title">{{'Code'|translate}}</span>
                            <span class="cmt-detail">{{course.Code}}</span>
                        </li>
                        <li class="clearfix">
                            <i class="material-icons">invert_colors</i>
                            <span class="cmt-title">{{'Mode'|translate}}</span>
                            <span class="cmt-detail">{{COURSE_MODE[course.mode]|translate}}</span>
                        </li>
                        <li class="clearfix">
                            <i class="material-icons">people</i>
                            <span class="cmt-title">{{'Editor'|translate}}</span>
                            <span class="cmt-detail">{{editor.name}}</span>
                            
                        </li>
                    </ul>
                </p-card>
            </div>
            <div class="ui-lg-4 ui-g-12">
                <p-card styleClass="lms-course-detail">
                    <ul class="list-cmt">
                        <li class="clearfix">
                            <i class="material-icons">grade</i>
                            <span class="cmt-title">{{'Parent group'|translate}}</span>
                            <span class="cmt-detail">{{course.group_name}}</span>
                        </li>
                        <li class="clearfix">
                            <i class="material-icons">grade</i>
                            <span class="cmt-title">{{'Competency'|translate}}</span>
                            <span class="cmt-detail">{{course.competency_name +' - '+ course.competency_level_name}}</span>
                        </li>
                        <li class="clearfix">
                            <i class="material-icons">toc</i>
                            <span class="cmt-title">{{'Created'|translate}}</span>
                            <span class="cmt-detail">{{course.create_date| date : "dd/MM/yyyy "}}</span>
                        </li>

                    </ul>
                </p-card>
            </div>
        </div>
        <div style="width:100%;">
            <h3>{{'Summary'|translate}}</h3>
        </div>
        <div>
            <p>{{course.summary}}</p>
        </div>
        <div style="width:100%;">
            <h3>{{'Description'|translate}}</h3>
        </div>
        <div>
            <span [innerHTML]="course.description" style="width:100%;"></span>
        </div>
        
        
    </div>
    <div class="card-footer">
        <button type="submit" pButton icon="ui-icon-edit" label="{{'Edit'|translate}}" (click)="editCourse()"
            [disabled]="(course.supervisor_id != ContextUser.id || course.review_state=='approved') && !ContextUser.IsSuperAdmin"></button>
        <button type="button" pButton icon="ui-icon-clear" (click)="close()" label="{{'Close'|translate}}"></button>
    </div>
</div>
    