<div *ngIf="mode=='edit'">
  <div class="ui-g-12 ">
    <label>{{'Content'|translate}}</label>
    <p-editor [(ngModel)]="question.content" [style]="{'height':'120px'}" name="content">
    </p-editor>
  </div>
  <div class="ui-g-12">
    <p-spinner min="0" max="5" [(ngModel)]="question.max_rating" name="rate_max"></p-spinner >
  </div>

</div>
<div *ngIf="mode=='study'">
  <div class="ui-g-12 ">
    <label>{{'Content'|translate}}</label>
    <p [innerHTML]="question.content"></p>
  </div>
  <div class="ui-g-12">
    <p-rating [(ngModel)]="answer.text" [stars]="question.max_rating"></p-rating>
  </div>
</div>
<div *ngIf="mode=='review'">
  <div class="ui-g-12 ">
    <p class="question" [innerHTML]="question.content"></p>
  </div>
  <div class="ui-g-12">
    <p-rating [(ngModel)]="answer.text" [stars]="question.max_rating" [readonly]="true"></p-rating>
  </div>
</div>
<div *ngIf="mode=='preview'">
  <div class="ui-g-12 ">
    <p class="question" [innerHTML]="question.content"></p>
  </div>
  <div class="ui-g-12">
    <p-rating [(ngModel)]="answer.text" [stars]="question.max_rating"></p-rating>
  </div>
</div>