<p-dialog [(visible)]="display" modal="true" [responsive]="true" [height]="WINDOW_HEIGHT" positionLeft="0" positionTop="0" styleClass="ui-g-12 course-unit-study scroll-y removePd" appendTo="body">
    <div class="spinner" [hidden]="!loading"></div>
    <div class="ui-g">
        <div class="ui-lg-9 ui-md-9 ui-g-12 removePd">
            <div class="card course-study-unit removePd">
                <div class="head">
                    <div class="btn-link-unit fLeft">
                        <button pButton type="button" icon="ui-icon-navigate-before" title="{{'Previous'|translate}}" label="{{'Previous'|translate}}" (click)="prevUnit()" class="course-unit-study-btn"></button>
                    </div>
                    <div class="btn-link-unit fRight">
                        <button pButton type="button" icon="ui-icon-navigate-after" title="{{'Next'|translate}}" label="{{'Next'|translate}}" class="course-unit-study-btn" (click)="nextUnit()"></button>
                    </div>
                </div>
                <div class="image-box-content">
                    <!-- <div class="fLeft" *ngIf="selectedUnit">
                        <h3 class="removeMT mb5 mr10 fLeft heading-unit-course">{{selectedUnit.name}}</h3>
                        <span class="complete-status" *ngIf="completedUnitIds.includes(selectedUnit.id)">{{'Completed'|translate}}</span>
                        <span class="incomplete-status" *ngIf="!completedUnitIds.includes(selectedUnit.id)">{{'Incompleted'|translate}}</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div> -->
                    <div>
                        <ng-template course-unit-container></ng-template>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="fLeft auto-next pt8">
                    <p-inputSwitch [(ngModel)]="autoNext"></p-inputSwitch>
                    <span>{{'Auto next'|translate}}</span>
                    <!-- <button pButton type="button" icon="ui-icon-info-outline" title="{{'Info'|translate}}" class="course-unit-study-btn"></button> ( show "lecture.transcript") -->
                </div>
                <div class="fRight">
                    <button pButton type="button" icon="ui-icon-navigate-next" iconPos="right" title="{{'Next'|translate}}" label="{{'Next'|translate}}" (click)="nextUnit()" [disabled]="componentRef && !componentRef.instance.viewCompleted && !completedUnitIds.includes(selectedUnit.id)" *ngIf="selectedUnit && selectedUnit.type!='folder'" class="course-unit-study-btn"></button>
                </div>
            </div>
        </div>
        <div class="ui-lg-3 ui-md-3 ui-g-12 side-bar removePd" >
            <div class="ui-g">
                <div class="ui-g-12 removePd">
                    <p-tabView>
                        <p-tabPanel header="{{'Syllabus'|translate}}" leftIcon="ui-icon-collections-bookmark">
                            <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)">
                                <ng-template let-node  pTemplate="default">
                                    <span>{{node.label}}</span>
                                    <span [hidden]="!node.data || !node.data.id || !completedUnitIds.includes(node.data.id)"><i class="material-icons" >check</i></span>
                                </ng-template>
                            </p-tree>
                        </p-tabPanel>
                        <p-tabPanel header="{{'Material'|translate}}" leftIcon="ui-icon-cloud-download">
                            <ul class="material-items">
                                <li *ngFor="let material of materials">
                                    <a href="" class="material-item">
                                        <i class="material-icons">insert_drive_file</i>
                                        <span>{{material.name}}</span>
                                    </a>
                                        <button type="button" pButton title="{{'Dowload'|translate}}" icon="ui-icon-file-download" (click)="downloadMaterial(material)"></button>
                                </li>
                            </ul>
                        </p-tabPanel>
                        <p-tabPanel header="{{'FAQ'|translate}}" leftIcon="ui-icon-question-answer">
                            <p-accordion>
                                <p-accordionTab header="{{faq.question}}" [selected]="true" *ngFor="let faq of faqs">
                                    <div [innerHTML]="faq.answer"></div>
                                </p-accordionTab>
                            </p-accordion>
                        </p-tabPanel>
                    </p-tabView>
                </div>
                <div class="ui-g-12 footer">
                    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
