<p-dialog [(visible)]="display" modal="true" [responsive]="true" [height]="WINDOW_HEIGHT" positionLeft="0" positionTop="0"
    styleClass="ui-g-12 course-unit-study scroll-y removePd" appendTo="body">
    <div class="spinner" [hidden]="!loading"></div>
    <div class="ui-g">
        <div class="ui-lg-9 ui-md-9 ui-g-12 removePd">
            <div class="card course-study-unit removePd">
                <div class="head">
                </div>
                <div class="image-box-content">
                    <div #unitPlayer>
                        <ng-template course-unit-player-container></ng-template>
                        
                    </div>
                </div>
            </div>
            <div class="card-footer removeM">
                <div class="fLeft auto-next pt8">
                    <p-inputSwitch [(ngModel)]="autoNext"></p-inputSwitch>
                    <span>{{'Auto next'|translate}}</span>
                    <button pButton type="button" icon="ui-icon-fullscreen" title="{{'Fullscreen'|translate}}" label="{{'Fullscreen'|translate}}"
                        class="course-unit-study-btn" (click)="requestFullScreen()"></button>
                </div>
                <div class="fRight next-btn">
                    <button pButton type="button" icon="ui-icon-navigate-before" iconPos="left" title="{{'Prev'|translate}}" label="{{'Previous'|translate}}"
                        (click)="prevUnit()" *ngIf="selectedUnit && selectedUnit.type!='folder'" class="course-unit-study-btn"></button>
                    <button pButton type="button" icon="ui-icon-navigate-next" iconPos="right" title="{{'Next'|translate}}" label="{{'Next'|translate}}"
                        (click)="nextUnit()" [disabled]="componentRef && !componentRef.instance.viewCompleted && !completedUnitIds.includes(selectedUnit.id)"
                        *ngIf="selectedUnit && selectedUnit.type!='folder'" class="course-unit-study-btn"></button>
                </div>
            </div>
        </div>
        <div class="ui-lg-3 ui-md-3 ui-g-12 side-bar removePd">
            <div class="ui-g">
                <div class="ui-g-12 removePd course-study-syllabus">
                    <p-tabView>
                        <p-tabPanel header="{{'Syllabus'|translate}}" leftIcon="ui-icon-collections-bookmark">
                            <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)">
                                <ng-template let-node pTemplate="default">
                                    <span>{{node.label}}</span>
                                    <span [hidden]="!node.data || !node.data.id || !completedUnitIds.includes(node.data.id)">
                                        <i class="material-icons">check</i>
                                    </span>
                                </ng-template>
                            </p-tree>
                        </p-tabPanel>
                        <p-tabPanel header="{{'Material'|translate}}" leftIcon="ui-icon-cloud-download">
                            <ul class="material-items">
                                <li *ngFor="let material of materials">
                                    <a href="" class="material-item">
                                        <i class="material-icons">insert_drive_file</i>
                                        <span>{{material.name}}</span>
                                    </a>
                                    <button type="button" pButton title="{{'Dowload'|translate}}" icon="ui-icon-file-download" (click)="downloadMaterial(material)"></button>
                                </li>
                            </ul>
                        </p-tabPanel>
                        <p-tabPanel header="{{'FAQ'|translate}}" leftIcon="ui-icon-question-answer">
                            <p-accordion>
                                <p-accordionTab header="{{faq.question}}" *ngFor="let faq of faqs" [selected]="faq.active">
                                    <div [innerHTML]="faq.answer"></div>
                                </p-accordionTab>
                            </p-accordion>
                        </p-tabPanel>
                    </p-tabView>
                </div>
                <div class="ui-g-12 footer">
                    <button type="button" pButton icon="ui-icon-clear" (click)="hide()" label="{{'Close'|translate}}"></button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>