<div class="card card-w-title course-syllabus">
    <p-tabView [style]="{width: '100%', height: '460px'}">
        <p-tabPanel header="{{'Course syllabus'|translate}}" leftIcon="ui-icon-dehaze">
            <div class="ui-g-3">
                <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
            </div>
            <div class="ui-g-9" *ngIf="selectedUnit">
                <div class="card">
                    <div class="image-box-content">
                        <div>
                            <h3 class="removeMT">{{selectedUnit.name}}</h3>
                            <span>{{'Unit type'|translate}} : {{COURSE_UNIT_TYPE[selectedUnit.type]}}</span>
                        </div>
                        <div class="image-box-footer">
                            <button pButton type="button" icon="ui-icon-remove-red-eye" title="{{'Preview'| translate}}" label="{{'Preview'|translate}}" class="orange-btn" style="margin-right:4px;" (click)="previewUnit()" *ngIf="selectedUnit.type!='folder'"></button>
                        </div>
                    </div>
                </div>
            </div>
            <course-unit-preview-dialog></course-unit-preview-dialog>
        </p-tabPanel>
        <p-tabPanel header="{{'Class list'|translate}}" leftIcon="ui-icon-supervisor-account" *ngIf="course.mode=='group'">
            <div class="ui-g-12 ">
                <p-toolbar>
                    <div class="ui-toolbar-group-left ">
                        <button pButton type="button " label="{{ 'Students'|translate}} " class="purple-btn " icon="ui-icon-people " (click)="manageClass(selectedClass) " [disabled]="!selectedClass"></button>
                        <button pButton type="button " label="{{ 'Projects'|translate}} " class="purple-btn " icon="ui-icon-assignment " (click)="manageProject(selectedClass) " [disabled]="!selectedClass"></button>
                        <button pButton type="button " label="{{ 'Exams'|translate}} " class="purple-btn " icon="ui-icon-grade " (click)="manageExam(selectedClass) " [disabled]="!selectedClass"></button>
                        <button pButton type="button " label="{{ 'Surveys'|translate}} " class="purple-btn " icon="ui-icon-question-answer" (click)="manageSurvey(selectedClass) " [disabled]="!selectedClass"></button>
                        <button pButton type="button " label="{{ 'Conferences'|translate}} " class="purple-btn " icon="ui-icon-call " (click)="manageConference(selectedClass) " [disabled]="!selectedClass"></button>
                    </div>
                    <div class="ui-toolbar-group-right ">
                        <button pButton type="button " label="{{ 'Close'|translate}} " class="orange-btn " icon="ui-icon-lock" (click)="closeClass() " [disabled]=" selectedClass && selectedClass.status=='closed'"></button>
                    </div>
                </p-toolbar>
                <p-table #classTable [value]="classes" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedClass" [responsive]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'name'">
                                {{'Name'|translate}}
                                <p-sortIcon [field]="'name'"></p-sortIcon>
                            </th>
                            <th>
                                {{'Status'|translate}}
                            </th>
                            <th [pSortableColumn]="'start'">
                                {{'Start'|translate}}
                                <p-sortIcon [field]="'start'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'end'">
                                {{'End'|translate}}
                                <p-sortIcon [field]="'end'"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-class>
                        <tr [pSelectableRow]="class">
                            <td>{{class.name}}</td>
                            <td>{{class.status}}</td>
                            <td>{{class.start | date : "dd/MM/yyyy"}}</td>
                            <td>{{class.end | date : "dd/MM/yyyy"}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        {{'Total records'|translate}} : {{classes?.length}}
                    </ng-template>
                </p-table>
            </div>
            <class-conference-dialog></class-conference-dialog>
            <class-exam-list-dialog></class-exam-list-dialog>
            <class-survey-list-dialog></class-survey-list-dialog>
            <project-list-dialog></project-list-dialog>
            <class-manage-dialog></class-manage-dialog>
        </p-tabPanel>
        <p-tabPanel header="{{'Course material'|translate}}" leftIcon="ui-icon-cloud-download">
            <div class="ui-g-12">
                <p-toolbar>
                    <div class="ui-toolbar-group-left">
                        <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addMaterial()" icon="ui-icon-add"></button>
                        <button pButton type="button" label="{{'Edit'|translate}}" class="purple-btn" icon="ui-icon-mode-edit" (click)="editMaterial()" *ngIf="selectedMaterial"></button>
                        <button pButton type="button" label="{{'Delete'|translate}}" class="red-btn" icon="ui-icon-delete" (click)="deleteMaterial()" *ngIf="selectedMaterial"></button>
                    </div>
                </p-toolbar>
                <p-table #materialTable [value]="materials" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedMaterial" [responsive]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'name'">
                                {{'Name'|translate}}
                                <p-sortIcon [field]="'name'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'type'">
                                {{'Type'|translate}}
                                <p-sortIcon [field]="'type'"></p-sortIcon>
                            </th>
                            <th>
                                {{'URL'|translate}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-material>
                        <tr [pSelectableRow]="material">
                            <td>{{material.name}}</td>
                            <td>{{material.type}}</td>
                            <td class="url-course-material">{{material.url}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        {{'Total records'|translate}} : {{materials?.length}}
                    </ng-template>
                </p-table>
            </div>
            <course-material-dialog></course-material-dialog>
        </p-tabPanel>
        <p-tabPanel header="{{'Course FAQ'|translate}}" leftIcon="ui-icon-question-answer">
            <div class="ui-g-12">
                <p-toolbar>
                    <div class="ui-toolbar-group-left">
                        <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addFaq()" icon="ui-icon-add"></button>
                        <button pButton type="button" label="{{'Edit'|translate}}" class="purple-btn" icon="ui-icon-mode-edit" (click)="editFaq()" *ngIf="selectedFaq"></button>
                        <button pButton type="button" label="{{'Delete'|translate}}" class="red-btn" icon="ui-icon-delete" (click)="deleteFaq()" *ngIf="selectedFaq"></button>
                    </div>
                </p-toolbar>
                <p-table #faqTable [value]="faqs" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedFaq" [responsive]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                {{'Question'|translate}}
                            </th>
                            <th>
                                {{'Answer'|translate}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-faq>
                        <tr [pSelectableRow]="faq">
                            <td>{{faq.question}}</td>
                            <td>{{faq.answer}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        {{'Total records'|translate}} : {{faqs?.length}}
                    </ng-template>
                </p-table>
            </div>
            <course-faq-dialog></course-faq-dialog>
        </p-tabPanel>
        <p-tabPanel header="{{'Sent Message'|translate}}" leftIcon="ui-icon-send">
            <div class="ui-g-12">
                <p-toolbar>
                    <div class="ui-toolbar-group-left">
                        <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addMessage()" icon="ui-icon-add"></button>
                    </div>
                </p-toolbar>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>