<div class="card card-w-title">
    <h1>{{'Question form'|translate}}</h1>
    <form novalidate (ngSubmit)="componentRef && componentRef.instance.isValid() && f.form.valid && save()" #f="ngForm" autocomplete="off">
        <p-tabView [style]="{width: '100%', height: '100vh'}">
            <p-tabPanel header="{{'General'|translate}}" leftIcon="ui-icon-info">
                <div class="ui-g ui-fluid form-group">
                    <div class="ui-g-6">
                        <label>{{'Group'|translate}}</label>
                        <p-tree [value]="tree" selectionMode="single" required [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
                        <input type="hidden" name="group" #group="ngModel" [(ngModel)]="question.group_id" required>
                        <div *ngIf="group.invalid" class="ui-message ui-messages-error ui-corner-all">
                            <div *ngIf="group.errors.required">
                                {{'Group is required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <div class="">
                            <label>{{'Title'|translate}}</label>
                            <textarea pInputTextarea [(ngModel)]="question.title" #title="ngModel" required name="title"></textarea>
                            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="ui-message ui-messages-error ui-corner-all">
                                <div *ngIf="title.errors.required">
                                    {{'Title is required' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="mt20">
                            <div class="ui-lg-12">
                                <label>{{'Level'|translate}}</label>
                            </div>
                            <div class="ui-lg-4 fLeft">
                                <p-radioButton name="level" value="easy" label="{{'Easy'|translate}}" [(ngModel)]="question.level" inputId="opt1" #level="ngModel" required></p-radioButton>
                            </div>
                            <div class="ui-lg-4 fLeft">
                                <p-radioButton name="level" value="medium" label="{{'Medium'|translate}}" [(ngModel)]="question.level" inputId="opt2" required></p-radioButton>
                            </div>
                            <div class="ui-lg-4 fLeft">
                                <p-radioButton name="level" value="hard" label="{{'Hard'|translate}}" [(ngModel)]="question.level" inputId="opt3" required></p-radioButton>
                            </div>
                            <div *ngIf="level.invalid" class="ui-message ui-messages-error ui-corner-all ui-lg-12">
                                <div *ngIf="!question.level">
                                    {{'Level is required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Details'|translate}}" leftIcon="ui-icon-details" [hidden]="!componentRef">
                <ng-template question-container></ng-template>
            </p-tabPanel>
        </p-tabView>
        <div class="card-footer">
            <button type="submit" pButton icon="ui-icon-check" label="{{'Save'|translate}}" [disabled]="!f.form.valid || loading || !componentRef || !componentRef.instance.isValid()"></button>
            <button type="button" pButton icon="ui-icon-clear" (click)="cancel()" label="{{'Close'|translate}}"></button>
        </div>
    </form>
</div>
