<p-dialog header="{{'Exam setting'|translate}}" [(visible)]="display" modal="false" width="500" height="100%" [responsive]="true" appendTo="body">
  <p-scrollPanel [style]="{width: '100%', height: '300px'}">
    <form novalidate (ngSubmit)="f.form.valid && saveExamSetting()" #f="ngForm" autocomplete="off">
        <div class="ui-g-12 ui-fluid form-group">
      <div class="ui-g-6">
        <span class="md-inputfield input-scale">
          <input type="text"  pInputText name="scale" [(ngModel)]="setting.scale" pKeyFilter="pint">
          <label for="scale">{{'Scale' | translate}}</label>
        </span>
      </div>
      <div class="ui-g-6">
        <p-checkbox name="take_pic" binary="true" label="{{'Take picture on submit'|translate}}" [(ngModel)]="setting.take_picture_on_submit"></p-checkbox>
      </div>
      <div class="ui-g-12">
        <!-- <button pButton type="button" icon="ui-icon-add" class="secondary-btn add-grade" (click)="addGrade()" pTooltip="{{'Add grade'|translate}}"></button> -->
        <button pButton type="button" label="{{'Add grade'|translate}}" class="green-btn add-grade" (click)="addGrade()" icon="ui-icon-add"></button>
        <ul class="">
          <li *ngFor="let grade of grades">
            <div class="ui-g-12">
            <div class="ui-g-4">
              <span class="md-inputfield mg">
                <input type="text" pInputText [(ngModel)]="grade.name" name="grade_name">
                <label for="grade_name">{{'Name' | translate}}</label>
              </span>
            </div>
            <div class="ui-g-4">
              <span class="md-inputfield mg">
                <p-spinner [(ngModel)]="grade.min_score" name="grade_min"></p-spinner>
                <label for="grade_min">{{'Min' | translate}}</label>
              </span>
            </div>
            <div class="ui-g-4">
              <span class="md-inputfield mg">
                <p-spinner [(ngModel)]="grade.max_score" name="grade_max"></p-spinner>
                <label for="grade_max">{{'Max' | translate}}</label>
              </span>
            </div>
            </div>
            <button pButton type="button" icon="ui-icon-close" title="{{Remove|translate}}" (click)="removeGrade(grade)" class="remove-btn"></button>
          </li>
        </ul>
        <div *ngIf="grades | validateGrade:setting.scale" class="ui-message ui-messages-error ui-corner-all">
          {{'Invalid grade options' | translate}}
        </div>
      </div>
      </div>
    </form>   
  </p-scrollPanel>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="{{'Save'|translate}}" (click)="f.ngSubmit.emit()"></button>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>