<p-dialog header="{{'Exam setting'|translate}}" [(visible)]="display" modal="false" width="500" height="100%" [responsive]="true" appendTo="body">
    <div class="spinner" [hidden]="!loading"></div>
    <p-scrollPanel [style]="{width: '100%', height: '300px'}">
        <form novalidate (ngSubmit)="f.form.valid && saveExamSetting()" #f="ngForm" autocomplete="off">
            <div class="ui-g-12 ui-fluid form-group mt20">
                <div class="ui-g-6">
                    <span class="md-inputfield input-scale">
          <input type="text"  pInputText name="scale" [(ngModel)]="setting.scale" pKeyFilter="pint">
          <label for="scale">{{'Scale' | translate}}</label>
        </span>
                </div>
                <div class="ui-g-6">
                    <p-checkbox name="take_pic" binary="true" label="{{'Take picture on submit'|translate}}" [(ngModel)]="setting.take_picture_on_submit"></p-checkbox>
                </div>
                <div class=" ui-g-12 ">
                    <p-toolbar>
                        <div class="ui-toolbar-group-left">
                            <button pButton type="button" label="{{'New level'|translate}}" class="green-btn" (click)="addGrade()" icon="ui-icon-add"></button>
                        </div>
                    </p-toolbar>
                    <p-table #levelTable [value]="grades" [paginator]="false" [rows]="10" [(selection)]="selectedGrade" [responsive]="true" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    {{'Name'|translate}}
                                </th>
                                <th>
                                    {{'Min'|translate}}
                                </th>
                                <th>
                                    {{'Max'|translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-grade let-i="rowIndex">
                            <tr [pSelectableRow]="grade">
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" name="name" [(ngModel)]="grade.name">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{grade.name}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                             <p-spinner [(ngModel)]="grade.min_score" name="grade_min"></p-spinner>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{grade.min_score}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                             <p-spinner [(ngModel)]="grade.max_score" name="grade_max"></p-spinner>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{grade.max_score}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div *ngIf="grades | validateGrade:setting.scale" class="ui-message ui-messages-error ui-corner-all">
                        {{'Invalid grade options' | translate}}
                    </div>
                </div>
            </div>
        </form>
    </p-scrollPanel>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="{{'Save'|translate}}" (click)="f.ngSubmit.emit()"></button>
        <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>