<div class="card card-w-title exam-manage ui-g">
    <h1>{{'Exam'|translate}}: {{exam.name}}</h1>
    <div class="ui-g-12 ">
        <p-toolbar>
            <div class="ui-toolbar-group-left ">
                <button pButton type="button" label="{{ 'Question sheets'|translate}} " class="blue-grey-btn " icon="ui-icon-question-answer" (click)="showQuestionSheet()"></button>
                <button pButton type="button" label="{{ 'Answer sheet'|translate}} " class="blue-grey-btn " icon="ui-icon-content-paste" (click)="viewAnswerSheet()" [disabled]="!selectedMember"></button>
                <button pButton type="button" label="{{ 'Redo exam'|translate}} " class="blue-grey-btn " icon="ui-icon-refresh" (click)="redoExam(selectedMember)" [disabled]="!selectedMember || selectedMember.enroll_status != 'completed'"></button>
            </div>
            <div class="ui-toolbar-group-right ">
                <span class="md-inputfield search">
                    <input type="text" pInputText placeholder="{{'Search'|translate}}" 
                    (input)="scoreTable.filterGlobal($event.target.value, 'contains')">   
                    <i class="fa fa-search"></i>      
                </span>
                <button pButton type="button" label="{{ 'Result report'|translate}} " class="blue-grey-btn " icon="ui-icon-data-usage" (click)="showExamReport()"></button>
                <button pButton type="button" label="{{ 'Statistics'|translate}} " class="blue-grey-btn " icon="ui-icon-equalizer" (click)="showExamStats()"></button>
            </div>
        </p-toolbar>
        <p-table #scoreTable [value]="members" [paginator]="true" [rows]="25" selectionMode="single" [(selection)]="selectedMember" [responsive]="true" [globalFilterFields]="['name', 'login' ,'group_name', 'score', 'grade', 'enroll_status' ]">
            <!--  sortField="role" -->
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        {{'Index'|translate}}
                    </th>
                    <th [pSortableColumn]="'name'">
                        {{'Name'|translate}}
                        <p-sortIcon [field]="'name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'login'">
                        {{'Username'|translate}}
                        <p-sortIcon [field]="'login'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'group_name'">
                        {{'Group'|translate}}
                        <p-sortIcon [field]="'group_name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'score'">
                        {{'Score'|translate}}
                        <p-sortIcon [field]="'score'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'grade'">
                        {{'Grade'|translate}}
                        <p-sortIcon [field]="'grade'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'enroll_status'">
                        {{'Enroll status'|translate}}
                        <p-sortIcon [field]="'enroll_status'"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member let-rowIndex="rowIndex">
                <tr [pSelectableRow]="member">
                     <td>{{rowIndex+1}}</td>
                    <td>{{member.name}}</td>
                    <td>{{member.login}}</td>
                    <td>{{member.group_name}}</td>
                    <td>{{member.score}}</td>
                    <td>{{member.grade}}</td>
                    <td>{{member.enroll_status}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                {{'Total records'|translate}} : {{members?.length}}
            </ng-template>
        </p-table>
    </div>
     <div class="card-footer">
        <button type="button" pButton icon="ui-icon-arrow-back" (click)="back()" label="{{'Go back'|translate}}"></button>
    </div>
    <question-marking-dialog></question-marking-dialog>
    <question-sheet-print-dialog></question-sheet-print-dialog>
    <answer-print-dialog></answer-print-dialog>
    <exam-report-dialog></exam-report-dialog>
    <exam-stats-dialog></exam-stats-dialog>
</div>