<p-dialog header="{{'Export to Excel'|translate}}" [(visible)]="display" modal="true" [responsive]="true" [closeOnEscape]="false" [closable]="false">
    <div class="spinner" [hidden]="!loading"></div>
    <div class="ui-g-12">
        <label>{{'Organization'|translate}}</label>
        <p-tree [value]="tree" selectionMode="checkbox" [(selection)]="selectedGroupNodes" styleClass="width-tree"></p-tree>
    </div>
    <div class="ui-g-12">
        <label> {{'Exported fields' | translate}}</label>
        <div>
            <ng-container *ngFor="let field of fields">
                <p-checkbox name="exportField" label="{{field.label}}" value="{{field.value}}" [(ngModel)]="selectedFields"></p-checkbox>
            </ng-container>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="ui-icon-check"  label="{{'Export'|translate}}" (click)="export()" [disabled]="selectedGroupNodes.length==0 || selectedFields.length==0"></button>
        <button type="button" pButton icon="ui-icon-clear" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>
