<div class="card card-w-title">
    <h1>{{'Course form'|translate}}</h1>
    <form novalidate (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
        <div class="ui-g ui-fluid form-group">
            <div class="ui-g-3 logo-course">
                <label>{{'Logo'|translate}}</label>
                <image-base64 [(src64)]="course.logo"></image-base64>
            </div>
            <div class="ui-g-9">
                <label>{{'Parent group'|translate}}</label>
                <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
                <input type="hidden" name="group" #group="ngModel" [(ngModel)]="course.group_id" required>
                <div *ngIf="group.invalid" class="ui-message ui-messages-error ui-corner-all">
                    <div *ngIf="group.errors.required">
                        {{'Group is required' | translate}}
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <label>{{'Name'|translate}}</label>
                <input type="text" pInputText [(ngModel)]="course.name" #name="ngModel" name="name" required>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="ui-message ui-messages-error ui-corner-all">
                    <div *ngIf="name.errors.required">
                        {{'Name is required' | translate}}
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <label>{{'Code'|translate}}</label>
                <input type="text" pInputText [(ngModel)]="course.code" #code="ngModel" name="code" required>
                <div *ngIf="code.invalid && (code.dirty || code.touched)" class="ui-message ui-messages-error ui-corner-all">
                    <div *ngIf="code.errors.required">
                        {{'Code is required' | translate}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <label>{{'Mode'|translate}}</label>
                <div style="margin:10px 0">
                    <p-radioButton name="mode" value="self-study" [disabled]="course.id" label="{{'Self-study'|translate}}" [(ngModel)]="course.mode" inputId="opt1" #mode="ngModel" required></p-radioButton>
                </div>
                <div style="margin-bottom:10px">
                    <p-radioButton name="mode" value="group" [disabled]="course.id" label="{{'Group study'|translate}}" [(ngModel)]="course.mode" inputId="opt2" required></p-radioButton>
                </div>
                <div *ngIf="mode.invalid" class="ui-message ui-messages-error ui-corner-all" style="margin: 10px 0 20px;">
                    <div *ngIf="mode.errors.required">
                        {{'Mode is required' | translate}}
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div (click)="selectEditor()">
                    <label>{{'Editor' |translate}}: {{editor.name}}</label>
                    <i class="material-icons">open_in_browser</i>
                </div>
            </div>
            <div class="ui-g-6">
                <div (click)="selectCompetencyLevel()">
                    <label>{{'Competency' |translate}}: {{course.competency_name +' - '+ course.competency_level_name}}</label>
                    <i class="material-icons">open_in_browser</i>
                </div>
            </div>
            <div class="ui-g-12">
                <label>{{'Summary'|translate}}</label>
                <textarea pInputTextarea [(ngModel)]="course.summary" name="summary"></textarea>
            </div>
            <div class="ui-g-12">
                <label>{{'Description'|translate}}</label>
                <p-editor [(ngModel)]="course.description" name="description" [style]="{'height':'120px'}"></p-editor>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" pButton icon="ui-icon-check" label="{{'Save'|translate}}"  [disabled]="loading || ((course.supervisor_id != ContextUser.id || course.review_state=='approved') && !ContextUser.IsSuperAdmin)"></button>
            <button type="button" pButton icon="ui-icon-clear" (click)="cancel()" label="{{'Close'|translate}}"></button>
        </div>
    </form>
</div>
<select-user-dialog></select-user-dialog>
<select-competency-level-dialog></select-competency-level-dialog>
