<div class="login-body">
  <div class="login-panel ui-fluid">
    <div class="login-panel-content">
      <form class="form-horizontal form-simple" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
        <div class="ui-g">
          <div class=" ui-g-12 ">
            <h1>{{'Password Reset Form'|translate}}
            </h1>
          </div>
          <div class=" ui-g-12 " [hidden]="buildMode=='prod'">
            <span class="md-inputfield">
                <input type="text"  pInputText name="cloudid" [(ngModel)]="cloudid">
                <label for="cloudid">{{'Cloud ID' | translate}}</label>
            </span>
          </div>
          <div class=" ui-g-12 ">
            <span class="md-inputfield">
                <input type="password" pInputText name="new_pass" [(ngModel)]="new_pass" #new_pass_input="ngModel" required>
                <label for="new_pass">{{'Enter new password'|translate}}</label>
                <div *ngIf="new_pass_input.invalid && (new_pass_input.dirty || new_pass_input.touched)" class="ui-message ui-messages-error ui-corner-all">
                    <div *ngIf="new_pass_input.errors.required">
                        {{'New password is required' | translate}}
                    </div>
                </div>
            </span>
          </div>
           <div class=" ui-g-12 ">
            <span class="md-inputfield">
                <input type="password" pInputText name="confirm_pass" [(ngModel)]="confirm_pass" #confirm_pass_input="ngModel" matchInput={{new_pass}}>
                <label for="Confirm_pass">{{'Confirm new password'|translate}}</label>
                 <div *ngIf="confirm_pass_input.invalid && (confirm_pass_input.dirty || confirm_pass_input.touched)" class="ui-message ui-messages-error ui-corner-all">
                    <div *ngIf="confirm_pass_input.errors.matchInput">
                      {{'Password not matching'|translate}}
                    </div>
                  </div>
            </span>
          </div>
          <div class="ui-g-12">
            <button pButton type="submit" icon="fa ui-icon-send" label="{{'Submit'}}"></button>
          </div>
          <div class="ui-g-12">
            <a routerLink="/auth/login">{{'Return to login'|translate}}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
