.add-grade{
	float: none;
	margin: 0;
}

ul{
	padding-left: 0;
}

ul li{
	list-style-type: none;
	padding-bottom: 20px;
}

.grade-info{
	margin-right: 40px;
}

.remove-btn{
	margin-top: -60px;
    width: 2em !important;
    height: 2em !important;
}