<div class="ui-g-12 ui-md-6 ui-lg-4 task-list settings-exam">
  <p-panel header="{{'Exams' | translate}}" styleClass="setting-exam">
    <button pButton type="button" icon="ui-icon-menu" class="secondary-btn" (click)="saveExamSetting()"></button>
    <div class="ui-g-12 ui-fluid form-group">
      <div class="ui-g-6">
        <span class="md-inputfield">
              <input type="text"  pInputText name="scale" [(ngModel)]="setting.scale" pKeyFilter="pint">
              <label for="scale">{{'Scale' | translate}}</label>
            </span>
      </div>
      <div class="ui-g-6">
        <p-checkbox name="take_pic" binary="true" label="{{'Take picture on submit'|translate}}" [(ngModel)]="setting.take_picture_on_submit"></p-checkbox>
      </div>
      <div class="ui-g-12">
        <button pButton type="button" icon="ui-icon-add" class="secondary-btn add-grade" (click)="addGrade()" pTooltip="{{'Add grade'|translate}}"></button>
        <ul class="">
          <li *ngFor="let grade of grades">
            <div class="grade-info">
              <span class="md-inputfield mg">
                <label for="grade_name">{{'Name' | translate}}</label>
                <input type="text" pInputText [(ngModel)]="grade.name" name="grade_name">              
              </span>
              <span class="md-inputfield mg">
                <label for="grade_min">{{'Min' | translate}}</label>
                <p-spinner [(ngModel)]="grade.min_score" name="grade_min"></p-spinner>             
                </span>
              <span class="md-inputfield mg">
                <label for="grade_max">{{'Max' | translate}}</label>
                <p-spinner [(ngModel)]="grade.max_score" name="grade_max"></p-spinner>
              </span>
            </div>
            <button pButton type="button" icon="ui-icon-close" title="{{Remove|translate}}" (click)="removeGrade(grade)" class="remove-btn removeMR"></button>
          </li>
        </ul>
        <div *ngIf="grades | validateGrade:setting.scale" class="ui-message ui-messages-error ui-corner-all">
          {{'Invalid grade options' | translate}}
        </div>
      </div>
    </div>
  </p-panel>
</div>