.hrm-toolbar-tree{
}
.mrg-bt{
    margin-bottom: 15px;
}

.list-cmt{
	padding-left: 0;
}

.list-cmt li{
	list-style: none;
	padding: 10px 14px;
	float: left;
    color: #757575;
    margin-right: 10px;
}

.list-cmt li i{
	font-size: 24px;
    vertical-align: middle;
}

.c-status{
	position: absolute;
    background-color: #32de4e;
    color: #fff;
    right: 0;
    top: 5px;
    padding: 5px 10px;
}

.course-img img{
	width: 100%;
	border: 1px solid #dbdbdb;
    height: 190px;
}

.border{
	border-top: 1px solid #dbdbdb;
}

.heading-course{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 18px;
    color: rgb(199, 22, 50);
    line-height: 1.667;
}

p.course-summary{
    display: block;
    height: 66px;
    /*display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 30px;
    word-break: break-word;
}

.course-summary h1, .course-summary h2, .course-summary h3, .course-summary h4, .course-summary h5,.course-description h6{
    margin: 10px 0;
}

.display-none{
	display: none;
}

.search input{
	border: 1px solid #bdbdbd;
    width: 360px;
    height: 35px;
    position: relative;
    border-radius: 25px;
    padding: 0 15px;
}

.search i{
	position: absolute;
    right: 10px;
    top: 7px;
    color: #888;
    font-size: 22px;
}

.course-img{
	position: relative;
    height: 190px;
}

.course-info{
    position: relative;
}

.btn-course{
	position: absolute;
    background: rgba(85, 85, 85, 0.9);
    width: 100%;
    top: 0;
    text-align: center;
    padding: 72px 15px;
    display: none;
    height: 190px;
}

.course-img:hover .btn-course{
	display: block;
}

@media screen and (max-width: 500px) {
	.search input{
		width: 280px;
	}
}