<style>
ul {
    list-style-type: none;
    padding-left: 0px;
}

.vertical {
    vertical-align: middle;
}
</style>
<div class="ui-lg-12 ui-md-12 ui-g-12">
    <div class="ui-lg-6 ui-md-6 ui-g-12">
        <h1 class="removeM">{{'My courses'|translate}}</h1>
    </div>
    <div class="search ui-lg-6 ui-md-6 ui-g-12">
        <div class="ui-inputgroup fRight">
            <span class="md-inputfield search">
                <input type="text" pInputText (input)="filterCourse()" placeholder="{{'Course search'|translate}}" name="keywordInput" [(ngModel)]="keyword"><i class="fa fa-search"></i>
            </span>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="ui-g">
    <div class="ui-lg-12 ui-md-12 ui-g-12">
        <p-dataList [value]="filteredCourses" [paginator]="true" [rows]="5" styleClass="lms-course-list">
            <ng-template let-course pTemplate="item">
                <p-card styleClass="lms-course-list-item">
                    <div class="ui-g">
                        <div class="ui-lg-3 ui-md-4 ui-g-12">
                            <div class="course-img">
                                <img [src]='course.logo | imageBase64' [ngClass]="{'display-none' : !course.logo}"  />
                                <img *ngIf="!course.logo" src="assets/images/logo/logo-course.jpg">
                                <div class="btn-course">
                                    <button pButton type="button" icon="ui-icon-arrow-forward" title="{{'Join'| translate}}"class="mr4 red-btn" (click)="studyCourse(course, course.student)" *ngIf="course.student!=null" [disabled]="! course.IsAvailable || course.student.status!='active'"></button>
                                    <button pButton type="button" icon="ui-icon-exit-to-app" title="{{'Withdraw'| translate}}" class="mr4 red-btn" (click)="withdrawCourse(course, course.student)" *ngIf="course.student!=null" [disabled]="! course.IsAvailable || course.student.status!='active'"></button>
                                    <button pButton type="button" icon="ui-icon-visibility" title="{{'View'| translate}}"  class="mr4 red-btn" (click)="viewCourse(course)" *ngIf="course.teacher!=null" ></button>
                                    <button pButton type="button" icon="ui-icon-publish" title="{{'Publish'| translate}}"  class="mr4 red-btn" (click)="publishCourse(course)" *ngIf="course.supervisor!=null" ></button>
                                    <button pButton type="button" icon="ui-icon-edit" title="{{'Edit course'| translate}}"  class="mr4 red-btn" (click)="editCourse(course,course.editor!)" *ngIf="course.editor!=null"></button>
                                    <button pButton type="button" icon="ui-icon-supervisor-account" title="{{'Manage course'| translate}}" class="mr4 red-btn" (click)="manageCourse(course, course.teacher)" *ngIf="course.teacher !=null "[disabled]="!course.IsAvailable"></button>
                                </div>
                            </div>
                        </div>
                        <div class="ui-lg-9 ui-md-8 ui-g-12 pr-0">
                            <div class="ui-lg-12 ui-g-12 course-info">
                                <h4 class="heading-course">{{course.name}}</h4>
                                <span class="c-status">{{COURSE_STATUS[course.status]|translate}}</span>
                                <p [innerHTML]="course.description" class="course-description"></p>
                            </div>
                            <div class="ui-lg-12 ui-g-12 border pb-0">
                                <ul class="list-cmt">
                                    <li class="clearfix" *ngIf="!course.IsAvailable">
                                        <i class="material-icons">error</i>
                                        <span class="cmt-title">{{'Course not available'|translate}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">toys</i>
                                        <span class="cmt-title">{{'Code'|translate}}: {{course.code}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">invert_colors</i>
                                        <span class="cmt-title">{{'Mode'|translate}}: {{COURSE_MODE[course.mode]|translate}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">layers</i>
                                        <span class="cmt-title">{{'Number of unit'|translate}}: {{course.unit_count}}</span>
                                    </li>
                                    <li class="clearfix" style="border-bottom: none;">
                                        <i class="material-icons">toc</i>
                                        <span class="cmt-title">{{'Group'|translate}}: {{course.group_name}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="ui-lg-3 ui-md-12 ui-g-12">
                            <p-card styleClass="lms-course-detail">
                                <ul class="list-cmt">
                                    <li class="clearfix" *ngIf="!course.IsAvailable">
                                            <i class="material-icons">error</i>
                                            <span class="cmt-title">{{'Course not available'|translate}}</span>
                                        </li>
                                    <li class="clearfix">
                                        <i class="material-icons">toys</i>
                                        <span class="cmt-title">{{'Code'|translate}}</span>
                                        <span class="cmt-detail">{{course.code}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">invert_colors</i>
                                        <span class="cmt-title">{{'Mode'|translate}}</span>
                                        <span class="cmt-detail">{{COURSE_MODE[course.mode]|translate}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">layers</i>
                                        <span class="cmt-title">{{'Number of unit'|translate}}</span>
                                        <span class="cmt-detail">{{course.unit_count}}</span>
                                    </li>
                                    <li class="clearfix" style="border-bottom: none;">
                                        <i class="material-icons">toc</i>
                                        <span class="cmt-title">{{'Group'|translate}}</span>
                                        <span class="cmt-detail">{{course.group_name}}</span>
                                    </li>
                                </ul>
                            </p-card>
                        </div> -->
                    </div>
                </p-card>
            </ng-template>
        </p-dataList>
    </div>
</div>