<div class="card card-w-title">
    <h1>{{'Permission management'|translate}}</h1>
    <div class="ui-g">
        <div class="ui-g-12">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="{{'New'|translate}}" class="red-btn" (click)="addPermission()" icon="ui-icon-add"></button>
                    <button pButton type="button" label="{{'Edit'|translate}}" class="nissan-btn" icon="ui-icon-mode-edit" (click)="editPermission(selectedPermission)" [disabled]="!selectedPermission"></button>
                    <button pButton type="button" label="{{'View'|translate}}" class="nissan-btn" icon="ui-icon-visibility" (click)="viewPermission(selectedPermission)" [disabled]="!selectedPermission"></button>
                    <button pButton type="button" label="{{'Delete'|translate}}" class="nissan-btn" icon="ui-icon-delete" (click)="deletePermission(selectedPermission)" [disabled]="!selectedPermission"></button>
                </div>
            </p-toolbar>
            <p-table #permissionTable [value]="permissions" [(selection)]="selectedPermission" [paginator]="true" [rows]="25" selectionMode="single" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            {{'Index'|translate}}
                        </th>
                        <th>{{'Role'|translate}}</th>
                        <th>{{'Managed group'|translate}}</th>
                        <th [pSortableColumn]="'create_date'">
                            {{'Created'|translate}}
                            <p-sortIcon [field]="'create_date'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'write_date'">
                            {{'Updated'|translate}}
                            <p-sortIcon [field]="'write_date'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-permission let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="permission">
                        <td>{{rowIndex+1}}</td>
                        <td>{{permission.name}}</td>
                        <td>{{permission.group_name}}</td>
                        <td>{{permission.create_date | date : "dd/MM/yyyy "}}</td>
                        <td>{{permission.write_date | date : "dd/MM/yyyy "}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{permissions?.length}}
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
