npm-debug.log
frontend/node_modules/
frontend/dist/
frontend/src/*.js
frontend/src/*.js.map
frontend/client/yarn.lock
frontend/dist.zip
.*
!/.gitignore
*.pyc
node_modules/
.idea/
nbproject/
npm-debug.log
public/files/
public/media/
/.DS_Store
public/lib/
public/upload/
app.log
app1.log
yarn.lock
npm-debug.log
frontend/dist/
