<div class="card card-w-title">
    <h1>{{'Survey enrollment'|translate}} : {{survey.name}}</h1>
    <div class="ui-g-12 ">
            <p-toolbar>
                <div class="ui-toolbar-group-left ">
                    <button pButton type="button " label="{{ 'Add'|translate}} " class="green-btn " icon="ui-icon-add " (click)="addMember() "></button>
                    <button pButton type="button " label="{{ 'Delete'|translate}} " class="red-btn " icon="ui-icon-delete " (click)="deleteMember(selectedMembers) " *ngIf="selectedMembers && selectedMembers.length "></button>
                </div>
            </p-toolbar>
            <p-table #memberTable [value]="members" [paginator]="true " [rows]="25" selectionMode="multiple" [(selection)]="selectedMembers " [responsive]="true " sortField="name">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2.25em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                         <th>
                            {{'Index'|translate}}
                        </th>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th width="250px" [pSortableColumn]="'email'">
                            {{'Email'|translate}}
                            <p-sortIcon [field]="'email'"></p-sortIcon>
                        </th>
                        <th>{{'Phone'|translate}}</th>
                        <th [pSortableColumn]="'group_name'">
                            {{'Group'|translate}}
                            <p-sortIcon [field]="'group_name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'status'">
                          {{'Status'|translate}}
                          <p-sortIcon [field]="'status'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-member let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="member">
                        <td>
                            <p-tableCheckbox [value]="member"></p-tableCheckbox>
                        </td>
                        <td>{{rowIndex+1}}</td>
                        <td style="text-align: left;">{{member.name}}</td>
                        <td style="text-align: left;" width="250px">{{member.email}}</td>
                        <td>{{member.phone}}</td>
                        <td>{{member.group_name}}</td>
                        <td>{{SURVEY_MEMBER_ENROLL_STATUS[member.enroll_status]}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{members?.length}}
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="6 ">
                            {{'No records found'|translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    <div class="card-footer">
        <button type="button" pButton icon="ui-icon-clear" (click)="close()" label="{{'Close'|translate}}"></button>
    </div>
</div>
<select-multi-user-dialog></select-multi-user-dialog>
