<div class="card card-w-title">
  <h1>{{'My exams'|translate}}</h1>
  <div class="ui-g dashboard">
    <div class="ui-g-12">
      <p-dataList [value]="exams" [paginator]="true" [rows]="5">
        <ng-template let-exam pTemplate="item">
          <div class="task-box task-box-2">
            <div class="task-box-header">
              <button pButton type="button" icon="ui-icon-pencil" title="{{'Edit content'|translate}}" label="{{'Edit content'|translate}}" class=" purple-btn" style="margin-right:4px;"></button>
               <button pButton type="button" icon="ui-icon-pencil" title="{{'Mark'|translate}}" label="{{'Mark '|translate}}" class="purple-btn" style="margin-right:4px;"></button>
               <button pButton type="button" icon="ui-icon-pencil" title="{{'Result'|translate}}" label="{{'Result '|translate}}" class="purple-btn" style="margin-right:4px;"></button>
              <button pButton type="button" icon="ui-icon-pencil" title="{{'Join'|translate}}" label="{{'Join '|translate}}" class=" green-btn" style="margin-right:4px;"></button>
            </div>
            <div class="task-box-content">
              <div class="ui-g">
                <div class="ui-g-8">
                  <h2>{{exam.name}}</h2>
                  <span class="image-box-tag">{{exam.status}}</span>
                  <h3>{{'Status'|translate}}</h3>
                  <p>
                    {{EXAM_STATUS[exam.status]}}
                  </p>
                  <h3>{{'Summary'|translate}}</h3>
                  <p>
                    {{exam.summary}}
                  </p>
                  <h3>{{'Instruction'|translate}}</h3>
                  <p [innerHTML]="exam.instruction"></p>
                </div>
                <div class="ui-g-4">
                  <div class="user-card card">
                    <div class="user-card-content">
                      <div class="user-detail">
                        <ul>
                          <li class="clearfix">
                            <i class="material-icons">assignment</i>
                            <span class="project-title">Tasks</span>
                            <span class="project-detail">3 open</span>
                            <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 50%"></div>
                            </div>
                          </li>
                          <li class="clearfix">
                            <i class="material-icons">attach_money</i>
                            <span class="project-title">Revenue</span>
                            <span class="project-detail">+20%</span>
                            <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 20%"></div>
                            </div>
                          </li>
                          <li class="clearfix">
                            <i class="material-icons">payment</i>
                            <span class="project-title">Payments</span>
                            <span class="project-detail">24 new</span>
                            <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 65%"></div>
                            </div>
                          </li>
                          <li class="clearfix">
                            <i class="material-icons">business_center</i>
                            <span class="project-title">Clients</span>
                            <span class="project-detail">+80%</span>
                            <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 80%"></div>
                            </div>
                          </li>
                          <li class="clearfix">
                            <i class="material-icons">pie_chart</i>
                            <span class="project-title">Turnover</span>
                            <span class="project-detail">+40%</span>
                            <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 40%"></div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataList>
      <p-confirmDialog header="{{'Confirmation'|translate}}" width="300"></p-confirmDialog>
    </div>
  </div>
</div>