<form novalidate (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
    <p-dialog header="{{'Course setting'|translate}}" [(visible)]="display" modal="false" height="100%" [responsive]="true" appendTo="body" [closeOnEscape]="false" [closable]="false">
        <div class="spinner" [hidden]="!loading"></div>
            <div class="ui-g ui-fluid form-group">
                <div class="ui-g-12">
                    <p-checkbox name="unit_complete" binary="true" label="{{'Complete unit by order user'|translate}}" [(ngModel)]="object.complete_unit_by_order"></p-checkbox>
                </div>
                <div class="ui-g-12">
                    <label>{{'Prequisite course' |translate}}: {{object.prequisite_course_name}}</label>
                    <i class="material-icons" (click)="selectCourse();">open_in_browser</i>
                    <i class="material-icons" (click)="clearCourse();">clear</i>
                </div>
            </div>
        <p-footer>
            <button type="submit" [disabled]="loading" pButton icon="ui-icon-check" label="{{'Save'|translate}}" (click)="save()" [disabled]="!f.form.valid"></button>
            <button type="button" pButton icon="ui-icon-clear" (click)="hide()" label="{{'Close'|translate}}"></button>
        </p-footer>
    </p-dialog>
</form>
<select-course-dialog></select-course-dialog>
