<div class="card card-w-title ui-g lms-search-course">
    <div class="ui-lg-6 ui-md-12 ui-g-12"><h1>{{'Search courses'|translate}}</h1></div>
    <div class="search ui-lg-6 ui-md-12 ui-g-12">
        <div class="ui-inputgroup fRight">
            <input type="text" pInputText placeholder="Keyword" name="keyword" [(ngModel)]="keyword">
            <button pButton type="button" icon="ui-icon-search" (click)="searchCourse()"></button>
        </div>
    </div>
    <div class="ui-lg-3 ui-md-12 ui-g-12">
        <div class="ui-lg-12 ui-md-6 ui-g-6 filter-course">
            <p-panel header="Filter by mode" [toggleable]="true" headerStyleClass="filter-course-search">
                <div class="ui-g checkbox-filter">
                    <div class="ui-lg-6 ui-md-12 ui-g-12">
                        <p-checkbox name="self_study_mode" value="'self-study'" label="{{'Self-study'|translate}}" [(ngModel)]="selfStudyMode" binary="true"></p-checkbox>
                    </div>
                    <div class="ui-lg-6 ui-md-12 ui-g-12">
                        <p-checkbox name="group_mode" value="'group'" label="{{'Group study'|translate}}" [(ngModel)]="groupStudyMode" binary="true"></p-checkbox>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="ui-lg-12 ui-md-6 ui-g-6 filter-course">
            <p-panel header="Filter by competency" [toggleable]="true" headerStyleClass="filter-course-search">
                <div class="ui-g checkbox-filter">
                    <p-dropdown [options]="competencies" optionLabel="name" dataKey="id" [(ngModel)]="selectedCompetency" placeholder="{{'Select a competency'| translate}}"></p-dropdown>
                </div>
            </p-panel>
        </div>
    </div>
    <div class="col-lg-9 ui-md-12 ui-g-12" style="width: 75%;" *ngIf="courses && courses.length">
        <p-dataScroller [value]="courses" [rows]="10" styleClass="lms-course-list">
            <ng-template let-course pTemplate="item">
                <p-card styleClass="lms-course-list-item">
                    <div class="ui-g">
                        <div class="ui-lg-8 ui-md-12 ui-g-12">
                            <div class="ui-lg-12 ui-md-12 ui-g-12 border">
                                <button pButton type="button" icon="ui-icon-send" title="{{'Send enrollment request'| translate}}" label="{{'Send enrollment request'|translate}}" class="mr4 blue-grey-btn" (click)="sendEnrollmentRequest(course)"></button>
                            </div>
                            <div class="ui-lg-3 ui-md-12 ui-g-12">
                                <span class="profile-image-wrapper">
                                    <img [src]='course.logo | imageBase64' [ngClass]="{'display-none' : !course.logo}"  />
                                    <img *ngIf="!course.logo" src="assets/images/logo/logo-course.jpg">
                                </span>
                                </div>
                            <div class="ui-g-9 ui-md-12 ui-g-12">
                                <h4 class="heading-course">
                                <span>{{course.name}}</span>
                                </h4>
                                <span class="c-status">
                                        {{CONTENT_STATUS[course.status]|translate}}
                                </span>
                                <div class="clearfix"></div>
                                <p-accordion styleClass="cont">
                                    <p-accordionTab header="{{'Summary' | translate}}">
                                        {{course.summary}}
                                    </p-accordionTab>
                                    <p-accordionTab header="{{'Description' | translate}}">
                                        <p [innerHTML]="course.description"></p>
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                        <div class="ui-lg-4 ui-md-12 ui-g-12">
                            <p-card styleClass="lms-course-detail">
                                <ul class="list-cmt">
                                    <li class="clearfix">
                                        <i class="material-icons">toys</i>
                                        <span class="cmt-title">{{'Code'|translate}}</span>
                                        <span class="cmt-detail">{{course.code}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">copyright</i>
                                        <span class="cmt-title">{{'Author'|translate}}</span>
                                        <span class="cmt-detail">{{course.author_name}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">invert_colors</i>
                                        <span class="cmt-title">{{'Mode'|translate}}</span>
                                        <span class="cmt-detail">{{COURSE_MODE[course.mode]|translate}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">layers</i>
                                        <span class="cmt-title">{{'Number of unit'|translate}}</span>
                                        <span class="cmt-detail">{{course.unit_count}}</span>
                                    </li>
                                    <li class="clearfix" style="border-bottom: none;">
                                        <i class="material-icons">toc</i>
                                        <span class="cmt-title">{{'Group'|translate}}</span>
                                        <span class="cmt-detail">{{course.group_id__DESC__}}</span>
                                    </li>
                                </ul>
                            </p-card>
                        </div>
                    </div>
                </p-card>
            </ng-template>
        </p-dataScroller>
    </div>
</div>