<p-dialog header="{{'Project submission'|translate}}" [(visible)]="display" modal="true" width="320" height="100%" [responsive]="true" appendTo="body">
	<div class="spinner" [hidden]="!loading"></div>
  	<div class="ui-g-6">
      <p-progressBar [value]="percentage" *ngIf="loading"></p-progressBar>
          <p-fileUpload name="uploadLocal" mode="basic" chooseLabel="{{'Upload from computer'|translate}}" (onSelect)="changeFileEvent($event)" accept="*" maxFileSize="1024*8" showUploadButton="false">
          </p-fileUpload>
          <span class="file-upload"><a href="{{submit.file_url}}" target="_blank" *ngIf="submit.file_url">{{submit.filename}}</a></span>
        </div>
  <p-footer>
    <button type="button" pButton icon="ui-icon-check" (click)="confirm()" label="{{'Confirm'|translate}}"></button>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Cancel'|translate}}"></button>
  </p-footer>
</p-dialog>