.remove-background {
    background: #ffffff;
}

.remove-border {
    border: none;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.txtBold {
    font-weight: bold
}

.dpInB {
    display: inline-block;
}

.lineHeight2-25 {
    line-height: 2.25em;
}

.clear {
    clear: both;
}

.full-dialog {
    width: 100%;
    height: 100%;
}

.large-dialog {
    width: 960px;
    height: 720px;
}

.large-dialog-panel {
    width: 100%;
    height: 655px;
}

.small-dialog {
    width: 640px;
    height: 640px;
}

.small-dialog-panel {
    width: 100%;
    height: 575px;
}

.scroll-y {
    overflow-y: auto;
}

.language {
    list-style-type: none;
}

label {
     font: 15px arial, sans-serif;
     /*font-weight: bold;*/
}

.card-footer {
    margin: 10px;
    text-align: right;
}

.dialog-style{
    height: calc(100vh * 88%);
}
