$primaryColor:#e1213f;
$primaryDarkColor:#c71632;
$primaryLightColor:#E0334D;
$primaryLightestColor:#fadede;
$primaryTextColor:#ffffff;
$accentColor:#c71633;
$accentDarkColor: #9CCC65;
$accentLightColor: #9CCC65;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';