<div class="card card-w-title">
        <h1>{{'Competency matrix'|translate}}</h1>
        <div class="ui-g">
            <div class="ui-g-12">
                <p-table  #skillTable [value]="courses" [paginator]="true" [rows]="25" [responsive]="true" selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                             <th>
                            {{'Index'|translate}}
                        </th>
                            <th [pSortableColumn]="'name'">
                                {{'Course'|translate}}
                                <p-sortIcon [field]="'name'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'group'">
                                {{'Competency group'|translate}}
                                <p-sortIcon [field]="'group'"></p-sortIcon>
                            </th>   
                            <th  [pSortableColumn]="'competency'">
                                {{'Competency'|translate}}
                                <p-sortIcon [field]="'competency'"></p-sortIcon>
                            </th> 
                             <th  [pSortableColumn]="'level'">
                                {{'Level'|translate}}
                                <p-sortIcon [field]="'level'"></p-sortIcon>
                            </th> 
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-course let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="course">
                            <td>{{rowIndex+1}}</td>
                            <td style="text-align: left;">{{course.name}}</td>
                            <td style="text-align: left;">{{course.competency_group_name}}</td>
                            <td style="text-align: left;">{{course.competency_name}}</td>
                            <td style="text-align: left;">{{course.competency_level_name}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>