<p-dialog header="{{'Class exams'|translate}}" [(visible)]="display" modal="true" width="800" [responsive]="true" appendTo="body">
  <div class="ui-g">
        <div class="ui-g-12">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="add()" icon="ui-icon-add"></button>
                    <button pButton type="button" label="{{'Edit'|translate}}" class="purple-btn" icon="ui-icon-mode-edit" (click)="edit()" [disabled]="!selectedClassExam"></button>
                    <button pButton type="button" label="{{'Enroll'|translate}}" class="green-btn" icon="ui-icon-people" (click)="enroll()" [disabled]="!selectedClassExam"></button>
                </div>
                <div class="ui-toolbar-group-right">
                    <button pButton type="button" icon="ui-icon-star" title="{{'Mark'| translate}}" label="{{'Mark'|translate}}" class="orange-btn" style="></button>
                    <button pButton type="button" icon="ui-icon-timeline" title="{{'Result'| translate}}" label="{{'Result'|translate}}" class="oran(click)="viewScore()"></button>
                </div>
            </p-toolbar>
            <p-table #examTable [value]="classExams" [paginator]="true" [rows]="10" selectionMode="single" 
            [(selection)]="selectedClassExam" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th>
                            {{'Start'|translate}}
                        </th>
                        <th>
                            {{'End'|translate}}
                        </th>
                        <th [pSortableColumn]="'status'">
                            {{'Status'|translate}}
                            <p-sortIcon [field]="'status'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-exam>
                    <tr [pSelectableRow]="exam">
                        <td>{{exam.name}}</td>
                        <td>{{exam.start | date : "dd/MM/yyyy"}}</td>
                        <td>{{exam.end | date : "dd/MM/yyyy"}}</td>
                        <td>{{EXAM_STATUS[exam.status] | translate}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{classExams?.length}}
                </ng-template>
                <ng-template pTemplate="emptymessage" >
                    <tr>
                        <td [attr.colspan]="4">
                            {{'No records found'|translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
<etraining-exam-dialog></etraining-exam-dialog>
<etraining-class-exam-enroll-dialog></etraining-class-exam-enroll-dialog>
<etraining-exam-marking-dialog></etraining-exam-marking-dialog>
<etraining-exam-score-dialog></etraining-exam-score-dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>