<p-dialog header="{{'Gradebook'|translate}}: {{student.name}}" [(visible)]="display" modal="true" width="1100" [responsive]="true"
    appendTo="body">
    <div class="spinner" [hidden]="!loading"></div>
    <p-scrollPanel [style]="{width: '100%', height: '480px'}">
        <div class="ui-g-12 ">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button " label="{{ 'Issue certificate'|translate}} " class="blue-grey-btn " icon="ui-icon-beenhere "
                        (click)="issueCertificate()" *ngIf="!certificate && viewer.role=='teacher'"></button>
                    <button pButton type="button " label="{{ 'View certificate'|translate}} " class="blue-grey-btn " icon="ui-icon-print " (click)="printCertificate()"
                        *ngIf="certificate"></button>
                </div>
                <div class="ui-toolbar-group-right">
                    <button pButton type="button " label="{{ 'Download score'|translate}} " class="blue-grey-btn " icon="ui-icon-insert-chart "
                        (click)="downloadScoreReport()"></button>
                </div>
            </p-toolbar>

            <p-table #stasTable [value]="stats" [paginator]="false" [rows]="1" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th> {{'Total course unit'|translate}}</th>
                        <th> {{'Completed course unit'|translate}}</th>
                        <th>
                            {{'% completion'|translate}}
                        </th>
                        <th>
                            {{'First attempt'|translate}}
                        </th>
                        <th>
                            {{'Last attempt'|translate}}
                        </th>
                        <th>
                            {{'Time spend'|translate}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record>
                    <tr [pSelectableRow]="record">
                        <td>{{record.total_unit}}</td>
                        <td>{{record.complete_unit}}</td>
                        <td>{{record.complete_percent}} %</td>
                        <td>{{record.first_attempt}}</td>
                        <td>{{record.last_attempt}}</td>
                        <td>{{record.time_spent}} {{'minute'|translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="exams.length">
                <p-dataList [value]="exams" [paginator]="true" [rows]="5">
                    <ng-template let-exam pTemplate="item">
                        <p-card *ngVar="getExamRecord(exam) as examRecord">
                            <p-header>
                                <div class="head-exam">
                                </div>
                            </p-header>
                            <div class="ui-g body-exam">
                                <div class="ui-g-8">
                                    <h4>{{exam.name}}</h4>
                                    <span class="e-status">{{exam.status}}</span>
                                    <h5 class="e-title">{{'Summary'|translate}}</h5>
                                    <p>
                                        {{exam.summary}}
                                    </p>
                                    <h5 class="e-title">{{'Instruction'|translate}}</h5>
                                    <p [innerHTML]="exam.instruction"></p>
                                </div>
                                <div class="ui-g-4">
                                    <p-card>
                                        <ul class="list-cmt">
                                            <li class="clearfix">
                                                <i class="material-icons">date_range</i>
                                                <span class="cmt-title">{{'Start date'|translate}}</span>
                                                <span class="cmt-detail">{{exam.start | date : "dd/MM/yyyy"}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <i class="material-icons">date_range</i>
                                                <span class="cmt-title">{{'End date'|translate}}</span>
                                                <span class="cmt-detail">{{exam.end | date : "dd/MM/yyyy"}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <i class="material-icons">alarm</i>
                                                <span class="cmt-title">{{'Duration (mintes)'|translate}}</span>
                                                <span class="cmt-detail">{{exam.duration}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <i class="material-icons">star</i>
                                                <span class="cmt-title">{{'Score'|translate}}</span>
                                                <span class="cmt-detail">{{examRecord.score}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <i class="material-icons">star</i>
                                                <span class="cmt-title">{{'Grade'|translate}}</span>
                                                <span class="cmt-detail">{{examRecord.grade}}</span>
                                            </li>
                                        </ul>
                                        <p-footer>
                                            <button pButton type="button" icon="ui-icon-timeline" title="{{'View answer'| translate}}" label="{{'View answer'|translate}}" class="blue-grey-btn"
                                                style="margin-right:4px;" (click)="viewAnswer(exam)"></button>
                                        </p-footer>
                                    </p-card>
                                </div>
                            </div>
                        </p-card>
                    </ng-template>
                </p-dataList>
            </div>
            <div *ngIf="projects.length">
                <p-dataList [value]="projects" [paginator]="true" [rows]="5">
                    <ng-template let-project pTemplate="item">
                        <p-card *ngVar="getProjectSubmit(project) as projectSubmit">
                            <p-header>
                                <div class="head-exam">
                                </div>
                            </p-header>
                            <div class="ui-g body-exam">
                                <div class="ui-g-8">
                                    <h4>{{project.name}}</h4>
                                    <span class="e-status">{{project.status}}</span>
                                    <h5 class="e-title">{{'Summary'|translate}}</h5>
                                    <p>
                                        {{project.summary}}
                                    </p>
                                    <h5 class="e-title">{{'Instruction'|translate}}</h5>
                                    <p [innerHTML]="project.instruction"></p>
                                </div>
                                <div class="ui-g-4">
                                    <p-card>
                                        <ul class="list-cmt">
                                            <li class="clearfix">
                                                <i class="material-icons">date_range</i>
                                                <span class="cmt-title">{{'Start date'|translate}}</span>
                                                <span class="cmt-detail">{{project.start | date : "dd/MM/yyyy"}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <i class="material-icons">date_range</i>
                                                <span class="cmt-title">{{'End date'|translate}}</span>
                                                <span class="cmt-detail">{{project.end | date : "dd/MM/yyyy"}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <i class="material-icons">date_range</i>
                                                <span class="cmt-title">{{'Submit date'|translate}}</span>
                                                <span class="cmt-detail">{{projectSubmit.date_submit | date : "dd/MM/yyyy"}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <i class="material-icons">star</i>
                                                <span class="cmt-title">{{'Score'|translate}}</span>
                                                <span class="cmt-detail">{{projectSubmit.score}}</span>
                                            </li>
                                        </ul>
                                        <p-footer>
                                        </p-footer>
                                    </p-card>
                                </div>
                            </div>
                        </p-card>
                    </ng-template>
                </p-dataList>
            </div>
        </div>
    </p-scrollPanel>
    <answer-print-dialog></answer-print-dialog>
    <course-certificate-dialog></course-certificate-dialog>
    <certificate-print-dialog></certificate-print-dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>