<p-dialog header="Đổi mật khẩu" [(visible)]="display" modal="modal" width="300" [responsive]="true">
    <div class="ui-dialog-content" >
        <form class="form-horizontal form-simple" (ngSubmit)="f.form.valid && changePass()"
            id="changPassForm"
            #f="ngForm" novalidate>
            <div class="ui-g form-group ui-fluid">
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="password" pInputText  name="old-pass" [(ngModel)]="old_pass" required
                        #old_pass_input="ngModel">
                        <label>Mật khẩu cũ: </label>
                    </span>
                    <div *ngIf="old_pass_input.invalid && (old_pass_input.dirty || old_pass_input.touched)"
                        class="ui-message ui-messages-error ui-corner-all">
                        <div *ngIf="old_pass_input.errors.required">
                            Thông tin mật khẩu cũ là bắt buộc.
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="password" pInputText  name="new-pass" [(ngModel)]="new_pass" required
                        #new_pass_input="ngModel">
                        <label>Mật khẩu mới: </label>
                    </span>
                    <div *ngIf="new_pass_input.invalid && (new_pass_input.dirty || new_pass_input.touched)"
                        class="ui-message ui-messages-error ui-corner-all">
                        <div *ngIf="new_pass_input.errors.required">
                            Thông tin mật khẩu mới là bắt buộc.
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="password" pInputText   name="confirm-pass" required
                        [(ngModel)]="confirm_pass" #confirm_pass_input="ngModel" matchInput={{new_pass}}>
                        <label>Xác nhận mật khẩu mới: </label>
                    </span>
                    <div *ngIf="confirm_pass_input.invalid && (confirm_pass_input.dirty || confirm_pass_input.touched)"
                        class="ui-message ui-messages-error ui-corner-all">
                        <div *ngIf="confirm_pass_input.errors.matchInput">
                            Thông tin mật khẩu xác nhận không khớp.
                        </div>
                        <div *ngIf="confirm_pass_input.errors.required">
                            Thông tin mật khẩu xác nhận là bắt buộc.
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
    <p-footer>
        <button pButton type="button" icon="ui-icon-close" title="Đóng" label="Đóng" class=" flat" style="margin-right:4px;" (click)="hide()"></button>
        <button pButton type="button" icon="ui-icon-check" title="Lưu" label="Lưu" class=" flat"></button>
    </p-footer>
</p-dialog>