.login-body {
    background-image: none;
}

.login-panel-header{
	background-image: url('assets/images/login/bg-login.jpg');
	background-size: cover;
	background-color: #b7b7b7;
}

.login-body .login-panel .login-panel-content {
    padding: 30px 25px !important;
}

.login-body .login-panel{
	width: 50%;
	height: 450px;
	left: 25%;
	margin-left: 0;
	border-radius: 15px;
	box-shadow: 0px 20px 35px 0px rgba(2, 92, 132, 0.15);
}

.login-body .login-panel .login-panel-header{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: right;
	color: #fff;
	padding: 0;
}

.login-body .login-panel .login-panel-header .content{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: right;
	color: #fff;
	padding: 75px 30px 62px 10px;
    background-color: #ea1336e0;
    height: 450px;

}

.login-body .login-panel .login-panel-header img{
	width: 100px;
	margin-bottom: 44px;
}

.login-body .login-panel .login-panel-header p{
	margin-top: 60px;
}

.login-body .login-panel .login-panel-header h2{
	font-size: 26px;
	margin-top: 10px;
}

.login-body .login-panel .login-panel-header h1{
	margin-bottom: 0;
}

.login-panel-content{
	color: #586f79;
}

.login-panel-content p.title{
	line-height: 22px;
}

.ui-fluid .ui-inputgroup .ui-inputtext{
	border: none;
}

.ui-inputgroup{
	border: 1px solid #ddd;
	border-radius: 25px;
	padding: 8px 20px;
	box-shadow: 0 0 5px #daeaf1;
}

.ui-inputtext.ui-state-focus, .ui-inputtext:focus{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-inputgroup:hover, .ui-inputgroup:focus, .ui-inputgroup:active{
	border-color: #c81934;
}

.btn-login{
	background-color: #3d3d3d;
    border-radius: 25px;
    padding: 2px 20px;
    height: auto;
    width: auto;
}

.btn-login:hover, .btn-login:focus, .btn-login:active{
    background-color: #c71633 !important;
    border: none;
    color: #fff;
}

.forgot-pass a{
	color: #586f79 !important;
}

.forgot-pass a:hover, .forgot-pass a:focus, .forgot-pass a:active{
	color: #c81934;
}

.forgot-pass{
	text-align: left !important;
}

.footer{
	text-align: center;
    width: 100%;
    bottom: 5%;
    color: #586f79;
}

.ui-fluid .ui-message {
    margin: 10px 0px 0px;
    display: block;
    border-radius: 25px !important;
    padding: 5px 15px;
    background: #ea1336e0;
    color: #fff;
    border: none;
}

@media screen and (max-width: 768px) {
  .login-body .login-panel{
	width: 100%;
	height: auto;
	left: 0;
	top: 36%;
	}

	.login-body .login-panel .login-panel-header{
		border-bottom-left-radius: 0;
	    border-top-right-radius: 15px;
	    text-align: center;
	}

	.login-body .login-panel .login-panel-header .content{
		border-top-right-radius: 15px;
		border-bottom-left-radius: 0;
		text-align: center;
		padding: 40px 15px 20px;
	    height: auto;
	}

	.login-body .login-panel .login-panel-header img{
		margin-bottom: 0;
	}

	.login-body .login-panel .login-panel-header p{
		display: none;
	}

	.login-body .login-panel .login-panel-header h1{
		margin-bottom: 0;
	}

	.login-body .login-panel .login-panel-content{
		padding: 5px 25px !important;
	}

	.footer{
		bottom: 0;
	}


}

@media screen and (max-height: 600px){
	.footer{
		display: none;
	}
}