<p-growl [sticky]="true"></p-growl>
<div class="login-body">
  <div class="login-panel ui-fluid ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-6 login-panel-header">
      <div class="content">
        <img src='assets/images/logo/logo_interview_white.png'>
        <h2>{{'System'|translate}}</h2>
        <h1>{{'Corporate E-learnining'|translate}}</h1>
        <p>Support@vietinterview.com</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6 login-panel-content">
      <form class="form-horizontal form-simple" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate autocomplete="off">
        <div class="ui-g">
          <div class=" ui-g-12 ">
            <li #languages class="language pb14" (click)="eventManager.topbarRootItemClick( languages)">
              <a pTooltip="{{'Language'|translate}}" *ngIf="lang=='gb'" (click)="setLang('vn')">
                <i class="topbar-icon material-icons">language</i>
                <span class="flag-icon lh21" [ngClass]="'flag-icon-gb'"></span>
                <span>{{'English' | translate}}</span>
              </a>
              <a pTooltip="{{'Language'|translate}}" *ngIf="lang=='vn'" (click)="setLang('gb')">
                <i class="topbar-icon material-icons">language</i>
                <span class="flag-icon lh21" [ngClass]="'flag-icon-vn'"></span>
                <span>{{'Vietnamese' | translate}}</span>
              </a>
            </li>
            <p class="title removeMB">{{'Please log in with your account and password.' | translate}}</p>
          </div>
          <div class=" ui-g-12 pb8">
            <div class="ui-inputgroup">
              <i class="material-icons">account_circle</i>
              <input type="text" pInputText name="username" [(ngModel)]="credential.username" [(lowercase)]="credential.username" #username="ngModel"
                placeholder="Username" required>
            </div>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="ui-message ui-messages-error ui-corner-all">
              <div *ngIf="username.errors.required">
                {{'Username is required' | translate}}
              </div>
            </div>
          </div>
          <div class=" ui-g-12 pt8 pb8">
            <div class="ui-inputgroup">
              <i class="material-icons">lock</i>
              <input type="password" pInputText autocomplete="off" name="password" [(ngModel)]="credential.password" #password="ngModel"
                required placeholder="Password" icon="ui-icon-lock">
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="ui-message ui-messages-error ui-corner-all">
              <div *ngIf="password.errors.required">
                {{'Password is required' | translate}}
              </div>
            </div>
          </div>
          <div class="ui-g-12 pl20 remember-pass">
            <p-checkbox name="remember" binary="true" label="{{'Remember password'|translate}}" [(ngModel)]="remember"></p-checkbox>
          </div>
          <div class="ui-g-12">
            <button pButton type="submit" icon="fa ui-icon-chevron-right" iconPos="right" class="btn-login" label="{{'Login'|translate}}" [disabled]="loading"></button>
          </div>
          <div class="ui-g-12 forgot-pass">
            <a routerLink="/auth/recover-pass">{{'Forgot your password ?'|translate}}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="footer">
    <p>© Copyright Thanh Cong A Chau, All Rights Reserved</p>
  </div>
</div>