.hrm-toolbar-tree{
}
.mrg-bt{
    margin-bottom: 15px;
}

.head-exam{
	background-color: #e91e63;
}

.head-exam button{
	margin: 5px 0 5px 5px;
}

/*.body-exam{
    border: 1px solid #d8d8d8;
}*/

.list-cmt{
	padding-left: 0;
}

.list-cmt li{
	list-style: none;
	padding: 16px 24px;
    border-bottom: 1px solid #dbdbdb;
}

.list-cmt li i{
	font-size: 24px;
    margin-right: 8px;
    width: 32px;
    vertical-align: middle;
    color: #757575;
}

.list-cmt li .cmt-title{
	font-weight: 700;
    margin-right: 8px;
}

.list-cmt li .cmt-detail{
	color: #757575;
	float: right;
}

.e-title{
	font-size: 15px;
}

.e-status{
	background-color: #e91e63;
	border-radius: 9px;
    padding: 2px 8px;
    color: #fff;
}