<div class="card card-w-title">
  <h1>{{'Groups'|translate}}</h1>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="add()" icon="ui-icon-add"></button>
          <button pButton type="button" label="{{'Edit'|translate}}"  class="purple-btn" icon="ui-icon-mode-edit" (click)="edit()" [disabled]="!selectedNode"></button>
          <button pButton type="button" label="{{'Delete'|translate}}"  class="red-btn" icon="ui-icon-delete" (click)="delete()" [disabled]="!selectedNode"></button>
        </div>  
      </p-toolbar>
      <div class="ui-g-12">
      <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" [contextMenu]="cm">
      </p-tree>
      <p-contextMenu #cm [model]="actionItems"></p-contextMenu>
    </div>
      <group-dialog></group-dialog>
    </div>
  </div>
</div>