<div class="card card-w-title">
  <h1>{{'Groups'|translate}}</h1>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <div class="ui-g">
            <div class="ui-g-4 ui-md-2 ui-lg-2">
              <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="add()" icon="ui-icon-add"></button>
            </div>
            <div class="ui-g-4 ui-md-2 ui-lg-2">
              <button pButton type="button" label="{{'Edit'|translate}}" class="purple-btn" icon="ui-icon-mode-edit" (click)="edit()" [disabled]="!selectedNode"></button>
            </div>
            <div class="ui-g-4 ui-md-2 ui-lg-2">
              <button pButton type="button" label="{{'Delete'|translate}}" class="red-btn" icon="ui-icon-delete" (click)="delete()" [disabled]="!selectedNode"></button>
            </div>
          </div>
        </div>
      </p-toolbar>
      <p-treeTable class="forpc" [value]="tree" selectionMode="single" [(selection)]="selectedNode">
        <p-column field="name" header="{{'Name'|translate}}"></p-column>
        <p-column styleClass="group-code" field="code" header="{{'Code'|translate}}"></p-column>
      </p-treeTable>

      <p-treeTable class="formb" [value]="tree" selectionMode="single" [(selection)]="selectedNode">
        <p-column field="name" header="{{'Name'|translate}}"></p-column>
      </p-treeTable>
      <etraining-group-dialog></etraining-group-dialog>
      <!-- <p-confirmDialog header="{{'Confirmation'|translate}}"  width="300"></p-confirmDialog> -->
    </div>
  </div>
</div>