<p-dialog header="{{'Select competency'|translate}}" [positionTop]="50" [(visible)]="display" modal="true" width="800" height="100%" [responsive]="true" appendTo="body">
  <div class="ui-g ui-fluid form-group">
    <div class="ui-g-5">
      <p-tree [value]="tree" selectionMode="single" (onNodeSelect)="nodeSelect($event)" [(selection)]="selectedNode" ></p-tree>
    </div>
    <div class="ui-g-7">
      <p-table  [value]="competencies" [(selection)]="selectedCompetency" >
        <ng-template pTemplate="header" >
          <tr>
            <th style="width: 2.25em">
            </th>
            <th>
              {{'Name'|translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData">
            <td>
              <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td>
            <td >
              {{rowData.name}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-footer>
    <button type="button" [disabled]="!selectedCompetency" pButton icon="fa-check" label="{{'OK'|translate}}" (click)="selectCompetency()"></button>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>