<form novalidate (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
    <p-dialog header="{{'Class'|translate}}" [(visible)]="display" modal="true" width="960" height="100%" [responsive]="true" appendTo="body" [closeOnEscape]="false" [closable]="false">
        <div class="spinner" [hidden]="!loading"></div>
        <div class="ui-g ui-fluid form-group">
            <div class="ui-g-12">
                <label style="font-weight: 600;">{{'Course'|translate}}:{{object.course_name}}</label>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>{{'Enrollment'|translate}}</label>
                    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" readonlyInput="true" name="date" [inline]="true" required [locale]="locale" (onSelect)="onDateSelect($event)" [showIcon]="true"></p-calendar>
                </div>
                <div class="ui-g-8">
                    <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="object.name" #name="ngModel" name="name" required>
            <label>{{'Name'|translate}}</label>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="ui-message ui-messages-error ui-corner-all">
              <div *ngIf="name.errors.required">
                {{'Name is required' | translate}}
              </div>
            </div>
          </span>
                </div>
            </div>
        </div>
        <p-footer>
            <button type="submit" (click)="f.ngSubmit.emit()" [disabled]="!f.form.valid" pButton icon="ui-icon" label="{{'Save'|translate}}"></button>
            <button type="button" pButton icon="ui-icon-clear" (click)="hide()" label="{{'Close'|translate}}"></button>
        </p-footer>
    </p-dialog>
</form>
