
<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="assets/layout/images/logo-slim.png">
        </div>
        <div class="login-panel-content">
            <form class="form-horizontal form-simple" (ngSubmit)="f.form.valid && login()"
                #f="ngForm" novalidate>
                <div class="ui-g">
                    <div class=" ui-g-12 ">
                        <p><span>Hệ thông sẽ gửi thông tin khởi tạo lại mật khẩu đến hòm thư của bạn.</span>
                                </p>
                    </div>
                    <div class=" ui-g-12 ">
                        <span class="md-inputfield">
                            <input type="text"  pInputText #cloudid="ngModel" name="cloudid" required [(ngModel)]="recover_cloud">
                            <label for="cloudid">Cloud ID</label>
                            <div *ngIf="cloudid.invalid && (cloudid.dirty || cloudid.touched)"
                                class="ui-message ui-messages-error ui-corner-all">
                                <div *ngIf="cloudid.errors.required">
                                    Thông tin Cloud ID là bắt buộc.
                                </div>
                            </div>
                            
                        </span>
                    </div>
                    <div class=" ui-g-12 ">
                        <span class="md-inputfield">
                            <input type="email" pInputText name="email"
                            [(ngModel)]="recover_email" #email="ngModel"
                            required>
                            <label for="email">Tên hộp thư"</label>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                class="ui-message ui-messages-error ui-corner-all">
                                <div *ngIf="email.errors.required">
                                    Thông tin hộp thư là bắt buộc.
                                </div>
                            </div>
                        </span>
                    </div>
                 
                    <div class="ui-g-12">
                        <button pButton type="submit"  icon="fa ui-icon-lock-open" label="Khôi phục mật khẩu"></button>
                    </div>
                    <div class="ui-g-12">
                        <a routerLink="/auth/login">Trở
                                    về đăng nhập</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

