<div class="login-body">
  <div class="login-panel ui-fluid">
    <div class="login-panel-header">
      <img [src]='company.logo | imageBase64'>
    </div>
    <div class="login-panel-content">
      <form class="form-horizontal form-simple" (ngSubmit)="f.form.valid && recoverPassword()" #f="ngForm" novalidate>
        <div class="ui-g">
          <div class=" ui-g-12 ">
            <h1>{{'Password Recovery Form'|translate}}
            </h1>
          </div>
          <div class=" ui-g-12 ">
            <span class="md-inputfield">
                <input type="text"  pInputText #cloudid="ngModel"   [hidden]="mode=='prod'" name="cloudid" required [(ngModel)]="recover_cloud">
                <label for="cloudid">Cloud ID</label>
            </span>
          </div>
          <div class=" ui-g-12 ">
            <span class="md-inputfield">
                <input type="email" pInputText name="email" [(ngModel)]="recover_email" #email="ngModel" required>
                <label for="email">{{'Email'|translate}}</label>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="ui-message ui-messages-error ui-corner-all">
                    <div *ngIf="email.errors.required">
                        {{'Email is required' | translate}}
                    </div>
                </div>
            </span>
          </div>
          <div class="ui-g-12">
            <button pButton type="submit" icon="fa ui-icon-lock-open" label="{{'Submit'}}"></button>
          </div>
          <div class="ui-g-12">
            <a routerLink="/auth/login">{{'Return to login'|translate}}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>