<form novalidate (ngSubmit)="save()" #f="ngForm" autocomplete="off">
  <p-dialog header="{{'User profile'|translate}}" [(visible)]="display" modal="true" width="1000" [responsive]="true" [positionTop]="20">
    <div class="spinner" [hidden]="!loading"></div>
    <p-tabView styleClass="profile-dialog">
      <p-tabPanel header="{{'Account info'|translate}}" leftIcon="ui-icon-people">
        <div class="ui-g ui-fluid form-group">
          <div class="ui-g-6">
            <label>{{'Parent group'|translate}}</label>
            <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
          </div>
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-12 mt5 mb25">
                <span class="md-inputfield">
                  <input type="text" pInputText [(ngModel)]="object.name" name="name">
                  <label>{{'Name'|translate}}</label>
                </span>
              </div>
              <div class="ui-g-12 mb10">
                <span class="md-inputfield">
                  <input type="text" pInputText [(ngModel)]="object.login" name="login" [disabled]="true">
                  <label>{{'Login'|translate}}</label>
                </span>
              </div>
              <div class="ui-g-6">
                <div class="mb10" *ngIf="ContextUser.IsAdmin">
                  <p-checkbox name="admin" binary="true" label="{{'Admin user'|translate}}" [(ngModel)]="object.is_admin"></p-checkbox>
                </div>
                <div *ngIf="ContextUser.IsAdmin">
                  <p-checkbox name="banned" binary="true" label="{{'Banned from access'|translate}}" [(ngModel)]="object.banned"></p-checkbox>
                </div>
              </div>
              <div class="ui-g-6">
                <label>{{'Avatar'|translate}}</label>
                <image-base64 [(src64)]="object.image"></image-base64>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="{{'Contact info'|translate}}" leftIcon="ui-icon-phone">
        <div class="ui-g ui-fluid form-group pt20">
          <div class="ui-g-6">
            <span class="md-inputfield">
              <input type="text" pInputText [(ngModel)]="object.email" name="email" pKeyFilter="email" [disabled]="true">
              <label>{{'Email'|translate}}</label>
            </span>
          </div>
          <div class="ui-g-6">
            <span class="md-inputfield">
              <input type="text" pInputText [(ngModel)]="object.phone" name="phone">
              <label>{{'Mobile'|translate}}</label>
            </span>
          </div>
       
         <div class="ui-g-6">
        <span class="md-inputfield">
          <input type="text" pInputText [(ngModel)]="object.position" #position="ngModel" name="department" required>
          <label>{{'Position'|translate}}</label>
        </span>
      </div>

      <div class="ui-g-6">
          <label>{{'Gender'|translate}}</label>
          <p-radioButton name="gender" value="male" label="{{'Male'|translate}}" [(ngModel)]="object.gender" inputId="opt1" #gender="ngModel"></p-radioButton>
          <p-radioButton name="gender" value="female" label="{{'Female'|translate}}" [(ngModel)]="object.gender" inputId="opt2"></p-radioButton>
        </div>
        <div *ngIf="gender.invalid" class="ui-message ui-messages-error ui-corner-all" style="margin-top: 10px;">
          <div *ngIf="gender.errors.required">
            {{'Gender is required' | translate}}
          </div>
      </div>

      <div class="ui-g-6">
        <span class="md-inputfield">
          <p-calendar [(ngModel)]="object.dob" #dob="ngModel" name="dob" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="1918:2099" required="true" dateFormat="dd/mm/yy"></p-calendar>
          <label>{{'Birthday'|translate}}</label>
          <div *ngIf="dob.invalid" class="ui-message ui-messages-error ui-corner-all" style="margin: 10px 0 20px;">
            <div *ngIf="dob.errors.required">
              {{'Birthday is required' | translate}}
            </div>
          </div>
        </span>
         </div>
      </div>
      </p-tabPanel>
      <p-tabPanel header="{{'Course history'|translate}}" leftIcon="ui-icon-school" [style]="{width: '100%', height: '430px'}">
        <p-table [value]="courseMembers">
          <ng-template pTemplate="header">
            <tr>
              <th>{{'Course'|translate}}</th>
              <th>{{'Register date'|translate}}</th>
              <th>{{'Enrollment status'|translate}}</th>
              <th>{{'Certificate'|translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-member>
            <tr>
              <td>{{member.course_name}}</td>
              <td>{{member.date_register}}</td>
              <td>{{COURSE_MEMBER_ENROLL_STATUS[member.enroll_status] | translate}}</td>
              <td>
                <a *ngIf="member.certificate" (click)="printCertificate(member.certificate)">{{'Print'|translate}}</a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="{{'Exam history'|translate}}" leftIcon="ui-icon-grade" [style]="{width: '100%', height: '430px'}">
        <p-table [value]="examMembers">
          <ng-template pTemplate="header">
            <tr>
              <th>{{'Exam'|translate}}</th>
              <th>{{'Register date'|translate}}</th>
              <th>{{'Enrollment status'|translate}}</th>
              <th>{{'Grade'|translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-member>
            <tr>
              <td>{{member.exam_name}}</td>
              <td>{{member.date_register}}</td>
              <td>{{EXAM_MEMBER_ENROLL_STATUS[member.enroll_status] | translate}}</td>
              <td>{{member.grade}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>


      <p-tabPanel header="{{'Skill'|translate}}" leftIcon="ui-icon-linear-scale" [style]="{width: '100%', height: '430px'}">
        <p-table [value]="skills">
          <ng-template pTemplate="header">
            <tr>
              <th>{{'Competency'|translate}}</th>
              <th>{{'Level'|translate}}</th>
              <th>{{'Date acquired'|translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-skill>
            <tr>
              <td>{{skill.competency_name}}</td>
              <td>{{skill.competency_level_name}}</td>
              <td>{{skill.date_acquire}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
    <certificate-print-dialog></certificate-print-dialog>
    <p-footer>
      <button type="submit" pButton icon="fa-check" label="{{'Save'|translate}}"></button>
      <button type="button" pButton icon="fa-close" (click)="cancel()" label="{{'Close'|translate}}"></button>
    </p-footer>
  </p-dialog>
</form>