<p-dialog header="{{'Import from Excel'|translate}}" [(visible)]="display" #importDialog modal="true" [responsive]="true" [positionTop]="20" [positionLeft]="300" styleClass="import-excel" [closeOnEscape]="false" [closable]="false">
    <div class="spinner" [hidden]="!loading"></div>
    <p-growl ></p-growl>
    <div class="ui-g">
        <div class="ui-g-12">
            <p-fieldset legend="{{'Download template'|translate}}">
                <a href="/assets/templates/user_import.xlsx" target="_blank">user_import.xlsx</a>
            </p-fieldset>
        </div>
        <div class="ui-g-12">
            <p-fileUpload name="userlist" mode="basic" chooseLabel="{{'Select file'|translate}}" (onSelect)="selectFile($event)" accept="'xlsx'" maxFileSize="1024*16" showUploadButton="false">
            </p-fileUpload>
            <span class="file-upload"><label [hidden]="!fileName">{{fileName}}</label></span>
        </div>
        <div class="ui-g-12" [hidden]='step!=2'>
            <ul class="select-columns">
                <li *ngFor="let i of columnMappings | keys">
                    <div class="ui-g-4" >
                    <p class="txtBold">Column {{i}}</p>
                    <p-dropdown [options]="fields" [(ngModel)]="columnMappings[i]" optionLabel="label" [style]="{width: 'auto'}"></p-dropdown>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ui-g-12" [hidden]='step!=3'>
          <p-progressBar mode="indetermine" *ngIf="loading"></p-progressBar>
            <ul>
                <li *ngFor="let msg of statusMessages;let i =index">
                    <p> {{msg}} </p>
                </li>
            </ul>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="{{'Import'|translate}}" (click)="import()" [disabled]="users.length==0"></button>
        <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>
