<div class="modal animated zoomIn text-xs-left" id="userItemDialog" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel34"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2"><i class="icon-edit2"></i> Tài khoản truy cập</h4>
            </div>
            <form novalidate (ngSubmit)="save()"
                #f="ngForm">
                <div class="modal-body ">
                    <div class="form-group">
                        <label>Tài khoản<span>*</span></label>
                        <div class="form-group position-relative ">
                            <input [disabled]="object.id" type="text" name="login" class="form-control" required [(ngModel)]="object.login"
                            #login="ngModel">
                        </div>
                        <div *ngIf="login.invalid && (login.dirty || login.touched)"
                            class="alert alert-danger ">
                            <div *ngIf="login.errors.required">
                                Trường Tài khoản là bắt buộc.
                            </div>
                        </div>
                        <label>Tên hiển thị<span>*</span></label>
                        <div class="form-group position-relative ">
                            <input type="text" name="name" class="form-control" required [(ngModel)]="object.name"
                            #name="ngModel">
                        </div>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                            class="alert alert-danger ">
                            <div *ngIf="name.errors.required">
                                Trường Tên hiển thị là bắt buộc.
                            </div>
                        </div>
                        <label>Mật khẩu: </label>
                        <div class="form-group position-relative">
                            <input  [disabled]="object.id" type="password" class="form-control" name="new-pass" [(ngModel)]="object.password" required
                            #password="ngModel">
                            
                            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                class="alert alert-danger ">
                                <div *ngIf="password.errors.required">
                                    Thông tin mật khẩu là bắt buộc.
                                </div>
                            </div>
                        </div>
                        <label>Quyền truy cập: </label>
                        <div class="form-group position-relative">
                            <select class="form-control" [(ngModel)]="object.ui_access_group"
                                
                                name="group_id">
                                <option *ngFor="let group of groups| async"
                                    [value]="group.id"
                                    [attr.selected]="group.id==object.ui_access_group ? true : null">
                                    {{group.name}}
                                </option>
                            </select>
                        </div>
                        <label>Nhân viên: </label>
                        <div class="form-group position-relative">
                            <select class="form-control" [(ngModel)]="employeeId" name="employee_id">
                                <option *ngFor="let employee of employees| async"
                                    [value]="employee.id"
                                    [attr.selected]="employee.id==employeeId ? true : null">
                                    {{employee.name}}
                                </option>
                            </select>
                        </div>
                        <label>Kích hoạt: </label>
                        <div class="form-group position-relative">
                         
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary " data-dismiss="modal"
                    data-backdrop="false">
                    Đóng
                    </button>
                    <button type="submit" class="btn btn-outline-primary">
                    {{object && object.id ?  'Cập nhật': 'Tạo mới'}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>