<div class="card card-w-title">
    <h1>{{'Exams'|translate}}</h1>
    <div class="ui-g">
        <div class="ui-g-12">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addExam()" icon="ui-icon-add"></button>
                    <button pButton type="button" label="{{'Edit'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editExam(selectedExam)" [disabled]="!selectedExam"></button>
                    <button pButton type="button" label="{{'View'|translate}}" class="blue-grey-btn" icon="ui-icon-visibility" (click)="viewExam(selectedExam)" [disabled]="!selectedExam"></button>
                    <button pButton type="button" label="{{'Delete'|translate}}" class="red-btn" icon="ui-icon-delete" (click)="deleteExam(selectedExam)" [disabled]="!selectedExam"></button>
                    <button pButton type="button" label="{{'Request review'|translate}}" class="purple-btn" icon="ui-icon-rate-revie" (click)="requestReview(selectedExam)" [disabled]="!selectedExam ||  selectedExam.review_state =='approved'"></button>
                </div>
                 <div class="ui-toolbar-group-right">
                    <span class="md-inputfield search">
                        <input type="text" pInputText placeholder="{{'Search'|translate}}"
                        (input)="examTable.filterGlobal($event.target.value, 'contains')">   
                        <i class="fa fa-search"></i>      
                    </span>
                </div>
            </p-toolbar>
            <p-table #examTable [value]="exams" [paginator]="true" [rows]="25" selectionMode="single" [(selection)]="selectedExam" [responsive]="true" [globalFilterFields]="['name']">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            {{'Index'|translate}}
                        </th>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th>
                            {{'Supervisor'|translate}}
                        </th>
                        <th>
                            {{'Start'|translate}}
                        </th>
                        <th>
                            {{'End'|translate}}
                        </th>
                        <th [pSortableColumn]="'status'">
                            {{'Status'|translate}}
                            <p-sortIcon [field]="'status'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'review_state'">
                            {{'Reviewed'|translate}}
                            <p-sortIcon [field]="'review_state'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'create_date'">
                            {{'Created'|translate}}
                            <p-sortIcon [field]="'create_date'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'write_date'">
                            {{'Updated'|translate}}
                            <p-sortIcon [field]="'write_date'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-exam let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="exam">
                        <td>{{rowIndex+1}}</td>
                        <td  style="text-align: left;">{{exam.name}}</td>
                        <td class="showformb" style="text-align: left;">{{exam.supervisor_name}}</td>
                        <td class="showformb">{{exam.start | date : "dd/MM/yyyy"}}</td>
                        <td class="showformb">{{exam.end | date : "dd/MM/yyyy"}}</td>
                        <td class="showformb">{{EXAM_STATUS[exam.status] | translate}}</td>
                        <td class="showformb">{{REVIEW_STATE[exam.review_state] | translate}}</td>
                        <td>{{exam.create_date | date : "dd/MM/yyyy "}}</td>
                        <td>{{exam.write_date | date : "dd/MM/yyyy "}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{exams?.length}}
                </ng-template>
            </p-table>
        </div>
    </div>
</div>