.hrm-toolbar-tree{
}
.mrg-bt{
    margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
    
}

.search input{
	padding: 6px 24px 6px 6px;
}

.search i{
	position: absolute;
    right: 0;
    top: 0;
    color: #E8EAF6;
    font-size: 28px;
}