.hrm-toolbar-tree{
}
.mrg-bt{
    margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
    
}

.search input{
    padding: 8px 24px 8px 8px;
    border-width: 1px;
    border-radius: 3px;
}

.search i{
	 position: absolute;
    right: 5px;
    top: 6px;
    color: #888;
    font-size: 22px;
}