<style>
  .ui-scrollpanel-content{
    
  }
</style>

<div *ngIf="mode=='design'">
  <p-progressBar [value]="percentage" *ngIf="loading"></p-progressBar>
  <div class="ui-g">
    <div class="ui-g-6">
      <p-fileUpload name="uploadLocal" mode="basic" chooseLabel="{{'Upload from computer'|translate}}'" (onSelect)="changeFile($event)"
        accept=".ppt,application/vnd.ms-powerpoint,.pptx,application/vnd.openxmlformats-officedocument.presentationml.presentation" maxFileSize="1024*512" showUploadButton="false">
      </p-fileUpload>
      <span class="file-upload"><a href="{{lecture.slide_url}}" target="_blank" *ngIf="lecture.slide_url">{{lecture.filename}}</a></span>
    </div>
  </div>
</div>
<div *ngIf="mode=='preview'">
   <pdf-viewer [stick-to-page]="true" [fit-to-page]="true" [src]="lecture.slide_url" [show-all]="true" [render-text]="true"
    style="display: block;">
  </pdf-viewer>
</div>
