<p-dialog header="{{'Survey sheet templates'|translate}}" [(visible)]="display" modal="true" width="960" height="100%" [responsive]="true" appendTo="body">
    <div class="spinner" [hidden]="!loading"></div>
    <p-scrollPanel [style]="{width: '100%', height: '460px'}">
        <div class="ui-g ans-print" #printSection>
            <div class="ui-g-12" [hidden]="sheet.layout!='single'">
                <p-dataList [value]="surveyQuestions" [rows]="surveyQuestions.length" styleClass="l-question">
                    <ng-template let-question pTemplate="item" let-i="index">
                        <span>{{'Question'|translate}} {{i+1}}:</span>
                        <div question-container></div>
                    </ng-template>
                </p-dataList>
            </div>
            <div class="ui-g-12" [hidden]="sheet.layout!='multiple'">
                <p-dataList [value]="sheetSections" [rows]="sheetSections.length" styleClass="l-section">
                    <ng-template let-section pTemplate="item">
                        <h3>{{'Section'|translate}} {{section.name}}:</h3>
                        <p-dataList [value]="questionBySection(section)" styleClass="l-question">
                            <ng-template let-question pTemplate="item" let-i="index">
                                <span>{{'Question'|translate}} {{i+1}}:</span>
                                <div question-container></div>
                            </ng-template>
                        </p-dataList>
                    </ng-template>
                </p-dataList>
            </div>
        </div>
    </p-scrollPanel>
    <p-footer>
        <button type="button" pButton icon="ui-icon-clear" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>
