<p-dialog header="{{'Exam content'|translate}}" [(visible)]="display" modal="false" width="960" [responsive]="true">
  <p-scrollPanel [style]="{width: '100%', height: '480px'}">
    <p-tabView>
      <p-tabPanel header="{{'Question selection' |translate}}">
        <div class="ui-g ui-fluid form-group">
          <div class="ui-g-12">
          <p-selectButton [options]="examStatus" [(ngModel)]="exam.status" name="status"></p-selectButton>
        </div>
          <div class="ui-g-6">
            <label>{{'Group'|translate}}</label>
            <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
            <p-checkbox name="include_sub_group" binary="true" label="{{'Include sub-group'|translate}}" [(ngModel)]="selector.include_sub_group"></p-checkbox>
          </div>
          <div class="ui-g-6" style="margin-bottom:10px">
            <label>{{'Mode'|translate}}</label>
            <div style="margin-bottom:10px">
              <p-radioButton name="mode" value="manual" label="{{'Manual'|translate}}" [(ngModel)]="selector.mode" inputId="opt1"></p-radioButton>
            </div>
            <div style="margin-bottom:10px">
              <p-radioButton name="mode" value="random" label="{{'Random'|translate}}" [(ngModel)]="selector.mode" inputId="opt2"></p-radioButton>
            </div>
          </div>
          <div class="ui-g-6" [hidden]="selector.mode=='manual'">
            <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="selector.number" name="number" pKeyFilter="pint">
            <label>{{'Number of question'|translate}}</label>
        </span>
          </div>
          <div class="ui-g-6" [hidden]="selector.mode=='manual'">
            <label>{{'Level'|translate}}</label>
            <p-rating [(ngModel)]="selector.level" [stars]="5" name="level"></p-rating>
          </div>
        </div>
        <button pButton type="button" label="{{'Generate questions'|translate}}" class="orange-btn" icon="ui-icon-remove-red-eye" (click)="generateQuestion()" [hidden]="selector.mode=='random'" ></button>
        <button pButton type="button" label="{{'Select questions'|translate}}" class="orange-btn" icon="ui-icon-near-me" (click)="selectQuestion()" [hidden]="selector.mode=='manual'" ></button>
        <p-table #questionTable [value]="questions" [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>
                {{'Title'|translate}}
              </th>
              <th>
                {{'Group'|translate}}
              </th>
              <th>
                {{'Score'|translate}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-question let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex+1}}</td>
              <td>{{question.title}}</td>
              <td>{{question.group_id__DESC__}}</td>
              <td>
                <p-inplace>
                  <span pInplaceDisplay>
                    {{question.score}}
                </span>
                  <span pInplaceContent>
                    <input type="text" pInputText [(ngModel)]="question.score" name="number" pKeyFilter="pint">
                </span>
                </p-inplace>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
                <td colspan="3">{{'Total score'|translate}}</td>
                <td>{{questions | sum}}</td>
            </tr>
        </ng-template>

        </p-table>
      </p-tabPanel>
      <p-tabPanel header="{{'Grade'|translate}}">
        <div class="ui-g ui-fluid form-group">
          <div class="ui-g-12">
            <span class="md-inputfield">
              <input type="text"  pInputText name="scale" [(ngModel)]="exam.scale" pKeyFilter="pint">
              <label for="scale">{{'Scale' | translate}}</label>
          </span>
          </div>
          <div class="ui-g-12">
            <button pButton type="button" icon="ui-icon-add" class="secondary-btn" (click)="addGrade()" pTooltip="{{'Add grade'|translate}}"></button>
            <ul class="options-question">
              <li *ngFor="let grade of grades">
                <span class="md-inputfield">
                  <input type="text" pInputText [(ngModel)]="grade.name" name="grade_name">
                   <label for="grade_name">{{'Name' | translate}}</label>
              </span>
                <span class="md-inputfield">
                  <p-spinner  [(ngModel)]="grade.min_score" name="grade_min"></p-spinner>
                  <label for="grade_min">{{'Min' | translate}}</label>
              </span>
                <span class="md-inputfield">
                <p-spinner  [(ngModel)]="grade.max_score" name="grade_max"></p-spinner>
                  <label for="grade_max">{{'Max' | translate}}</label>
              </span>
                <button pButton type="button" icon="ui-icon-close" title="{{Remove|translate}}" (click)="removeGrade(grade)" class="remove-btn"></button>
              </li>
            </ul>
            <div *ngIf="grades | validateGrade:exam.scale" class="ui-message ui-messages-error ui-corner-all">
              {{'Invalid grade options' | translate}}
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </p-scrollPanel>
  <select-question-dialog></select-question-dialog>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="{{'Save'|translate}}" (click)="save()"></button>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>