<p-dialog header="{{'Class exam enroll'|translate}}" [(visible)]="display" modal="true" width="800" [responsive]="true" appendTo="body">
  <p-scrollPanel [style]="{width: '100%', height: '480px'}">
    <div class="ui-g-12 ">
      <p-toolbar>
        <div class="ui-toolbar-group-left ">
          <button pButton type="button " label="{{ 'Register all'|translate}} " class="green-btn " icon="ui-icon-lock-open" (click)="registerAll() "></button>
          <button pButton type="button " label="{{ 'Unregister all'|translate}} " class="orange-btn " icon="ui-icon-lock" (click)="unregisterAll() "></button>
        </div>
      </p-toolbar>
      <p-table #candidateTable [value]="members" [paginator]="true " [rows]="10" selectionMode="single" [(selection)]="selectedMember " [responsive]="true " sortField="name">
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'name'">
                  {{'Name'|translate}}
                  <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'email'">
                  {{'Email'|translate}}
                  <p-sortIcon [field]="'email'"></p-sortIcon>
                </th>
                <th>{{'Phone'|translate}}</th>
                <th [pSortableColumn]="'etraining_group_id__DESC__'">
                  {{'Group'|translate}}
                  <p-sortIcon [field]="'etraining_group_id__DESC__'"></p-sortIcon>
                </th>
                <th>{{'Activate/suspend'|translate}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member>
              <tr [pSelectableRow]="member ">
                <td>{{member.name}}</td>
                <td>{{member.email}}</td>
                <td>{{member.phone}}</td>
                <td>{{member.etraining_group_id__DESC__}}</td>
                <td>
                  <p-inputSwitch [(ngModel)]="member.allowed"  (onChange)="registerUnregister($event,member)"  onLabel="'Active'|translate" offLabel="'Suspended'|translate"></p-inputSwitch>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              {{'Total records'|translate}} : {{members?.length}}
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="5 ">
                  {{'No records found'|translate}}
                </td>
              </tr>
            </ng-template>
          </p-table>
    </div>
  </p-scrollPanel>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>