<div class="card card-w-title">
    <h1>{{'Users'|translate}}</h1>
    <div class="ui-g">
        <div class="ui-g-12">
            <label>{{'Organization'|translate}}</label>
            <p-tree [value]="tree" selectionMode="checkbox" [(selection)]="selectedGroupNodes" (onNodeSelect)="filterUser()" (onNodeUnselect)="filterUser()" styleClass="maxH200 width-tree"></p-tree>
        </div>
        <div class="ui-g-12">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addUser()" icon="ui-icon-add"></button>
                    <button pButton type="button" label="{{'Edit'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editUser(selectedUsers[0])" [disabled]="!selectedUsers || selectedUsers.length!=1"></button>
                    <button pButton type="button" label="{{'Deactivate'|translate}}" class="red-btn" icon="ui-icon-lock" (click)="deactivateMultipleUsers(selectedUsers)" [disabled]="!selectedUsers || !selectedUsers.length"></button>
                    <button pButton type="button" label="{{'Activate'|translate}}" class="blue-btn" icon="ui-icon-lock-open" (click)="activateMultipleUsers(selectedUsers)" [disabled]="!selectedUsers || !selectedUsers.length"></button>
                      <button pButton type="button" label="{{'Export'|translate}}" class="blue-grey-btn" icon="ui-icon-file-download" (click)="exportUser()"></button>
                    <button pButton type="button" label="{{'Import'|translate}}" class="blue-grey-btn" icon="ui-icon-file-upload" (click)="importUser()"></button>
                </div>
                <div class="ui-toolbar-group-right" >
                    <span class="md-inputfield search">
                        <input type="text" pInputText placeholder="{{'Search'|translate}}" 
                          (input)="userTable.filterGlobal($event.target.value, 'contains')">   
                        <i class="fa fa-search"></i>      
                    </span>
                  
                </div>
            </p-toolbar>
            <p-table #userTable [value]="displayUsers" [paginator]="true" [rows]="10" selectionMode="multiple" [(selection)]="selectedUsers" [responsive]="true" [globalFilterFields]="['name', 'login', 'email']">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2.25em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'login'">
                            {{'Login'|translate}}
                            <p-sortIcon [field]="'login'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'email'">
                            {{'Email'|translate}}
                            <p-sortIcon [field]="'email'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'position'">
                            {{'Position'|translate}}
                            <p-sortIcon [field]="'position'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'phone'">
                            {{'Phone'|translate}}
                            <p-sortIcon [field]="'phone'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'group_name'">
                            {{'Department'|translate}}
                            <p-sortIcon [field]="'group_name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'permission_name'">
                            {{'Permission'|translate}}
                            <p-sortIcon [field]="'permission_name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'banned'">
                            {{'Banned'|translate}}
                            <p-sortIcon [field]="'banned'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr [pSelectableRow]="user">
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                        <td class="showformb" style="text-align: left;">{{user.name}}</td>
                        <td>{{user.login}}</td>
                        <td class="showformb" style="text-align: left;">{{user.email}}</td>
                        <td class="showformb">{{user.position}}</td>
                        <td class="showformb">{{user.phone}}</td>
                        <td class="showformb">{{user.group_name}}</td>
                        <td class="showformb">{{user.permission_name}}</td>
                        <td><i class="material-icons" *ngIf="user.banned">check</i></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{displayUsers?.length}}
                </ng-template>
            </p-table>
            <user-dialog></user-dialog>
            <user-export-dialog></user-export-dialog>
            <user-import-dialog></user-import-dialog>
            <user-profile-dialog></user-profile-dialog>
        </div>
    </div>
</div>
