<p-tabView>
    <p-tabPanel header="{{'Account info'|translate}}" leftIcon="ui-icon-people">
        <div class="ui-g ui-fluid form-group">
            <div class="ui-g-6">
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Name'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.name}}</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Login'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.login}}</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Admin user'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.is_admin}}</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Banned from access'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.banned}}</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Parent group'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.group_name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="{{'Contact info'|translate}}" leftIcon="ui-icon-phone">
        <div class="ui-g ui-fluid form-group">
            <div class="ui-g-6">
                <div class="ui-g-3">
                    <label>{{'Avatar'|translate}}</label>
                </div>
                <div class="ui-g-9">
                    <img style="width: 70%" [src]="user.image | imageBase64" />
                </div>
            </div>
            <div class="ui-g-6">
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Email'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.email}}</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Mobile'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.phone}}</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Social ID'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.social_id}}</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Position'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.position}}</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Gender'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.gender}}</span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <label>{{'Birthday'|translate}}</label>
                    </div>
                    <div class="ui-g-9">
                        <span>{{user.dob | date :'dd/MM/yyyy'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="{{'Course history'|translate}}" leftIcon="ui-icon-school" [style]="{width: '100%', height: '430px'}">
        <p-table [value]="courseMembers">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        {{'Index'|translate}}
                    </th>
                    <th>{{'Course'|translate}}</th>
                    <th>{{'Register date'|translate}}</th>
                    <th>{{'Enrollment status'|translate}}</th>
                    <th>{{'Certificate'|translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member let-rowIndex="rowIndex">
                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td>{{member.course_name}}</td>
                    <td>{{member.date_register}}</td>
                    <td>{{COURSE_MEMBER_ENROLL_STATUS[member.enroll_status] | translate}}</td>
                    <td>
                        <a *ngIf="member.certificate" (click)="printCertificate(member.certificate)">{{'Print'|translate}}</a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="{{'Exam history'|translate}}" leftIcon="ui-icon-grade" [style]="{width: '100%', height: '430px'}">
        <p-table [value]="examMembers">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        {{'Index'|translate}}
                    </th>
                    <th>{{'Exam'|translate}}</th>
                    <th>{{'Register date'|translate}}</th>
                    <th>{{'Enrollment status'|translate}}</th>
                    <th>{{'Grade'|translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member let-rowIndex="rowIndex">
                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td>{{member.exam_name}}</td>
                    <td>{{member.date_register}}</td>
                    <td>{{EXAM_MEMBER_ENROLL_STATUS[member.enroll_status] | translate}}</td>
                    <td>{{member.grade}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="{{'Skill'|translate}}" leftIcon="ui-icon-linear-scale" [style]="{width: '100%', height: '430px'}">
        <p-table [value]="skills">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        {{'Index'|translate}}
                    </th>
                    <th>{{'Competency'|translate}}</th>
                    <th>{{'Level'|translate}}</th>
                    <th>{{'Date acquired'|translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-skill let-rowIndex="rowIndex">
                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td>{{skill.competency_name}}</td>
                    <td>{{skill.competency_level_name}}</td>
                    <td>{{skill.date_acquire}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>
<certificate-print-dialog></certificate-print-dialog>
