<p-dialog header="{{'Class survey enroll'|translate}}" [(visible)]="display" modal="true" width="800" [responsive]="true" appendTo="body">
  <div class="spinner" [hidden]="!loading"></div>
  <p-scrollPanel [style]="{width: '100%', height: '480px'}">
    <div class="ui-g-12 ">
      <p-toolbar>
                <div class="ui-toolbar-group-left ">
                    <button pButton type="button " label="{{ 'Register all'|translate}} " class="green-btn " icon="ui-icon-lock-open" (click)="enrollAll() " *ngIf="surveyMembers.length==0"></button>
                </div>
                 <div class="ui-toolbar-group-right">
                     <button pButton type="button " label="{{ 'Open'|translate}} " class="green-btn " icon="ui-icon-lock-open" (click)="openSurvey() " [disabled]=" survey.status!='initial'" ></button>
                     <button pButton type="button " label="{{ 'Close'|translate}} " class="orange-btn " icon="ui-icon-lock" (click)="closeSurvey() " [disabled]=" survey.status=='closed'" ></button>
                </div>
            </p-toolbar>
            <p-table #candidateTable [value]="surveyMembers" [paginator]="true " [rows]="10" selectionMode="single" [(selection)]="selectedMember " [responsive]="true " sortField="name">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'email'">
                            {{'Email'|translate}}
                            <p-sortIcon [field]="'email'"></p-sortIcon>
                        </th>
                        <th>{{'Phone'|translate}}</th>
                        <th [pSortableColumn]="'group_id__DESC__'">
                            {{'Group'|translate}}
                            <p-sortIcon [field]="'group_id__DESC__'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-member>
                    <tr [pSelectableRow]="member ">
                        <td>{{member.name}}</td>
                        <td>{{member.email}}</td>
                        <td>{{member.phone}}</td>
                        <td>{{member.group_id__DESC__}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{surveyMembers?.length}}
                </ng-template>
            </p-table>
    </div>
  </p-scrollPanel>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>