<p-dialog header="{{'Survey content'|translate}}: {{survey.name}}" [(visible)]="display" modal="false" width="1000" height="100%" [responsive]="true" appendTo="body" [closeOnEscape]="false" [closable]="false">
    <div class="spinner" [hidden]="!loading"></div>
    <survey-editor></survey-editor>
    <p-footer>
        <button type="button" pButton icon="ui-icon-check" (click)="save()" label="{{'Save'|translate}}"></button>
        <button type="button" pButton icon="ui-icon-clear" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>
