<p-dialog header="{{'Exam content'|translate}}" [(visible)]="display" modal="false" width="960" height="600" [responsive]="true" appendTo="body" [closeOnEscape]="false" [closable]="false">
    <div class="spinner" [hidden]="!loading"></div>
    <exam-content></exam-content>
    <p-footer>
        <button type="button" pButton icon="ui-icon-check" (click)="save()" label="{{'Save'|translate}}"></button>
        <button type="button" pButton icon="ui-icon-clear" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>
