html {
    height: 100%;
    box-sizing: border-box;
    }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
body 
  {
    position: relative;
    min-height: 100%;
  }
.footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 100px);
  }
.layout-content{
    padding-bottom: 65px !important;
}

.ui-table-tbody td{
  text-align: center;
}

body p-schedule .ui-state-highlight{
  background-color: #161e840d;
}

.ui-scrollpanel-bar-x{
  display: none;
}

body .ui-dialog .ui-dialog-titlebar{
  padding-bottom: 0;
}

body .language .ui-dropdown .ui-dropdown-trigger{
  height: 28px;
  margin-top: 0;
}

.language .fa{
  line-height: 30px;
}

.ui-treetable td.group-code{
  text-align: center;
}

.ui-table .ui-table-tbody > tr:nth-child(even){
  background-color: #fff;
}