html {
    height: 100%;
    box-sizing: border-box;
    }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
body 
  {
    position: relative;
    min-height: 100%;
  }
.footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 100px);
  }
.layout-content{
    padding-bottom: 65px !important;
}

.ui-table-tbody td{
  text-align: center;
}

body p-schedule .ui-state-highlight{
  background-color: #161e840d;
}