html {
    height: 100%;
    box-sizing: border-box;
    }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
body 
  {
    position: relative;
    min-height: 100%;
  }
.footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 94px);
  }
.layout-content{
    padding-bottom: 65px !important;
}

.ui-table-tbody td{
  text-align: center;
}

body p-schedule .ui-state-highlight{
  /* background-color: #161e840d; */
}

.ui-scrollpanel-bar-x{
  display: none;
}

body .ui-dialog .ui-dialog-titlebar{
  padding-bottom: 0;
}

body .language .ui-dropdown .ui-dropdown-trigger{
  height: 28px;
  margin-top: 0;
}

.language .fa{
  line-height: 30px;
}

.ui-treetable td.group-code{
  text-align: center;
}

.ui-table .ui-table-tbody > tr:nth-child(even){
  background-color: #fff;
}

.ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight{
  background-color: #ffef8f;
}

.layout-wrapper .layout-sidebar .sidebar-logo img{
  margin-right: 12px;
}

.fc-toolbar.fc-header-toolbar{
  margin-top: 14px;
}

/*dropdown report*/
body .ui-dropdown.report-items {
  height: 29px;
  padding: 4px 10px;
  border-radius: 3px;
  background-color: #337ab7;
  margin-top: 0;
  /*border-color: #2e6da4;*/
}

.ui-dropdown.report-items:not(.ui-state-disabled):hover{
  background-color: #337ab7;
}

.report-items .ui-inputtext{
  color: #fff;
}

body .ui-dropdown.report-items .ui-dropdown-trigger{
  background-color: #337ab7;
  height: 27px;
  margin-top: 0;
}

body .ui-dropdown.report-items .ui-dropdown-trigger .fa{
  color: #fff;
  line-height: 30px;
}
/**/

.layout-wrapper .layout-main .layout-topbar{
  z-index: 999;
}

.layout-wrapper .layout-sidebar{
  z-index: 1000;
}

.ui-state-default{
  background-color: #fff;
}

body .ui-fieldset .ui-fieldset-legend{
  padding: 9px 14px;
}

.card h1{
  margin: 0 0 16px;
}

.card h1:first-child{
  margin-top: 0;
}

.options-question .md-inputfield .ui-inputtext{
  width: 550px;
}

/* responsive */

.ui-toolbar-group-left{
  /* float:none !important; */
}

body .ui-button.purple-btn, body .ui-datepicker-buttonpane > button.purple-btn{
  /* width:100% !important; */
}
body .ui-button.green-btn, body .ui-datepicker-buttonpane > button.green-btn{
  /* width:100% !important; */
}
body .ui-button.red-btn, body .ui-datepicker-buttonpane > button.red-btn{
  /* width:100% !important; */
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 500px) {
  .layout-wrapper .layout-main .layout-footer .footer-text-right {
      margin-top: 10px;
      text-align: center;
      display: block;
      float:none;
  }
  .layout-wrapper .layout-main .layout-footer .footer-text-left {
    margin-top: 10px;
    text-align: center;
    display: block;
    float:none;
  }

  .showformb{
    display: none !important;
  }
  .ui-table .ui-table-tbody > tr > td{
    border: 0px !important;
  }
  .card{
    padding: 0px !important;
  }
  .ui-g-12{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  body .ui-buttonset > .ui-button:first-child{
    float:  left !important;
  }
}

.ui-state-default{
  border: none;
  background: none;
}

.language .ui-state-default, .drop-report .ui-state-default{
    background: #d7ebf9;
}

/*dropdown report exam*/
body .drop-report .ui-dropdown{
  height: 29px;
  padding: 4px 10px;
  border-radius: 3px;
  margin-top: 0;
  /*border-color: #2e6da4;*/
}

body .drop-report .ui-dropdown .ui-dropdown-trigger{
  height: 27px;
  margin-top: 0;
}

body .drop-report .ui-dropdown .ui-dropdown-trigger .fa{
  line-height: 30px;
}
/**/

.material-icons, .fa{
  vertical-align: -5px;
}

.q-content p{
  margin: 0;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/* lms-list */
.cont{
  margin-top: 10px;
}

body .cont.ui-accordion .ui-accordion-header > a{
  padding-left: 14px;
  color: #2779aa;
}

body .ui-widget-content .cont .fa{
  color: #2779aa;
}

body .cont.ui-accordion .ui-accordion-header{
  background: none;
  border: none;
  color: #2779aa;
}

body .cont.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
  background-color: #dcf0f9; }

body .cont.ui-accordion .ui-accordion-header.ui-state-active{
  background-color: #dcf0f9;
}

/*dashboard*/
/*.dashboard .user-card .user-card-content .user-detail ul{
  padding: 0;
}

.dashboard .user-card .user-card-content{
  min-height: 230px;
}
*/

body .dashboard-courses-list .ui-panel .ui-panel-content{
  height: 110px;
}

body .dashboard-courses-list .ui-panel .ui-panel-footer{
  border-top: none;
}

body .linkPage.ui-paginator{
  background-color: #fff;
  border: none;
}

body .linkPage.ui-paginator > a{
  color: #283593;
}

body .linkPage.ui-paginator .ui-paginator-pages a{
  color: #283593;
}

body .linkPage.ui-paginator .ui-paginator-pages a.ui-state-active{
  background-color: #283593;
  color: #fff;
}

body .dashboard .ui-datagrid .card-exam .ui-panel .ui-panel-titlebar{
  height: 100px;
  overflow: hidden;
  padding: 0;
}

body .dashboard .ui-datagrid .card-course .ui-panel .ui-panel-titlebar{
  height: 180px;
  overflow: hidden;
  padding: 0;
}

.dashboard-courses-list .ui-panel-content-wrapper{
  min-height: 155px;
}

.question p{
  margin: 0;
}

.workflow table{
  width: 100%;
}

.display-button{
  display: none;
}
.ui-progress-spinner-svg{
  width:50%;
  height: 50%;
}

.course-study .ui-tree{
  width: 100%;
}

.ui-scrollpanel-content{
  /* width: 100%; */
}

body .ui-fieldset.f-print{
  border: none;
  padding: 0;
  margin-top: -10px;
}

body .ui-fieldset.f-print .ui-fieldset-legend{
  border: none;
  margin: 0;
  padding: 0;
}

.ui-widget-content .scorm-study-mode a{
  color: #3f51b5;
}

.dashboard-live-conference .task-box-footer .btn-footer{
  float: right;
}

.dashboard-live-conference span.task-status{
  color: #fff;
}


.dashboard-live-conference .task-box.task-box-1 .task-box-footer .btn-footer {
  background-color: #e91e63; }

.dashboard-live-conference .task-box.task-box-2 .task-box-footer .btn-footer {
  background-color: #ffc107; }

.dashboard-live-conference .task-box.task-box-3 .task-box-footer .btn-footer {
  background-color: #00bcd4; }

.profile-dialog{
  width: 100%;
  height: 480px;
  overflow: auto;
}

.schedule-dashboard .fc-scroller{
  height: 500px !important;
}