.remove-background {
    background: #ffffff;
}

.remove-border {
    border: none;
}

.fLeft {
    float:left;
}

.fRight {
    float:right;
}

.txtBold {
    font-weight: bold
}

.dpInB {
    display: inline-block;
}

.lineHeight2-25{
    line-height: 2.25em;
}

.clear {
    clear: both;
}