<div class="card card-w-title">
    <h1>{{'Project manage'|translate}} : {{project.name}}</h1>
    <div class="ui-g-12 ">
        <p-toolbar>
            <div class="ui-toolbar-group-left ">
                <button pButton type="button " label="{{ 'Mark'|translate}} " class="blue-grey-btn " icon="ui-icon-local-offer" (click)="mark()" [disabled]="!selectedMember || getProjectSubmit(selectedMember).IsNew"></button>
            </div>
        </p-toolbar>
        <div>
            <div class="ui-g-6">
                <div class="ui-g-3">
                    <label>{{'Name'|translate}}</label>
                </div>
                <div class="ui-g-9">
                    <span>  {{project.name}}</span>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>{{'Content'|translate}}</label>
                </div>
                <div class="ui-g-9">
                    <p [innerHTML]="project.content"></p>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="ui-g-3">
                    <label>{{'Start'|translate}}</label>
                </div>
                <div class="ui-g-3">
                    {{project.start | date : "dd/MM/yyyy"}}
                </div>
            </div>
            <div class="ui-g-6">
                <div class="ui-g-3">
                    <label>{{'End'|translate}}</label>
                </div>
                <div class="ui-g-9">
                    {{project.end | date : "dd/MM/yyyy"}}
                </div>
            </div>
            <div class="ui-g-6">
                <div class="ui-g-3">
                    <label>{{'File'|translate}}</label>
                </div>
                <div class="ui-g-9">
                    <a href="{{project.file_url}}" target="_blank" *ngIf="project.file_url">{{project.filename}}</a>
                </div>
            </div>
        </div>
        <p-table #scoreTable [value]="members" [paginator]="true" [rows]="25" selectionMode="single" [(selection)]="selectedMember" [responsive]="true">
            <!--  sortField="role" -->
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'name'">
                        {{'Name'|translate}}
                        <p-sortIcon [field]="'name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'group_name'">
                        {{'Group'|translate}}
                        <p-sortIcon [field]="'group_name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'date_submit'">
                        {{'Date of submission'|translate}}
                        <p-sortIcon [field]="'date_submit'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'score'">
                        {{'Score'|translate}}
                        <p-sortIcon [field]="'score'"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member>
                <tr [pSelectableRow]="member" *ngVar="getProjectSubmit(member) as projectSubmit">
                    <td>{{member.name}}</td>
                    <td>{{member.group_name}}</td>
                    <td class="showformb">{{projectSubmit.date_submit | date : "dd/MM/yyyy, h:mm a"}}</td>
                    <td>{{projectSubmit.score}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                {{'Total records'|translate}} : {{members?.length}}
            </ng-template>
        </p-table>
    </div>
    <project-marking-dialog></project-marking-dialog>
    <div class="card-footer">
        <button type="button" pButton icon="ui-icon-clear" (click)="close()" label="{{'Close'|translate}}"></button>
    </div>
</div>
