a:hover {
 cursor:pointer;
}

.stats-items {
	float:left !important;
    position: relative;
    /*left: 10%;*/
}
.stats-items a div
{
	/*border-color: white;
	border-right-style: solid;
    border-width: 1px;*/
	display: inline; 
	padding-right: 1.5em;
}

li.profile-item{
	float: right !important;
	margin-left: 20px !important;
    padding-top: 8px !important;
}

li.profile-item .profile-image-wrapper img {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: -2px;
}

li.profile-item .profile-image-wrapper{
    width: 35px !important;
    height: 35px !important; 
}

li.profile-item .profile-name{
    margin-top: 4px !important;
}