<div class="ui-g approval-tree">
    <h1>{{'Approval tree'|translate}}</h1>
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="{{'Select supervisor'|translate}}" class="green-btn" icon="ui-icon-transform" (click)="selectSupervisor()" [disabled]="!selectedUser"></button>
                <button pButton type="button" label="{{'Clear supervisor'|translate}}" class="red-btn" icon="ui-icon-clear" (click)="clearSupervisor()" [disabled]="!selectedUser"></button>
            </div>
            <div class="ui-toolbar-group-right">
                <p-selectButton [options]="viewModes" [(ngModel)]="viewMode"></p-selectButton>
            </div>
        </p-toolbar>
        <p-organizationChart [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" (onNodeUnselect)="onNodeUnselect($event)" styleClass="mt20 workflow">
            <ng-template let-node pTemplate="person">
                <div class="node-header ui-corner-top">{{node.data.group_name}}</div>
                <div class="node-content">
                    <span class="profile-image-wrapper" *ngIf="viewMode=='detail'">
                        <img [src]='node.data.image | imageBase64' width="32" height="32" />
                    </span>
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                <div>{{node.label}}</div>
            </ng-template>
        </p-organizationChart>
        <select-admin-dialog></select-admin-dialog>
    </div>
</div>