<p-dialog header="{{'Save question sheet'|translate}}" [(visible)]="display" modal="true" width="300" [responsive]="true" appendTo="body">
  <div class="ui-dialog-content">
    <form class="form-horizontal form-simple" (ngSubmit)="f.form.valid && save()" id="saveQuestionSheet" #f="ngForm" novalidate autocomplete="off">
      <div class="ui-g form-group ui-fluid">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <input type="text" pInputText  name="name" [(ngModel)]="sheet.name" required #name_input="ngModel">
            <label>{{'Name'|translate}}: </label>
        </span>
          <div *ngIf="name_input.invalid && (name_input.dirty || name_input.touched)" class="ui-message ui-messages-error ui-corner-all">
            <div *ngIf="name_input.errors.required">
              {{'Name is requried'|translate}}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <button pButton type="button" icon="ui-icon-check" title="{{'Save'|translate}}" label="{{'Save'|translate}}" class=" flat" (click)="save()"></button>
    <button pButton type="button" icon="ui-icon-close" title="{{'Close'|translate}}" label="{{'Close'|translate}}" class=" flat" style="margin-right:4px;" (click)="hide()"></button>
  </p-footer>
</p-dialog>