 <form novalidate (ngSubmit)="save()" #f="ngForm" autocomplete="off">
<p-dialog header="{{'User account'|translate}}" [(visible)]="display" modal="true" width="600" [responsive]="true">
    <div class="ui-g ui-fluid form-group">
      <div class="ui-g-12">
        <label>{{'Parent group'|translate}}</label>
        <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
      </div>
      <div class="ui-g-12 ">
        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="object.name" name="name">
                            <label>{{'Name'|translate}}</label>
                        </span>
      </div>
      <div class="ui-g-6">
        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="object.login" name="login">
                            <label>{{'Login'|translate}}</label>
                        </span>
      </div>
      <div class="ui-g-6">
          <span class="md-inputfield">
              <input type="password" pPassword [(ngModel)]="object.password" name="password">
              <label>{{'Password'|translate}}</label>
          </span>
      </div>

      <div class="ui-g-6">
        <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="object.email" name="email">
            <label>{{'Email'|translate}}</label>
        </span>
      </div>

      <div class="ui-g-6">
        <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="object.phone" name="phone">
            <label>{{'Phone'|translate}}</label>
        </span>
      </div>

      <div class="ui-g-12">
        <p-checkbox name="admin" binary="true" label="{{'Admin user'|translate}}" [(ngModel)]="object.is_admin"></p-checkbox>
      </div>
      <div class="ui-g-12">
        <p-checkbox name="banned" binary="true" label="{{'Banned from access'|translate}}" [(ngModel)]="object.banned"></p-checkbox>
      </div>
    </div>
    <p-footer>
      <button type="submit" pButton icon="fa-check" label="{{'Save'|translate}}"></button>
      <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>
 </form>