<p-dialog header="{{'Setting'|translate}}" [(visible)]="display" modal="true"  [responsive]="true">
    <div class="spinner" [hidden]="!loading"></div>
    <p-growl></p-growl>
    <div class="ui-g ui-fluid form-group">
        <div class="ui-g-12 ">
            <span class="md-inputfield">
          <input type="text" pInputText [(ngModel)]="dateFormat.value" #date="ngModel" name="date" >
          <label>{{'Date format'|translate}}</label>
        </span>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="{{'Save'|translate}}" (click)="save()"></button>
        <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>
