<div class="ui-g dashboard">
    <div class="ui-g-12 ui-lg-12">
        <h1 class="heading-daashboard removeM">{{'Admin dashboard'|translate}}</h1>
    </div>
    <div class="ui-g-12 ui-lg-12 admin-dashboard">
        <p-tabView [style]="{width: '100%'}">
            <p-tabPanel header="{{'Calendar'|translate}}" leftIcon="ui-icon-date-range">
                <div style="text-align:center">
                    <p-schedule [events]="events" [editable]="true" (onEventClick)="onEventClick($event)" [header]="header" [height]="640" styleClass="schedule-dashboard" ></p-schedule>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Ticket'|translate}} ({{approvalTickets.length}})" leftIcon="ui-icon-widgets">
                <p-dataList [value]="approvalTickets" [paginator]="true" [rows]="5" styleClass="lms-course-list">
                    <ng-template let-ticket pTemplate="item">
                        <p-card styleClass="lms-course-list-item">
                            <div class="ui-g">
                                <div class="ui-g-9">
                                    <div class="ui-g-12 border">
                                        <button pButton type="button" icon="ui-icon-check" title="{{'Approve'| translate}}" label="{{'Approve'|translate}}" class=" green-btn" style="margin-right:4px;" (click)="approveTicket(ticket)" [disabled]="ticket.status=='approved'"></button>
                                        <button pButton type="button" icon="ui-icon-block" title="{{'Reject'| translate}}" label="{{'Reject'|translate}}" class=" red-btn" style="margin-right:4px;" (click)="rejectTicket(ticket)" [disabled]="ticket.status=='rejected'"></button>
                                    </div>
                                    <div class="ui-g-12">
                                        <h4 class="heading-course">
                                        <span>{{ticket.title}}</span>
                                    </h4>
                                        <span class="c-status">
                                        {{TICKET_STATUS[ticket.status]|translate}}
                                    </span>
                                        <div class="clearfix"></div>
                                        <p-accordion styleClass="cont">
                                            <p-accordionTab header="{{'Content' | translate}}">
                                                <p [innerHTML]="ticket.content"></p>
                                            </p-accordionTab>
                                        </p-accordion>
                                    </div>
                                </div>
                                <div class="ui-g-3">
                                    <p-card styleClass="lms-course-detail">
                                        <ul class="list-cmt">
                                            <li class="clearfix">
                                                <i class="material-icons">date_range</i>
                                                <span class="cmt-title">{{'Open date'|translate}}</span>
                                                <span class="cmt-detail">{{ticket.date_open | date : "dd/MM/yyyy"}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <i class="material-icons">date_range</i>
                                                <span class="cmt-title">{{'Close date'|translate}}</span>
                                                <span class="cmt-detail">{{ticket.date_close | date : "dd/MM/yyyy"}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <i class="material-icons">people</i>
                                                <span class="cmt-title">{{'Submit by)'|translate}}</span>
                                                <span class="cmt-detail">{{ticket.submit_user_id__DESC__}}</span>
                                            </li>
                                            <li class="clearfix" style="border-bottom: none;">
                                                <i class="material-icons">done</i>
                                                <span class="cmt-title">{{'Approve by'|translate}}</span>
                                                <span class="cmt-detail">{{ticket.approve_user_id__DESC__}}</span>
                                            </li>
                                        </ul>
                                    </p-card>
                                </div>
                            </div>
                        </p-card>
                    </ng-template>
                </p-dataList>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
