<div class="card card-w-title ui-g">
    <div class="ui-lg-12 ui-md-12 ui-g-12">
        <h1>{{'My surveys'|translate}}</h1></div>
    <div class="ui-lg-12 ui-md-12 ui-g-12">
        <p-dataList [value]="surveys" [paginator]="true" [rows]="5" styleClass="lms-exam-list">
            <ng-template let-survey pTemplate="item">
                <p-card styleClass="lms-exam-list-item">
                    <div class="ui-g">
                        <div class="ui-lg-8 ui-md-12 ui-g-12">
                            <div class="ui-g-12 ui-md-12 ui-lg-12 border">
                                <button pButton type="button" icon="ui-icon-arrow-forward" title="{{'Join'| translate}}" label="{{'Join'|translate}}" class=" green-btn" style="margin-right:4px;" (click)="startSurvey(survey, survey.candidate)" [disabled]="!survey.IsAvailable || survey.candidate.enroll_status=='completed'" *ngIf="survey.candidate!=null"></button>
                                <button pButton type="button" icon="ui-icon-publish" title="{{'Publish'| translate}}" label="{{'Publish'|translate}}" class="mr4 blue-grey-btn" (click)="publishSurvey(survey)" *ngIf="survey.supervisor!=null && survey.sheet_status!='published'"></button>
                                <button pButton type="button" icon="ui-icon-publish" title="{{'Unpublish'| translate}}" label="{{'Unpublish'|translate}}" class="mr4 red-btn" (click)="unpublishSurvey(survey)" *ngIf="survey.supervisor!=null && survey.sheet_status!='unpublished'"></button>
                                <button pButton type="button" icon="ui-icon-edit" title="{{'Edit content'| translate}}" label="{{'Edit content'|translate}}" class=" blue-grey-btn" style="margin-right:4px;" (click)="editContent(survey)" *ngIf="survey.editor!=null"></button>
                            </div>
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <div class="mt5">
                                    <h4 class="title">{{survey.name}}</h4>
                                    <span class="e-status">
                                        {{survey.status}}
                                    </span>
                                </div>
                                <div class="clearfix"></div>
                                <p-accordion styleClass="cont">
                                    <p-accordionTab header="{{'Summary' | translate}}">
                                        {{survey.summary}}
                                    </p-accordionTab>
                                    <p-accordionTab header="{{'Instruction' | translate}}">
                                        <p [innerHTML]="survey.instruction"></p>
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                        <div class="ui-lg-4 ui-md-12 ui-g-12">
                            <p-card styleClass="lms-exam-detail">
                                <ul class="list-cmt">
                                    <li class="clearfix" *ngIf="!survey.IsAvailable">
                                        <i class="material-icons">error-outline</i>
                                        <span class="cmt-title">{{'Survey not available'|translate}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">date_range</i>
                                        <span class="cmt-title">{{'Start date'|translate}}</span>
                                        <span class="cmt-detail">{{survey.start | date : "dd/MM/yyyy"}}</span>
                                    </li>
                                    <li class="clearfix">
                                        <i class="material-icons">date_range</i>
                                        <span class="cmt-title">{{'End date'|translate}}</span>
                                        <span class="cmt-detail">{{survey.end | date : "dd/MM/yyyy"}}</span>
                                    </li>
                                    <li class="clearfix" style="border-bottom: none;">
                                        <i class="material-icons">done</i>
                                        <span class="cmt-title">{{'Number of question'|translate}}</span>
                                        <span class="cmt-detail">{{survey.question_count}}</span>
                                    </li>
                                </ul>
                            </p-card>
                        </div>
                    </div>
                </p-card>
            </ng-template>
        </p-dataList>
    </div>
    <survey-study-dialog></survey-study-dialog>
</div>