<p-dialog header="{{exam.name}}" [(visible)]="display" modal="true" width="960" [responsive]="true" appendTo="body">
  <p-card>
    <p-header>
      <span class="exam-question-title">
          {{'Question'|translate}} {{(qIndex+1) +'/' + examQuestions.length}} {{'-' + currentQuestion.title}}
        </span>
      <span class="question-score">
          {{'Score'|translate}} {{':'+ currentAnswer.score+'/'+currentQuestion.score}}
        </span>
    </p-header>
    <ng-template question-container></ng-template>
    <p-footer>
      <button pButton type="button" icon="ui-icon-navigate-before" title="{{'Previous'|translate}}" label="{{'Previous'|translate}}" class=" purple-btn" style="margin-right:4px;" (click)="prev()" *ngIf="qIndex >0 "></button>
      <button pButton type="button" icon="ui-icon-navigate-next" title="{{'Next'|translate}}" label="{{'Next'|translate}}" class=" purple-btn" style="margin-right:4px;" (click)="next()" *ngIf="qIndex < examQuestions.length-1"></button>
    </p-footer>
  </p-card>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>