<div class="card card-w-title exam-manage">
  <h1>{{'Exam'|translate}}: {{exam.name}} </h1>
  <div class="ui-g-12 ">
        <p-toolbar>
          <div class="ui-toolbar-group-left ">
            <button pButton type="button " label="{{ 'Question sheet'|translate}} " class="purple-btn " icon="ui-icon-question-answer" (click)="showQuestionSheet()" ></button>
            <button pButton type="button " label="{{ 'Mark'|translate}} " class="purple-btn " icon="ui-icon-local-offer" (click)="mark()" [disabled]="!selectedRecord"></button>
            <button pButton type="button " label="{{ 'Answer sheet'|translate}} " class="purple-btn " icon="ui-icon-content-paste" (click)="viewAnswerSheet()" [disabled]="!selectedRecord"></button>
          <button pButton type="button " label="{{ 'Close'|translate}} " class="orange-btn " icon="ui-icon-lock" (click)="closeExam() " [disabled]=" selectedRecord && selectedRecord.status=='closed'" ></button>
        </div>
          <div class="ui-toolbar-group-right ">
            <button pButton type="button " label="{{ 'Result report'|translate}} " class="purple-btn " icon="ui-icon-data-usage" (click)="showExamReport()" ></button>
            <button pButton type="button " label="{{ 'Statistics'|translate}} " class="purple-btn " icon="ui-icon-equalizer" (click)="showExamStats()" ></button>
          </div>
        </p-toolbar>
        <p-table #scoreTable [value]="scoreRecords" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedRecord" [responsive]="true">
         <!--  sortField="role" -->
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'name'">
                {{'Name'|translate}}
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'group_id__DESC__'">
                {{'Group'|translate}}
                <p-sortIcon [field]="'group_id__DESC__'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'score'">
                {{'Score'|translate}}
                <p-sortIcon [field]="'score'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'grade'">
                {{'Grade'|translate}}
                <p-sortIcon [field]="'grade'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-record>
            <tr [pSelectableRow]="record">
              <td>{{record.name}}</td>
              <td>{{record.group_id__DESC__}}</td>
              <td>{{record.score}}</td>
              <td>{{record.grade}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            {{'Total records'|translate}} : {{scoreRecords?.length}}
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="4">
                {{'No records found'|translate}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <question-marking-dialog></question-marking-dialog>
      <question-sheet-print-dialog></question-sheet-print-dialog>
      <answer-print-dialog></answer-print-dialog>
      <exam-report-dialog></exam-report-dialog>
      <exam-stats-dialog></exam-stats-dialog>
</div>