
  <p-dialog header="{{'Course material'|translate}}" [(visible)]="display" modal="true" width="600" [responsive]="true" appendTo="body">
    <form novalidate (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
    <div class="ui-g ui-fluid form-group">
      <div class="ui-g-12 ">
        <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="object.name" #name="ngModel" name="name" required>
            <label>{{'Name'|translate}}</label>
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="ui-message ui-messages-error ui-corner-all">
                <div *ngIf="name.errors.required">
                    {{'Name is required' | translate}}
                </div>
            </div>
        </span>
      </div>
      <div class="ui-g-6">
        <p-fileUpload name="uploadLocal" mode="basic" chooseLabel="{{'Upload from computer'|translate}}'" (onSelect)="changeFile($event)" accept="*" maxFileSize="1024*512" showUploadButton="false">
        </p-fileUpload>
        <span>{{object.filename}}</span>
      </div>
      <div class="ui-g-6">
        <label>{{'Media type'|translate}}</label>
        <div style="margin-bottom:10px">
          <p-radioButton name="type" value="video" label="{{'Video'|translate}}" [(ngModel)]="object.type" inputId="opt1"></p-radioButton>
        </div>
        <div style="margin-bottom:10px">
          <p-radioButton name="type" value="audio" label="{{'Audio'|translate}}" [(ngModel)]="object.type" inputId="opt2"></p-radioButton>
        </div>
        <div style="margin-bottom:10px">
          <p-radioButton name="type" value="file" label="{{'File'|translate}}" [(ngModel)]="object.type" inputId="opt3"></p-radioButton>
        </div>
      </div>
    </div>
    <div class="spinner" [hidden]="!uploadInprogress">
      <p-progressSpinner></p-progressSpinner>
    </div>
    </form>
    <p-footer>
      <button type="button" pButton icon="fa-check" label="{{'Save'|translate}}" (click)="f.ngSubmit.emit()"></button>
      <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
  </p-dialog>
