<p-dialog header="{{'Certificate'|translate}}" [(visible)]="display" modal="true" width="718" height="100%" [responsive]="true" appendTo="body">
  <p-scrollPanel [style]="{width: '100%', height: '480px'}">
    <img src="assets/images/certificate.jpg" height="480px">
    <div class="certificate-print">
      <p class="member-name">{{object.member_name}}</p>
      <div class="summary">
      	<p>Congratulation you did finish <strong>{{object.name}}</strong> course!</p>
      	<p>{{'Ranking: '|translate}} <strong>{{object.qualification}}</strong></p>
      	<span>{{object.summary}}</span>
      </div>
      <p class="date">{{object.date_issue | date : "dd/MM/yyyy"}}</p>
    </div>
  </p-scrollPanel>
  <p-footer>
    <button type="button" pButton icon="ui-icon-print" (click)="print()" label="{{'Print'|translate}}"></button>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
  
</p-dialog>