<p-dialog header="{{'Course'|translate}}" [(visible)]="display" modal="false"  [height]="WINDOW_HEIGHT" positionLeft="0" positionTop="0" styleClass="ui-g-12 course-dialog" [responsive]="true"  appendTo="body">
    <div class="spinner" [hidden]="!loading" ></div>
    <p-scrollPanel>
        <form novalidate (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
            <div class="ui-g ui-fluid form-group">
                <div class="ui-g-12">
                    <p-selectButton [options]="courseStatus" [(ngModel)]="object.status" name="status"></p-selectButton>
                </div>
                <div class="ui-g-6">
                    <label>{{'Parent group'|translate}}</label>
                    <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
                    <div *ngIf="selectedNode==null" class="ui-message ui-messages-error ui-corner-all">
                        {{'Selected group is required' | translate}}</div>
                </div>
                <div class="ui-g-3 logo-course">
                    <label>{{'Logo'|translate}}</label>
                    <image-base64 [(src64)]="object.logo"></image-base64>
                </div>
                <div class="ui-g-3">
                    <span class="md-inputfield mt20">
                        <input type="text" pInputText [(ngModel)]="object.name" #name="ngModel" name="name" required>
                        <label>{{'Name'|translate}}</label>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="ui-message ui-messages-error ui-corner-all">
                            <div *ngIf="name.errors.required">
                                {{'Name is required' | translate}}
                            </div>
                        </div>
                    </span>
                    <span class="md-inputfield mt30">
                        <input type="text" pInputText [(ngModel)]="object.code" #code="ngModel" name="code" required>
                        <label>{{'Code'|translate}}</label>
                        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="ui-message ui-messages-error ui-corner-all">
                            <div *ngIf="code.errors.required">
                                {{'Code is required' | translate}}
                            </div>
                        </div>
                    </span>
                    <div class="mt20">
                        <label>{{'Mode'|translate}}</label>
                        <div style="margin:10px 0">
                            <p-radioButton name="mode" value="self-study" [disabled]="object.id" label="{{'Self-study'|translate}}" [(ngModel)]="object.mode"
                                inputId="opt1" #mode="ngModel" required></p-radioButton>
                        </div>
                        <div style="margin-bottom:10px">
                            <p-radioButton name="mode" value="group" [disabled]="object.id" label="{{'Group study'|translate}}" [(ngModel)]="object.mode"
                                inputId="opt2" required></p-radioButton>
                        </div>
                        <div *ngIf="mode.invalid" class="ui-message ui-messages-error ui-corner-all" style="margin: 10px 0 20px;">
                            <div *ngIf="mode.errors.required">
                                {{'Mode is required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-8">
                        <label>{{'Summary'|translate}}</label>
                        <textarea pInputTextarea [(ngModel)]="object.summary" name="summary"></textarea>
                    </div>
                    <div class="ui-g-4">
                        <div class="ui-g-12">
                            <span (click)="selectEditor()">{{'Editor' |translate}}: {{editor.name}}
                                <i class="material-icons">eject</i>
                            </span>
                        </div>
                        <div class="ui-g-12">
                            <span (click)="selectCompetencyLevel()">{{'Competency level' |translate}}: {{object.competency_level_name}}
                                <i class="material-icons">eject</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label>{{'Description'|translate}}</label>
                    <p-editor [(ngModel)]="object.description" name="description" [style]="{'height':'120px'}"></p-editor>
                </div>
            </div>
        </form>
        <select-user-dialog></select-user-dialog>
        <select-competency-level-dialog></select-competency-level-dialog>
    </p-scrollPanel>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="{{'Save'|translate}}" (click)="f.ngSubmit.emit()" *ngIf="(object.supervisor_id == ContextUser.id && object.review_state!='approved') || ContextUser.IsSuperAdmin"></button>
        <button type="button" pButton icon="fa-close" (click)="cancel()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>