<div class="card card-w-title">
    <h3>{{'Class'|translate}}: {{courseClass.name}} </h3>
    <button pButton type="button" label="{{ 'Back to course'|translate}}" class="blue-grey-btn " icon="ui-icon-visibility" (click)="viewGradebook()" *ngIf="selectedRecord"></button>
    <div class="card card-w-title course-syllabus">
        <p-tabView [style]="{width: '100%', height: '600px'}">
            <p-tabPanel header="{{'Student list'|translate}}" leftIcon="ui-icon-people">
                <p-toolbar>
                    <div class="ui-toolbar-group-left">
                        <button pButton type="button" label="{{ 'Gradebook'|translate}}" class="blue-grey-btn " icon="ui-icon-visibility" (click)="viewGradebook()" *ngIf="selectedRecord"></button>
                        <button pButton type="button" label="{{ 'Study history'|translate}}" class="blue-grey-btn " icon="ui-icon-visibility" (click)="viewLMSProfile()" *ngIf="selectedRecord"></button>
                    </div>
                    <div class="ui-toolbar-group-right">
                        <p-selectButton [options]="viewModes" [(ngModel)]="viewMode"></p-selectButton>
                    </div>
                </p-toolbar>
                <div [hidden]="viewMode=='detail'">
                    <p-table #outlineTable [value]="studentRecords" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedRecord" [responsive]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'name'">
                                    {{'Name'|translate}}
                                    <p-sortIcon [field]="'name'"></p-sortIcon>
                                </th>
                                <th style="width: 15%" [pSortableColumn]="'email'">
                                    {{'Email'|translate}}
                                    <p-sortIcon [field]="'email'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'group_id__DESC__'">
                                    {{'Group'|translate}}
                                    <p-sortIcon [field]="'group_id__DESC__'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'enroll_status'">
                                    {{'Enroll status'|translate}}
                                    <p-sortIcon [field]="'enroll_status'"></p-sortIcon>
                                </th>
                                <th>
                                    {{'First attempt'|translate}}
                                </th>
                                <th>
                                    {{'Last attempt'|translate}}
                                </th>
                                <th>
                                    {{'Time spend'|translate}}
                                </th>
                                <th style="width: 8%">
                                    {{'Completion'|translate}}
                                </th>
                                <th>
                                    {{'Certificate'|translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record>
                            <tr [pSelectableRow]="record">
                                <td>{{record.name}}</td>
                                <td class="email">{{record.email}}</td>
                                <td>{{record.group_id__DESC__}}</td>
                                <td>{{COURSE_MEMBER_ENROLL_STATUS[record.enroll_status]}} </td>
                                <td>{{record.first_attempt}} </td>
                                <td>{{record.last_attempt}} </td>
                                <td>{{record.time_spent}} {{'minute'|translate}}</td>
                                <td>{{record.completion}} %</td>
                                <td>{{record.certificate}} </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            {{'Total records'|translate}} : {{records?.length}}
                        </ng-template>
                    </p-table>
                </div>
                <div [hidden]="viewMode=='outline'">
                    <p-table #detailTable [value]="records" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedRecord" [responsive]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'name'">
                                    {{'Name'|translate}}
                                    <p-sortIcon [field]="'name'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'group_id__DESC__'">
                                    {{'Group'|translate}}
                                    <p-sortIcon [field]="'group_id__DESC__'"></p-sortIcon>
                                </th>
                                <th *ngFor="let unit of courseUnits">
                                    {{unit.name}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record>
                            <tr [pSelectableRow]="record">
                                <td>{{record.name}}</td>
                                <td>{{record.group_id__DESC__}}</td>
                                <td *ngFor="let unit of courseUnits">{{checkUnitComplete(record,unit)}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            {{'Total records'|translate}} : {{records?.length}}
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Project'|translate}}" leftIcon="ui-icon-assignment">
                <p-toolbar>
                    <div class="ui-toolbar-group-left">
                        <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addProject()" icon="ui-icon-add"></button>
                        <button pButton type="button" label="{{'Edit'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editProject()" *ngIf="selectedProject"></button>
                        <button pButton type="button" label="{{'Delete'|translate}}" class="red-btn" icon="ui-icon-delete" (click)="deleteProject()" *ngIf="selectedProject"></button>
                    </div>
                    <div class="ui-toolbar-group-right">
                        <button pButton type="button " label="{{ 'Mark'|translate}} " class="blue-grey-btn " icon="ui-icon-local-offer" (click)="markProject()" [disabled]="!selectedProject"></button>
                    </div>
                </p-toolbar>
                <p-table #examTable [value]="projects" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedProject" [responsive]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'name'">
                                {{'Name'|translate}}
                                <p-sortIcon [field]="'name'"></p-sortIcon>
                            </th>
                            <th>
                                {{'Start'|translate}}
                            </th>
                            <th>
                                {{'End'|translate}}
                            </th>
                            <th [pSortableColumn]="'status'">
                                {{'Status'|translate}}
                                <p-sortIcon [field]="'status'"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-project>
                        <tr [pSelectableRow]="project">
                            <td>{{project.name}}</td>
                            <td>{{project.start | date : "dd/MM/yyyy"}}</td>
                            <td>{{project.end | date : "dd/MM/yyyy"}}</td>
                            <td>{{PROJECT_STATUS[project.status] | translate}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        {{'Total records'|translate}} : {{projects?.length}}
                    </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel header="{{'Exam'|translate}}" leftIcon="ui-icon-grade">
                <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addExam()" icon="ui-icon-add"></button>
                    <button pButton type="button" label="{{'Edit'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editExam()" *ngIf="selectedClassExam"></button>
                    <button pButton type="button" label="{{'Enroll'|translate}}" class="green-btn" icon="ui-icon-people" (click)="enroll()" *ngIf="selectedClassExam"></button>
                </div>
                <div class="ui-toolbar-group-right">
                    <button pButton type="button" icon="ui-icon-star" title="{{'Manage'| translate}}" *ngIf="selectedClassExam" label="{{'Manage'|translate}}" (click)="manageExam()" class="orange-btn">
                    </button>
                </div>
            </p-toolbar>
            <p-table #examTable [value]="classExams" [paginator]="true" [rows]="10" selectionMode="single" 
            [(selection)]="selectedClassExam" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th>
                            {{'Start'|translate}}
                        </th>
                        <th>
                            {{'End'|translate}}
                        </th>
                        <th [pSortableColumn]="'status'">
                            {{'Status'|translate}}
                            <p-sortIcon [field]="'status'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-exam>
                    <tr [pSelectableRow]="exam">
                        <td>{{exam.name}}</td>
                        <td>{{exam.start | date : "dd/MM/yyyy"}}</td>
                        <td>{{exam.end | date : "dd/MM/yyyy"}}</td>
                        <td>{{EXAM_STATUS[exam.status] | translate}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{classExams?.length}}
                </ng-template>
            </p-table>
            </p-tabPanel>
            <p-tabPanel header="{{'Survey'|translate}}" leftIcon="ui-icon-question-answer">
                <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addSurvey()" icon="ui-icon-add"></button>
                    <button pButton type="button" label="{{'Edit'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editSurvey()" *ngIf="selectedClassSurvey"></button>
                    <button pButton type="button" label="{{'Compose'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editSurveyContent()" *ngIf="selectedClassSurvey"></button>    
                </div>
                <div class="ui-toolbar-group-right">
                    <button pButton type="button" label="{{'Enroll'|translate}}" class="green-btn" icon="ui-icon-people" (click)="enrollSurvey()" *ngIf="selectedClassSurvey"></button>
                    <button pButton type="button" icon="ui-icon-data-usage" title="{{'Stats'| translate}}" *ngIf="selectedClassSurvey" label="{{'Statistics'|translate}}" (click)="viewReportSurvey()" class="blue-grey-btn">
                    </button>
                </div>
            </p-toolbar>
            <p-table #examTable [value]="classSurveys" [paginator]="true" [rows]="10" selectionMode="single" 
            [(selection)]="selectedClassSurvey" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th>
                            {{'Start'|translate}}
                        </th>
                        <th>
                            {{'End'|translate}}
                        </th>
                        <th [pSortableColumn]="'status'">
                            {{'Status'|translate}}
                            <p-sortIcon [field]="'status'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-survey>
                    <tr [pSelectableRow]="survey">
                        <td>{{survey.name}}</td>
                        <td>{{survey.start | date : "dd/MM/yyyy"}}</td>
                        <td>{{survey.end | date : "dd/MM/yyyy"}}</td>
                        <td>{{SURVEY_STATUS[survey.status] | translate}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{classSurveys?.length}}
                </ng-template>
                <ng-template pTemplate="emptymessage" >
                    <tr>
                        <td [attr.colspan]="4">
                            {{'No records found'|translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </p-tabPanel>
            <p-tabPanel header="{{'Conference'|translate}}" leftIcon="ui-icon-call">
                
            </p-tabPanel>
            <p-tabPanel header="{{'Annoucement'|translate}}" leftIcon="ui-icon-send">
            </p-tabPanel>
        </p-tabView>
        <lms-profile-dialog></lms-profile-dialog>
        <gradebook-dialog></gradebook-dialog>
        <project-manage-dialog></project-manage-dialog>
        <project-content-dialog></project-content-dialog>
        <exam-dialog></exam-dialog>
        <class-exam-enroll-dialog></class-exam-enroll-dialog>
        <exam-content-dialog></exam-content-dialog>
    </div>
</div>