<p-dialog header="{{'Exam submission confirmation'|translate}}" [(visible)]="display" modal="true" [responsive]="true" appendTo="body" [closeOnEscape]="false" [closable]="false">
    <div class="spinner" [hidden]="!loading"></div>
    <div style="display: none; visibility: hidden;">
        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="setting.take_picture_on_submit"></webcam>
    </div>
    <p-footer>
        <button type="button" pButton icon="ui-icon-check" (click)="confirm()" label="{{'Confirm'|translate}}"></button>
        <button type="button" pButton icon="ui-icon-clear" (click)="hide()" label="{{'Cancel'|translate}}"></button>
    </p-footer>
</p-dialog>
