<div class="ui-g dashboard">
  <div class="ui-g-7" style="text-align:center">
    <p-panel header="{{'Exam schedule'|translate}}">
      <p-schedule #examSchedule [events]="events" (onDayClick)="onDayClick($event)" [header]="header" [editable]="true" (onEventClick)="onEventClick($event)" styleClass="schedule-dashboard"></p-schedule>
      <exam-dialog></exam-dialog>
    </p-panel>
  </div>
  <div class="ui-g-5 global-sales">
    <p-panel>
      <p-header>
        {{'Recent course' | translate}}
        <span class="header-helper">{{now | date : "MM/yyyy"}}</span>
      </p-header>
      <table>
        <thead>
          <tr>
            <th>{{'Name'|translate}}</th>
            <th>{{'Code'|translate}}</th>
            <!-- <th>{{'Summary'|translate}}</th> -->
            <th>{{'Mode'|translate}}</th>
            <th>{{'Status'|translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses | slice:0:8; let i = index">
            <td  style="text-align:left">{{course.name}}</td>
            <td>{{course.code}}</td>
            <td>{{COURSE_MODE[course.mode] | translate}}</td>
            <td>{{CONTENT_STATUS[course.status] | translate}}</td>
            <td>
              <button pButton type="button" title="{{'Edit'|translate}}" class="message-btn secondary-btn" icon="ui-icon-mode-edit" (click)="editCourse(course)"></button>
            </td>
          </tr>
        </tbody>
      </table>
      <course-dialog></course-dialog>
    </p-panel>
  </div>
</div>