<p-dialog header="{{'Exam'|translate}}" [(visible)]="display" modal="false" width="960" [responsive]="true" appendTo="body">
  <form novalidate (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
    <p-scrollPanel [style]="{width: '100%', height: '450px'}">
      <div class="ui-g ui-fluid form-group">
        <div class="ui-g-12">
          <p-selectButton [options]="examStatus" [(ngModel)]="object.status" name="status"></p-selectButton>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
              <input type="text" pInputText [(ngModel)]="object.name" #name="ngModel" name="name" required>
              <label>{{'Name'|translate}}</label>
              <div *ngIf="name.invalid && (name.dirty || name.touched)" 
                class="ui-message ui-messages-error ui-corner-all">
                <div *ngIf="name.errors.required">
                    {{'Name is required' | translate}}
                </div>
              </div>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
              <input type="text" pInputText [(ngModel)]="object.summary" name="summary">
              <label>{{'Summary'|translate}}</label>
          </span>
        </div>
        <div class="ui-g-6">
          <div>
            <label>{{'Instruction'|translate}}</label>
            <p-editor [(ngModel)]="object.instruction" [style]="{'height':'120px'}" name="instruction">
            </p-editor>
          </div>
        </div>
        <div class="ui-g-6">
          <div style="margin-top: 50px">
              <span class="md-inputfield">
                <input type="text" pInputText [(ngModel)]="object.duration" #duration="ngModel" name="duration" pKeyFilter="pint" required>
                <label>{{'Duration (in minutes)'|translate}}</label>
                <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" 
                  class="ui-message ui-messages-error ui-corner-all">
                  <div *ngIf="duration.errors.required">
                      {{'Duration is required' | translate}}
                  </div>
                </div>
              </span>
          </div>
        </div>
        <div class="ui-g-6">
          <!-- <label>{{'Datetime'|translate}}</label> -->
          <!-- <p-calendar [(ngModel)]="rangeDates" #date="ngModel" selectionMode="range" readonlyInput="true" name="date" required="true" [inline]="true" [locale]="locale" (onSelect)="onDateSelect($event)"></p-calendar> -->
          <label>{{'Start'|translate}}</label>
          <p-calendar [(ngModel)]="object.start" showTime="true" hourFormat="24" #start="ngModel"  name="start" required="true"></p-calendar>
          
          <div *ngIf="start.invalid" 
          class="ui-message ui-messages-error ui-corner-all" style="margin: 10px 0 20px;">
            <div *ngIf="start.errors.required">
                {{'Select date dates is required' | translate}}
            </div>
          </div>
        </div>
        <div class="ui-g-6">
          <label>{{'End'|translate}}</label>
          <p-calendar [(ngModel)]="object.end" showTime="true" hourFormat="24" #end="ngModel"  name="end" required="true"></p-calendar>
          <div *ngIf="end.invalid" 
          class="ui-message ui-messages-error ui-corner-all" style="margin: 10px 0 20px;">
            <div *ngIf="end.errors.required">
                {{'Select range dates is required' | translate}}
            </div>
          </div>
        </div>
      </div>
    </p-scrollPanel>
  </form>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="{{'Save'|translate}}" (click)="f.ngSubmit.emit()"></button>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
  <etraining-exam-member-dialog></etraining-exam-member-dialog>
  <etraining-select-user-dialog></etraining-select-user-dialog>
</p-dialog>