<div class="card card-w-title">
    <h1>{{'Class survey enroll'|translate}} :{{survey.name}}</h1>
    <div class="ui-g-12 ">
        <p-toolbar>
            <div class="ui-toolbar-group-left ">
                <button pButton type="button" label="{{ 'Register all'|translate}} " class="green-btn " icon="ui-icon-lock-open" (click)="enrollAll() " *ngIf="surveyMembers.length==0"></button>
            </div>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" label="{{ 'Open'|translate}} " class="green-btn " icon="ui-icon-lock-open" (click)="openSurvey() " [disabled]=" survey.status!='initial'"></button>
                <button pButton type="button" label="{{ 'Close'|translate}} " class="orange-btn " icon="ui-icon-lock" (click)="closeSurvey() " [disabled]=" survey.status=='closed'"></button>
            </div>
        </p-toolbar>
        <p-table #candidateTable [value]="courseMembers" [paginator]="true " [rows]="25" selectionMode="single" [(selection)]="selectedMember " [responsive]="true " sortField="name">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        {{'Index'|translate}}
                    </th>
                    <th [pSortableColumn]="'name'">
                        {{'Name'|translate}}
                        <p-sortIcon [field]="'name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'email'">
                        {{'Email'|translate}}
                        <p-sortIcon [field]="'email'"></p-sortIcon>
                    </th>
                    <th>{{'Phone'|translate}}</th>
                    <th [pSortableColumn]="'group_name'">
                        {{'Group'|translate}}
                        <p-sortIcon [field]="'group_name'"></p-sortIcon>
                    </th>
                    <th>
                        {{'Registered'|translate}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member let-rowIndex="rowIndex">
                <tr [pSelectableRow]="member ">
                    <td>{{rowIndex+1}}</td>
                    <td>{{member.name}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.phone}}</td>
                    <td>{{member.group_name}}</td>
                    <td><i class="material-icons" *ngIf="member.surveyMember">check</i></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                {{'Total records'|translate}} : {{surveyMembers?.length}}
            </ng-template>
        </p-table>
    </div>
    <div class="card-footer">
        <button type="button" pButton icon="ui-icon-clear" (click)="close()" label="{{'Close'|translate}}"></button>
    </div>
</div>
