<form novalidate (ngSubmit)="save()" #f="ngForm"  autocomplete="off">
  <p-dialog header="{{'Course unit'|translate}}" [(visible)]="display" modal="true" width="800" [responsive]="true" appendTo="body">
    <p-scrollPanel [style]="{width: '100%', height: '480px'}">
      <div class="ui-g ui-fluid form-group">
        <div class=" ui-g-12 ">
          <span class="md-inputfield">
              <input type="text"  pInputText name="name"[(ngModel)]="object.name">
              <label for="name">{{'Name' | translate}}</label>
          </span>
        </div>
        <div class=" ui-g-12 ">
          <ng-template course-unit-container></ng-template>
        </div>
      </div>     
    </p-scrollPanel>
    <p-footer>
      <button type="button" (click)="f.ngSubmit.emit()" pButton icon="fa-check" label="{{'Save'|translate}}"></button>
      <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
  </p-dialog>
</form>