<div class="card card-w-title">
    <h1>{{'Exam view'|translate}}: {{exam.name}}</h1>
    <div class="ui-g ui-fluid form-group">
        <div class="ui-g-6">
            <p-card styleClass="lms-exam-detail">
                <ul class="list-cmt">
                    <li class="clearfix">
                        <i class="material-icons">star_border</i>
                        <span class="cmt-title">{{'Mode'|translate}}</span>
                        <span class="cmt-detail">{{exam.mode}}</span>
                    </li>
                    <li class="clearfix">
                        <i class="material-icons">star_border</i>
                        <span class="cmt-title">{{'Start'|translate}}</span>
                        <span class="cmt-detail">{{exam.start | date: 'dd/MM/yyyy'}}</span>
                    </li>
                    <li class="clearfix">
                        <i class="material-icons">star_border</i>
                        <span class="cmt-title">{{'End'|translate}}</span>
                        <span class="cmt-detail">{{exam.end | date :'dd/MM/yyyy'}}</span>
                    </li>
                    <li class="clearfix">
                        <i class="material-icons">star_border</i>
                        <span class="cmt-title">{{'Editor'|translate}}</span>
                        <span class="cmt-detail">{{editor.name}}</span>
                    </li>
                    <li class="clearfix" style="border-bottom: none;">
                        <i class="material-icons">star_border</i>
                        <span class="cmt-title">{{'Competency level'|translate}}</span>
                        <span class="cmt-detail">{{exam.competency_level_name}}</span>
                    </li>
                </ul>
            </p-card>
        </div>
        <div class="ui-g-6">
            <div>
                <h4 class="removeM"><i class="material-icons">star_border</i> {{'Summary'|translate}}</h4>
                <p>{{exam.summary}}</p>
            </div>
            <div class="">
                <h4 class="removeM"><i class="material-icons">star_border</i> {{'Instruction'|translate}}</h4>
                <p [innerHTML]="exam.instruction"></p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" pButton icon="ui-icon-edit" label="{{'Edit'|translate}}" (click)="editExam()"></button>
        <button type="button" pButton icon="ui-icon-clear" (click)="close()" label="{{'Close'|translate}}"></button>
    </div>
</div>
