<div class="card card-w-title">
    <h1>{{'Exam view'|translate}}</h1>
    <div class="ui-g ui-fluid form-group pt40">
        <div class="ui-g-6">
            <div class="ui-g-3">
                <label>{{'Name'|translate}}</label>
            </div>
            <div class="ui-g-9">
                <span>{{exam.name}}</span>
            </div>
        </div>
        <div class="ui-g-6">
            <div class="ui-g-3">
                <label>{{'Duration (in minutes)'|translate}}</label>
            </div>
            <div class="ui-g-9">
                <span>{{exam.duration}}</span>
            </div>
        </div>
        <div class="ui-g-12">
            <label>{{'Summary'|translate}}</label>
            <p>
                {{exam.summary}}
            </p>
        </div>
        <div class="ui-g-12">
            <label>{{'Instruction'|translate}}</label>
            <p [innerHTML]="exam.instruction">
            </p>
        </div>
        <div class="ui-g-6">
            <div class="ui-g-3">
                <label>{{'Start'|translate}}</label>
            </div>
            <div class="ui-g-9">
                {{exam.start | date: 'dd/MM/yyyy'}}
            </div>
        </div>
        <div class="ui-g-6">
            <div class="ui-g-3">
                <label>{{'End'|translate}}</label>
            </div>
            <div class="ui-g-9">
                {{exam.end | date :'dd/MM/yyyy'}}
            </div>
        </div>
        <div class="ui-g-6">
            <div class="ui-g-3">
                <label>{{'Editor' |translate}}:</label>
            </div>
            <div class="ui-g-9">
                <span>{{editor.name}}</span>
            </div>
        </div>
        <div class="ui-g-6">
            <div class="ui-g-3">
                <label>{{'Competency level' |translate}}:</label>
            </div>
            <div class="ui-g-9">
                <span>{{exam.competency_level_name}}</span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" pButton icon="ui-icon-edit" label="{{'Edit'|translate}}" (click)="editExam()"></button>
        <button type="button" pButton icon="ui-icon-clear" (click)="close()" label="{{'Close'|translate}}"></button>
    </div>
</div>
