<div class="card card-w-title course-edit ui-g">
    <div class="ui-g-12">
        <h1>{{'Course'|translate}}: {{course.name}}</h1>
    </div>
    <div class="ui-g-12">
        <p-tabView [style]="{width: '100%'}" styleClass="tabView-course-edit">
            <p-tabPanel header="{{'Course syllabus'|translate}}" leftIcon="ui-icon-dehaze">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-toolbar>
                            <button pButton type="button" icon="ui-icon-edit" title="{{'Edit course'| translate}}" label="{{'Edit'|translate}}" class="mr4 blue-grey-btn" (click)="editSyllabus(course, member)"></button>
                            <button pButton type="button" icon="ui-icon-backup" title="{{'Backup'| translate}}" label="{{'Backup'|translate}}" class="green-btn" style="margin-right:4px;" (click)="backupCourse()"></button>
                            <button pButton type="button" icon="ui-icon-restore" title="{{'Restore'| translate}}" label="{{'Restore'|translate}}" class="blue-btn" style="margin-right:4px;" (click)="restoreCourse()"></button>
                        </p-toolbar>
                    </div>
                    <div class="ui-g-3 course-edit-tree">
                        <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
                    </div>
                    <div class="ui-g-9 course-unit-edit" *ngIf="selectedUnit">
                        <div class="card">
                            <div class="image-box-content">
                                <div>
                                    <h3 class="removeMT">{{selectedUnit.name}}</h3>
                                    <span>{{'Unit type'|translate}} : {{COURSE_UNIT_TYPE[selectedUnit.type]}}</span>
                                </div>
                                <div class="image-box-footer">
                                    <button pButton type="button" icon="ui-icon-remove-red-eye" title="{{'Preview'| translate}}" label="{{'Preview'|translate}}" class="orange-btn" style="margin-right:4px;" (click)="previewUnit(selectedUnit)" *ngIf="selectedUnit.type!='folder'"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <course-unit-preview-dialog></course-unit-preview-dialog>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Course material'|translate}}" leftIcon="ui-icon-cloud-download">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-toolbar>
                            <div class="ui-toolbar-group-left">
                                <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addMaterial()" icon="ui-icon-add"></button>
                                <button pButton type="button" label="{{'Edit'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editMaterial(selectedMaterial)" *ngIf="selectedMaterial"></button>
                                <button pButton type="button" label="{{'Delete'|translate}}" class="red-btn" icon="ui-icon-delete" (click)="deleteMaterial(selectedMaterial)" *ngIf="selectedMaterial"></button>
                            </div>
                        </p-toolbar>
                        <p-table #materialTable [value]="materials" [paginator]="true" [rows]="25" selectionMode="single" [(selection)]="selectedMaterial" [responsive]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        {{'Index'|translate}}
                                    </th>
                                    <th [pSortableColumn]="'name'">
                                        {{'Name'|translate}}
                                        <p-sortIcon [field]="'name'"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'type'">
                                        {{'Type'|translate}}
                                        <p-sortIcon [field]="'type'"></p-sortIcon>
                                    </th>
                                    <th>
                                        {{'URL'|translate}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-material let-i="rowIndex">
                                <tr [pSelectableRow]="material">
                                    <td>{{rowIndex + 1}}</td>
                                    <td>{{material.name}}</td>
                                    <td>{{material.type}}</td>
                                    <td class="url-course-material">{{material.url}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                {{'Total records'|translate}} : {{materials?.length}}
                            </ng-template>
                        </p-table>
                    </div>
                    <course-material-dialog></course-material-dialog>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Course FAQ'|translate}}" leftIcon="ui-icon-question-answer">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-toolbar>
                            <div class="ui-toolbar-group-left">
                                <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addFaq()" icon="ui-icon-add"></button>
                                <button pButton type="button" label="{{'Edit'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editFaq(selectedFaq)" *ngIf="selectedFaq"></button>
                                <button pButton type="button" label="{{'Delete'|translate}}" class="red-btn" icon="ui-icon-delete" (click)="deleteFaq(selectedFaq)" *ngIf="selectedFaq"></button>
                            </div>
                        </p-toolbar>
                        <p-table #faqTable [value]="faqs" [paginator]="true" [rows]="25" selectionMode="single" [(selection)]="selectedFaq" [responsive]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        {{'Index'|translate}}
                                    </th>
                                    <th>
                                        {{'Question'|translate}}
                                    </th>
                                    <th>
                                        {{'Answer'|translate}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-faq let-rowIndex="rowIndex">
                                <tr [pSelectableRow]="faq">
                                    <td>{{rowIndex + 1}}</td>
                                    <td>{{faq.question}}</td>
                                    <td>{{faq.answer}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                {{'Total records'|translate}} : {{faqs?.length}}
                            </ng-template>
                        </p-table>
                    </div>
                    <course-faq-dialog></course-faq-dialog>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="card-footer">
        <button type="button" pButton icon="ui-icon-arrow-back" (click)="back()" label="{{'Go back'|translate}}"></button>
    </div>
</div>
