<div class="card card-w-title">
    <h1>{{'Competency list'|translate}}</h1>
    <div class="ui-g">
        <div class="ui-g-12">
            <label>{{'Competency group'|translate}}</label>
            <p-tree [value]="tree" selectionMode="checkbox" [(selection)]="selectedGroupNodes" (onNodeSelect)="filterCompetency()" (onNodeUnselect)="filterCompetency()"></p-tree>
        </div>
        <div class="ui-g-12">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addCompetency()" icon="ui-icon-add"></button>
                    <button pButton type="button" label="{{'Edit'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editCompetency(selectedCompetency)" [disabled]="!selectedCompetency"></button>
                    <button pButton type="button" label="{{'Delete'|translate}}" class="red-btn" icon="ui-icon-delete" (click)="deleteCompetency(selectedCompetency)" [disabled]="!selectedCompetency"></button>
                </div>
            </p-toolbar>
            <p-table #skillTable [value]="displayCompetencies" [paginator]="true" [rows]="10" [(selection)]="selectedCompetency" [responsive]="true" selectionMode="single">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'group_name'">
                            {{'Group'|translate}}
                            <p-sortIcon [field]="'group_name'"></p-sortIcon>
                        </th>
                        <th>
                            {{'Level'|translate}}
                        </th>
                        <th [pSortableColumn]="'create_date'">
                            {{'Created'|translate}}
                            <p-sortIcon [field]="'create_date'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'write_date'">
                            {{'Updated'|translate}}
                            <p-sortIcon [field]="'write_date'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-competency let-i="rowIndex">
                    <tr [pSelectableRow]="competency">
                        <td style="text-align: center;"> {{competency.name}}</td>
                        <td style="text-align: center;">{{competency.group_name}}</td>
                        <td>
                            {{competency.level_summary}}
                        </td>
                        <td>{{competency.create_date | date : "dd/MM/yyyy "}}</td>
                        <td>{{competency.write_date | date : "dd/MM/yyyy "}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{displayCompetencies?.length}}
                </ng-template>
            </p-table>
            <competency-dialog></competency-dialog>
        </div>
    </div>
</div>