<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-content">
            <form class="form-horizontal form-simple" (ngSubmit)="f.form.valid && recoverPassword()" #f="ngForm" novalidate>
                <div class="ui-g">
                    <div class=" ui-g-12 ">
                        <h1>{{'Password Recovery Form'|translate}}</h1>
                    </div>
                    <div class=" ui-g-12 ">
                        <label for="email">{{'Enter you login name'|translate}}</label>
                        <input type="email" pInputText name="login" [(ngModel)]="login" #loginname="ngModel" required>
                        <div *ngIf="loginname.invalid && (loginname.dirty || loginname.touched)" class="ui-message ui-messages-error ui-corner-all">
                            <div *ngIf="loginname.errors.required">
                                {{'Login name is required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <button pButton type="submit" icon="fa ui-icon-send" label="{{'Submit' | translate}}" [disabled]="!f.form.valid || loading"></button>
                    </div>
                    <div class="ui-g-12">
                        <a routerLink="/auth/login">{{'Return to login'|translate}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
