<form novalidate (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
  <p-dialog header="{{'Group'|translate}}" [(visible)]="display" modal="false" width="300" [responsive]="true" positionTop="50"  [closeOnEscape]="false" [closable]="false">
    <div class="spinner" [hidden]="!loading"></div>
    <div class="ui-g ui-fluid form-group">
      <div class="ui-g-12">
        <label>{{'Parent group'|translate}}</label>
        <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)">></p-tree>
      </div>
      <div class="ui-g-12"> <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="object.name" #name="ngModel" name="name" required>
            <label>{{'Name'|translate}}</label>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="ui-message ui-messages-error ui-corner-all">
              <div *ngIf="name.errors.required">
                {{'Name is required' | translate}}
              </div>
            </div>
          </span>
      </div>
      <div class="ui-g-12"> <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="object.code" #code="ngModel" name="code" required>
            <label>{{'Code'|translate}}</label>
            <div *ngIf="code.invalid && (code.dirty || code.touched)" class="ui-message ui-messages-error ui-corner-all">
              <div *ngIf="code.errors.required">
                {{'Code is required' | translate}}
              </div>
            </div>
          </span>
      </div>
    </div>
    <p-footer>
      <button type="submit" pButton icon="ui-icon" [disabled]="!f.form.valid" label="{{'Save'|translate}}"></button>
      <button type="button" pButton icon="ui-icon-clear" (click)="cancel()" label="{{'Close'|translate}}"></button>
    </p-footer>
  </p-dialog>
</form>