.layout-wrapper .layout-main .layout-footer .footer-text-left span{
    vertical-align: middle;
}
.layout-wrapper .layout-main .layout-footer .footer-text-left {
    margin-top: 10px;
    float:left;
}