<button pButton type="button" label="{{'Select questions'|translate}}" class="orange-btn" icon="ui-icon-near-me" (click)="selectQuestion()"></button>
<p-table #questionTable [value]="exerciseQuestions" [responsive]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>
        {{'Title'|translate}}
      </th>
      <th>
        {{'Group'|translate}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-question let-rowIndex="rowIndex">
    <tr>
      <td>{{rowIndex+1}}</td>
      <td>{{question.title}}</td>
      <td>{{question.group_id__DESC__}}</td>
    </tr>
  </ng-template>
</p-table>
<select-question-dialog></select-question-dialog>