<div class="">
    <h1 class="removeM ml8">{{'Survey enrollments'|translate}}</h1>
    <div class="ui-g">
        <div class="ui-g-12">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="{{'Enroll'|translate}}" class="red-btn" icon="ui-icon-people" (click)="enrollSurvey(selectedSurvey)" [disabled]="!selectedSurvey || selectedSurvey.status!='open'"></button>
                    <button pButton type="button" label="{{ 'Open'|translate}} " class="nissan-btn" icon="ui-icon-lock" (click)="openSurvey(selectedSurvey) " [disabled]=" selectedSurvey && selectedSurvey.status=='open'" ></button>
                     <button pButton type="button" label="{{ 'Close'|translate}} " class="nissan-btn" icon="ui-icon-lock" (click)="closeSurvey(selectedSurvey) " [disabled]=" selectedSurvey && selectedSurvey.status=='closed'" ></button>
                </div>
            </p-toolbar>
            <p-table #surveyTable [value]="surveys" [paginator]="true" [rows]="25" selectionMode="single" [(selection)]="selectedSurvey" [responsive]="true" >
                <ng-template pTemplate="header">
                    <tr>
                         <th style="width: 5%">
                            {{'Index'|translate}}
                        </th>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th>
                            {{'Summary'|translate}}
                        </th>
                        <th>
                            {{'Start'|translate}}
                        </th>
                        <th>
                            {{'End'|translate}}
                        </th>
                        <th [pSortableColumn]="'status'">
                            {{'Status'|translate}}
                            <p-sortIcon [field]="'status'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'review_state'">
                            {{'Reviewed'|translate}}
                            <p-sortIcon [field]="'review_state'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'create_date'">
                            {{'Created'|translate}}
                            <p-sortIcon [field]="'create_date'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'write_date'">
                            {{'Updated'|translate}}
                            <p-sortIcon [field]="'write_date'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-survey let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="survey">
                        <td>{{rowIndex+1}}</td>
                        <td  style="text-align: left;">{{survey.name}}</td>
                        <td class="showformb" style="text-align: left;">{{survey.summary}}</td>
                        <td class="showformb">{{survey.start | date : "dd/MM/yyyy, h:mm a"}}</td>
                        <td class="showformb">{{survey.end | date : "dd/MM/yyyy, h:mm a"}}</td>
                        <td class="showformb">{{SURVEY_STATUS[survey.status] | translate}}</td>
                        <td class="showformb">{{REVIEW_STATE[survey.review_state] | translate}}</td>
                        <td>{{survey.create_date | date : "dd/MM/yyyy "}}</td>
                        <td>{{survey.write_date | date : "dd/MM/yyyy "}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{surveys?.length}}
                </ng-template>
            </p-table>
        </div>
    </div>
</div>