<p-dialog header="{{'Course enrollment'|translate}}" [(visible)]="display" modal="true" width="1200" height="100%" [responsive]="true" appendTo="body">
  <p-scrollPanel [style]="{width: '100%', height: '460px'}">
    <p-tabView [style]="{width: '100%', height: '460px'}">
      <p-tabPanel header="{{'Students'|translate}}" leftIcon="ui-icon-people">
        <div class="ui-g-12 ">
          <p-toolbar>
            <div class="ui-toolbar-group-left ">
              <button pButton type="button " label="{{ 'Add'|translate}} " class="green-btn " icon="ui-icon-add " (click)="addMembers('student') "></button>
              <button pButton type="button " label="{{ 'Delete'|translate}} " class="red-btn " icon="ui-icon-delete " (click)="deleteMembers(selectedStudents) " *ngIf="selectedStudents && selectedStudents.length "></button>
            </div>
          </p-toolbar>
          <p-table #studentTable [value]="students" [paginator]="true " [rows]="10" selectionMode="multiple" [(selection)]="selectedStudents " [responsive]="true " sortField="name">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 2.25em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [pSortableColumn]="'name'">
                  {{'Name'|translate}}
                  <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th width="250px" [pSortableColumn]="'email'">
                  {{'Email'|translate}}
                  <p-sortIcon [field]="'email'"></p-sortIcon>
                </th>
                <th>{{'Phone'|translate}}</th>
                <th [pSortableColumn]="'group_id__DESC__'">
                  {{'Group'|translate}}
                  <p-sortIcon [field]="'group_id__DESC__'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'status'">
                  {{'Status'|translate}}
                  <p-sortIcon [field]="'status'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'enroll_status'">
                  {{'Enroll status'|translate}}
                  <p-sortIcon [field]="'enroll_status'"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member>
              <tr [pSelectableRow]="member ">
                <td>
                  <p-tableCheckbox [value]="member"></p-tableCheckbox>
                </td>
                <td style="text-align: left;">{{member.name}}</td>
                <td style="text-align: left;" width="250px">{{member.email}}</td>
                <td>{{member.phone}}</td>
                <td>{{member.group_id__DESC__}}</td>
                <td>{{COURSE_MEMBER_STATUS[member.status] | translate}}</td>
                <td>{{COURSE_MEMBER_ENROLL_STATUS[member.enroll_status] | translate}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              {{'Total records'|translate}} : {{students?.length}}
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>
      <p-tabPanel *ngIf="course.mode=='group'" header="{{'Teachers'|translate}}" leftIcon="ui-icon-people">
        <div class="ui-g-12 ">
          <p-toolbar>
            <div class="ui-toolbar-group-left ">
              <button pButton type="button " label="{{ 'Add'|translate}} " class="green-btn " icon="ui-icon-add " (click)="addMembers('teacher') "></button>
              <button pButton type="button " label="{{ 'Delete'|translate}} " class="red-btn " icon="ui-icon-delete " (click)="deleteMembers(selectedTeachers) " *ngIf="selectedTeachers && selectedTeachers.length "></button>
            </div>
          </p-toolbar>
          <p-table #candidateTable [value]="teachers" [paginator]="true " [rows]="10" selectionMode="multiple" [(selection)]="selectedTeachers " [responsive]="true " sortField="name">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 2.25em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [pSortableColumn]="'name'">
                  {{'Name'|translate}}
                  <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'email'">
                  {{'Email'|translate}}
                  <p-sortIcon [field]="'email'"></p-sortIcon>
                </th>
                <th>{{'Phone'|translate}}</th>
                <th [pSortableColumn]="'group_id__DESC__'">
                  {{'Group'|translate}}
                  <p-sortIcon [field]="'group_id__DESC__'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'status'">
                  {{'Status'|translate}}
                  <p-sortIcon [field]="'status'"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member>
              <tr [pSelectableRow]="member ">
                <td>
                  <p-tableCheckbox [value]="member"></p-tableCheckbox>
                </td>
                <td>{{member.name}}</td>
                <td>{{member.email}}</td>
                <td>{{member.phone}}</td>
                <td>{{member.group_id__DESC__}}</td>
                <td>{{COURSE_MEMBER_STATUS[member.status]}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              {{'Total records'|translate}} : {{members?.length}}
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>
    </p-tabView>
  </p-scrollPanel>
  <select-user-dialog></select-user-dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>