<div class="card card-w-title ui-g">
    <h1>{{'Class enrollment'|translate}}: {{courseClass.name}}</h1>
    <p-tabView>
        <p-tabPanel header="{{'Students'|translate}}" leftIcon="ui-icon-people">
            <p-toolbar>
                <div class="ui-toolbar-group-left ">
                    <button pButton type="button" label="{{ 'Add'|translate}} " class="green-btn " icon="ui-icon-add " (click)="addStudent() "></button>
                    <button pButton type="button" label="{{ 'Delete'|translate}} " class="red-btn " icon="ui-icon-delete " (click)="deleteMembers(selectedStudents) " *ngIf="selectedStudents && selectedStudents.length "></button>
                </div>
                <div class="ui-toolbar-group-right">
                    <button pButton type="button" label="{{'Export'|translate}}" class="blue-grey-btn" icon="ui-icon-file-download" (click)="export()"></button>
                </div>
            </p-toolbar>
            <p-table #studentTable [value]="students" [paginator]="true " [rows]="25" selectionMode="multiple" [(selection)]="selectedStudents " [responsive]="true " sortField="name">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            {{'Index'|translate}}
                        </th>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'login'">
                            {{'Login'|translate}}
                            <p-sortIcon [field]="'login'"></p-sortIcon>
                        </th>
                        <th width="250px" [pSortableColumn]="'email'">
                            {{'Email'|translate}}
                            <p-sortIcon [field]="'email'"></p-sortIcon>
                        </th>
                        <th>{{'Phone'|translate}}</th>
                        <th [pSortableColumn]="'group_name'">
                            {{'Group'|translate}}
                            <p-sortIcon [field]="'group_name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'status'">
                            {{'Status'|translate}}
                            <p-sortIcon [field]="'status'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'enroll_status'">
                            {{'Enroll status'|translate}}
                            <p-sortIcon [field]="'enroll_status'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-member let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="member ">
                        <td>
                            <p-tableCheckbox [value]="member"></p-tableCheckbox>
                        </td>
                        <td>{{rowIndex+1}}</td>
                        <td style="text-align: left;">{{member.name}}</td>
                        <td>{{member.login}}</td>
                        <td style="text-align: left;" width="250px">{{member.email}}</td>
                        <td>{{member.phone}}</td>
                        <td>{{member.group_name}}</td>
                        <td>{{COURSE_MEMBER_STATUS[member.status] | translate}}</td>
                        <td>{{COURSE_MEMBER_ENROLL_STATUS[member.enroll_status] | translate}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{students?.length}}
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="{{'Teachers'|translate}}" leftIcon="ui-icon-people">
            <p-toolbar>
                <div class="ui-toolbar-group-left ">
                    <button pButton type="button" label="{{ 'Add'|translate}} " class="green-btn " icon="ui-icon-add " (click)="addTeacher() "></button>
                    <button pButton type="button" label="{{ 'Delete'|translate}} " class="red-btn " icon="ui-icon-delete " (click)="deleteMembers(selectedTeachers) " *ngIf="selectedTeachers && selectedTeachers.length "></button>
                </div>
            </p-toolbar>
            <p-table #candidateTable [value]="teachers" [paginator]="true " [rows]="25" selectionMode="multiple" [(selection)]="selectedTeachers " [responsive]="true " sortField="name">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            {{'Index'|translate}}
                        </th>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'login'">
                            {{'Login'|translate}}
                            <p-sortIcon [field]="'login'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'email'">
                            {{'Email'|translate}}
                            <p-sortIcon [field]="'email'"></p-sortIcon>
                        </th>
                        <th>{{'Phone'|translate}}</th>
                        <th [pSortableColumn]="'group_name'">
                            {{'Group'|translate}}
                            <p-sortIcon [field]="'group_name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'status'">
                            {{'Status'|translate}}
                            <p-sortIcon [field]="'status'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-member let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="member ">
                        <td>
                            <p-tableCheckbox [value]="member"></p-tableCheckbox>
                        </td>
                        <td>{{rowIndex+1}}</td>
                        <td>{{member.name}}</td>
                        <td>{{member.login}}</td>
                        <td>{{member.email}}</td>
                        <td>{{member.phone}}</td>
                        <td>{{member.group_name}}</td>
                        <td>{{COURSE_MEMBER_STATUS[member.status] | translate}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{members?.length}}
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
    <select-multi-user-dialog></select-multi-user-dialog>
    <div class="card-footer">
        <button type="button" pButton icon="ui-icon-clear " (click)="close() " label="{{ 'Close'|translate}} "></button>
    </div>
</div>
