<p-dialog header="{{'Course syllabus'|translate}}" [(visible)]="display" modal="false" width="960" [responsive]="true">
  <p-scrollPanel [style]="{width: '100%', height: '480px'}">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <p-splitButton label="{{'Add'|translate}}" icon="ui-icon-add" [model]="items" styleClass="ui-button-success"></p-splitButton>
            <button pButton type="button" label="{{'Edit'|translate}}" class="purple-btn" icon="ui-icon-mode-edit" (click)="edit()" [disabled]="!selectedNode"></button>
            <button pButton type="button" pTooltip="{{'Move up'|translate}}" class="purple-btn" icon="ui-icon-arrow-upward" (click)="moveUp()" [disabled]="!selectedNode"></button>
            <button pButton type="button" pTooltip="{{'Move down'|translate}}" class="purple-btn" icon="ui-icon-arrow-downward" (click)="moveDown()" [disabled]="!selectedNode"></button>
            <button pButton type="button" pTooltip="{{'Delete'|translate}}" class="red-btn" icon="ui-icon-delete" (click)="delete()" [disabled]="!selectedNode"></button>
          </div>
          <div class="ui-toolbar-group-right">
            <button pButton type="button" label="{{'Clear selection'|translate}}" class="orange-btn" icon="ui-icon-clear" (click)="selectedNode=null" [disabled]="!selectedNode"></button>
          </div>
        </p-toolbar>
        <div class="ui-g-12">
          <label>{{'Course structure'|translate}}</label>
          <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode"></p-tree>
        </div>
      </div>
    </div>
  </p-scrollPanel>
  <course-unit-dialog></course-unit-dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>