.hrm-toolbar-tree{
}
.mrg-bt{
    margin-bottom: 15px;
}

.list-cmt{
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.list-cmt li{
	list-style: none;
	padding: 10px 16px;
    border-bottom: 1px solid #dbdbdb;
}

.list-cmt li i{
	font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
    color: #586f79;
}

.list-cmt li .cmt-title{
    margin-right: 8px;
    color: #586f79;
}

.list-cmt li .cmt-detail{
	color: #586f79;
	float: right;
}

.display-none{
	display: none;
}

/*.search input{
	border: 1px solid #bdbdbd; 
	width: 400px; 
	border-bottom-left-radius: 3px; 
	border-top-left-radius: 3px
}

.search button{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}*/

.summary{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h4.heading-course{
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h4.heading-course:hover, h4.heading-course:focus, h4.heading-course:active{
	color: #c71632
}

/*i.success {
	color: green;
}

i.fail {
	color: red;
}*/

.course-card-header{
	position: relative;
}

.course-card-header, .course-card-header img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.c-status-success{
	position: absolute;
	background-color: #32de4e;
	color: #fff;
	right: 0;
	top: 15px;
    padding: 5px 10px;
}

.c-status-fail{
	background-color: #c2c0c0;
	position: absolute;
	color: #fff;
	right: 0;
	top: 15px;
    padding: 5px 10px;
}

.btn-course{
	position: absolute;
    background: rgba(85, 85, 85, 0.9);
    height: 180px;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 72px 15px;
    display: none;
}

.course-card-header:hover .btn-course{
	display: block;
}

.btn-course button, .btn-exam button{
	background-color: #ababab;
}

.exam-card-content{
    background-color: #ffffff;
    position: relative;
}

.btn-exam{
	position: absolute;
	text-align: center;
	width: 100%;
}

.exam-card-header {
    height: 80px;
    padding: 28px 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.exam-card-header-1{
	background: -webkit-linear-gradient(left,#6c6ffe 0,#a8aaff 100%);
}

.exam-card-header-2{
	background: -webkit-linear-gradient(left,#fcb201 0,#f8ca5b 100%);
}

.exam-card-header-3{
	background: -webkit-linear-gradient(left,#fe6ba6 0,#ff96c0 100%);
}

.exam-card-header-4{
	background: -webkit-linear-gradient(left,#8BC34A 0,#8bc34acc 100%);
}

.exam-card-content .list-cmt li{
	padding: 16px;
}

.exam-card-name{
	font-size: 20px;
    color: #fff;
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}