<h1 class="removeM ml8">{{'Question bank'|translate}}</h1>
<div class="ui-g">
    <div class="ui-g-12">
        <label>{{'Question group'|translate}}</label>
        <p-tree [value]="tree" selectionMode="checkbox" [(selection)]="selectedGroupNodes" (onNodeSelect)="filterQuestion()" (onNodeUnselect)="filterQuestion()" styleClass="width-tree mt5 mb10"></p-tree>
    </div>
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left" *ngIf="mode=='single'">
                <p-splitButton label="{{'Add'|translate}}" icon="ui-icon-add" [model]="items" styleClass="ui-button-danger button-add-ques"></p-splitButton>
                <button pButton type="button" label="{{'Edit'|translate}}" class="nissan-btn" icon="ui-icon-mode-edit" (click)="editQuestion(selectedQuestions)" [disabled]="!selectedQuestions"></button>
                <button pButton type="button" label="{{'View'|translate}}" class="nissan-btn" icon="ui-icon-visibility" (click)="viewQuestion(selectedQuestions)" [disabled]="!selectedQuestions"></button>
                <button pButton type="button" label="{{'Delete'|translate}}" class="nissan-btn" icon="ui-icon-delete" (click)="enterBatchMode('delete')"></button>
                 <button pButton type="button" label="{{'Import'|translate}}" class="nissan-btn" icon="ui-icon-file-upload" (click)="importQuestion()"></button>
            </div>
            <div class="ui-toolbar-group-left" *ngIf="mode=='multiple'">
                <button pButton type="button" label="{{'Apply'|translate}}" class="nissan-btn" (click)="applyBatchAction()" icon="ui-icon-check" [disabled]="!selectedQuestions || !selectedQuestions.length"></button>
                <button pButton type="button" label="{{'Cancel'|translate}}" class="nissan-btn" icon="ui-icon-clear" (click)="enterSingleMode()"></button>
            </div>
        </p-toolbar>
        <p-table #questionTable [value]="displayQuestions" [paginator]="true" [rows]="25" [(selection)]="selectedQuestions" [responsive]="true" selectionMode="{{mode}}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 2.25em; padding: 0 7px;" *ngIf="mode=='multiple'">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>
                        {{'Index'|translate}}
                    </th>
                    <th [pSortableColumn]="'group_name'">
                        {{'Group'|translate}}
                        <p-sortIcon [field]="'group_name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'title'">
                        {{'Title'|translate}}
                        <p-sortIcon [field]="'title'"></p-sortIcon>
                    </th>
                    <th width="40%">{{'Content'|translate}}</th>
                    <th width="15%" [pSortableColumn]="'level'">
                        {{'Level'|translate}}
                        <p-sortIcon [field]="'level'"></p-sortIcon>
                    </th>
                    <th width="20%" [pSortableColumn]="'type'">
                        {{'Type'|translate}}
                        <p-sortIcon [field]="'type'"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-question let-rowIndex="rowIndex">
                <tr [pSelectableRow]="question">
                    <td style="width: 2.25em; padding: 0 7px;"*ngIf="mode=='multiple'">
                        <p-tableCheckbox [value]="question"></p-tableCheckbox>
                    </td>
                    <td>{{rowIndex+1}}</td>
                    <td style="text-align: left;">{{question.group_name}}</td>
                    <td style="text-align: left;">{{question.title}}</td>
                    <td class="q-content" [innerHTML]="question.content">{{question.content}}</td>
                    <td class="showformb">{{QUESTION_LEVEL[question.level] | translate}}</td>
                    <td class="showformb">{{QUESTION_TYPE[question.type] | translate}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                {{'Total records'|translate}} : {{displayQuestions?.length}}
            </ng-template>
        </p-table>
    </div>
</div>
