<div class="ui-g exam-study">
  <p-dialog [(visible)]="display" modal="true" [height]="WINDOW_HEIGHT" positionLeft="0" positionTop="0" styleClass="ui-g-12" [responsive]="true" [closeOnEscape]="false" [closable]="false"  appendTo="body">
    <div class="spinner" [hidden]="!loading"></div>
    <p-growl ></p-growl>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <h2 class="mt10 mb10 exam-name">{{'Exam Name'|translate}}: {{exam.name}}</h2>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <div class="exam-timer mr5 txtBold">
        <h2 class="mt10 mb10"><!-- <i class="material-icons">access_time</i> -->
        <img src="assets/images/Clock_reversed.gif" width="40px">
        <span class="dpInB">{{ timeLeft | clock }}</span></h2>
      </div>
    </div>
    <div class="info ui-g-12 ui-md-12 ui-lg-12">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <h4 class="removeM">{{'Member Name'|translate}}: {{member.name}}</h4>
      </div>
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <h4 class="removeM">{{'Exam Code'|translate}}: {{ exam.id + '' + member.id }}</h4>
      </div>
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <h4 class="removeM">{{'Exam Date'|translate}}: {{exam.start | date : "dd/MM/yyyy"}}</h4>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 pr-0 pl-0 ques-exam-study">
        <p-card>
          <div class="ui-g">
            <div class="ui-lg-8 ui-md-12 ui-g-12">
              <ng-template question-container></ng-template>
              <div class="exam-study-footer">
                <button pButton type="button" icon="ui-icon-navigate-before" title="{{'Previous'|translate}}" label="{{'Previous'|translate}}" class=" blue-grey-btn" (click)="prev()" *ngIf="qIndex >0 "></button>
                <button pButton type="button" icon="ui-icon-check" title="{{'Submit'|translate}}" label="{{'Submit'|translate}}" class=" green-btn btn-submit-exam" (click)="submitExam()"></button>
                <button pButton type="button" icon="ui-icon-navigate-next" title="{{'Next'|translate}}" label="{{'Next'|translate}}" class=" blue-grey-btn removeMR" (click)="next()" *ngIf="qIndex < examQuestions.length-1"></button>
              </div>
            </div>
            <div class="ui-lg-4 ui-md-12 ui-g-12 info-study">
              <ul class="list-cmt">
                <li class="clearfix ui-messages-info remove-background remove-border">
                  <span class="cmt-title">{{'Total question'|translate}}:</span>
                  <span class="cmt-detail">{{stats.total}}</span>
                </li>
                <li class="clearfix ui-messages-success remove-background remove-border">
                  <span class="cmt-title">{{'Total attempt'|translate}}:</span>
                  <span class="cmt-detail">{{stats.attempt}}</span>
                </li>
                <li class="clearfix ui-messages-error remove-background remove-border">
                  <span class="cmt-title">{{'Total unattempt'|translate}}:</span>
                  <span class="cmt-detail">{{stats.unattempt}}</span>
                </li>
              </ul>
              <div>
                <div class="dpInB fLeft" *ngFor="let question of examQuestions; let i = index">
                  <button type="button" pButton [ngClass]="{'mt10': true, 'lineHeight2-25': true, 'ui-button-success':question.attempted}"
                    (click)="displayQuestion(i)">{{ i + 1 }}</button>
                </div>
                <div class="clear"></div>
                <div>
                  <p-messages [(value)]="msgs"></p-messages>
                </div>
              </div>
            </div>
          </div>
          <exam-submission-dialog></exam-submission-dialog>
          <p-footer>
          </p-footer>
        </p-card>
    </div>
    
  </p-dialog>
</div>