<p-dialog [(visible)]="display" modal="true" [(height)]="height" positionLeft="0" positionTop="0" styleClass="ui-g-12" [responsive]="true"
  [closeOnEscape]="false" [closable]="false">
  <div class="ui-g-12 removePd">
    <div class="ui-g-6 removePd">
      <div class="ui-g-6 removePd">
        <h4 class="mt10 mb10">{{'Exam Name'|translate}}:</h4>
      </div>
      <div class="ui-g-6 removePd">
        <h4 class="mt10 mb10">{{exam.name}}</h4>
      </div>
      <div class="ui-g-6 removePd">
        <h4 class="mt10 mb10">{{'Name Member'|translate}}:</h4>
      </div>
      <div class="ui-g-6 removePd">
        <h4 class="mt10 mb10">{{member.name}}</h4>
      </div>
      <div class="ui-g-6 removePd">
        <h4 class="mt10 mb10">{{'Username'|translate}}:</h4>
      </div>
      <div class="ui-g-6 removePd">
          <h4 class="mt10 mb10">{{member.login}}</h4>
        </div>
    </div>
    <div class="ui-g-6 removePd">
      <div class="ui-g-6 removePd">
        <h4 class="mt10 mb10">{{'Exam Date'|translate}}:</h4>
      </div>
      <div class="ui-g-6 removePd">
        <h4 class="mt10 mb10">{{exam.start | date : "dd/MM/yyyy"}}</h4>
      </div>
      <div class="ui-g-6 removePd">
        <h4 class="mt10 mb10">{{'Exam Code'|translate}}:</h4>
      </div>
      <div class="ui-g-6 removePd">
        <h4 class="mt10 mb10">{{ examCode }}</h4>
      </div>
    </div>
  </div>
  <div class="clear mb20"></div>
  <p-card>
    <p-header>
      <span class="exam-question-title fLeft mt5 ml5 txtBold">
        {{'Question'|translate}} {{(qIndex+1) +'/' + examQuestions.length}} {{'-' + currentQuestion.title}}
      </span>
      <div class="exam-timer fRight mr5 txtBold">
        <i class="material-icons fLeft mt3">access_time</i>
        <span class="mt5 dpInB">{{ timeLeft | clock }}</span>
      </div>
      <div class="clear"></div>
      <p-progressBar [value]="progress"></p-progressBar>
    </p-header>
    <div class="ui-g">
      <div class="ui-g-8">
        <ng-template question-container></ng-template>
      </div>
      <div class="ui-g-4">
        <ul class="list-cmt">
          <li class="clearfix ui-messages-info remove-background remove-border">
            <span class="cmt-title">{{'Total question'|translate}}:</span>
            <span class="cmt-detail">{{stats.total}}</span>
          </li>
          <li class="clearfix ui-messages-success remove-background remove-border">
            <span class="cmt-title">{{'Total attempt'|translate}}:</span>
            <span class="cmt-detail">{{stats.attempt}}</span>
          </li>
          <li class="clearfix ui-messages-error remove-background remove-border">
            <span class="cmt-title">{{'Total unattempt'|translate}}:</span>
            <span class="cmt-detail">{{stats.unattempt}}</span>
          </li>
        </ul>
        <div>
          <button type="button" pButton class="mt10 lineHeight2-25" *ngFor="let question of examQuestions; let i = index" (click)="displayQuestion(i)">{{ i + 1 }}</button>
        </div>
      </div>
    </div>

    <p-footer>
      <button pButton type="button" icon="ui-icon-navigate-before" title="{{'Previous'|translate}}" label="{{'Previous'|translate}}"
        class=" purple-btn" style="margin-right:4px;" (click)="prev()" *ngIf="qIndex >0 "></button>
      <button pButton type="button" icon="ui-icon-navigate-next" title="{{'Next'|translate}}" label="{{'Next'|translate}}" class=" purple-btn"
        style="margin-right:4px;" (click)="next()" *ngIf="qIndex < examQuestions.length-1"></button>
      <button pButton type="button" icon="ui-icon-check" title="{{'Submit'|translate}}" label="{{'Submit'|translate}}" class=" green-btn"
        style="margin-right:4px;" (click)="submitExam()" *ngIf="qIndex==examQuestions.length-1"></button>
    </p-footer>
  </p-card>
</p-dialog>