<div class="card card-w-title">
  <h1>{{'Course study'|translate}}: {{course.name}} </h1>
  <p-tabView [style]="{width: '100%', height: '460px'}">
    <p-tabPanel header="{{'Course syllabus'|translate}}" leftIcon="ui-icon-dehaze">
      <div class="ui-g-3">
        <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
      </div>
      <div class="ui-g-9" *ngIf="selectedUnit">
        <div class="card">
          <div class="image-box-content">
            <div>
              <h3>{{selectedUnit.name}}</h3>
              <span>{{'Unit type'|translate}} : {{COURSE_UNIT_TYPE[selectedUnit.type]}}</span>
            </div>
            <div class="image-box-footer">
              <button pButton type="button" icon="ui-icon-navigate-before" title="{{'Previous'|translate}}" label="{{'Previous'|translate}}" class=" purple-btn" style="margin-right:4px;" (click)="prevUnit()"></button>
              <button pButton type="button" icon="ui-icon-navigate-next" title="{{'Next'|translate}}" label="{{'Next'|translate}}" class=" purple-btn" style="margin-right:4px;" (click)="nextUnit()"></button>
              <button pButton type="button" icon="ui-icon-open-in-browser" title="{{'Study'| translate}}" label="{{'Study'|translate}}" class="cyan-btn" style="margin-right:4px;" (click)="studyUnit()" *ngIf="selectedUnit.type!='folder'"></button>
            </div>
            <div>
              <ng-template course-unit-container></ng-template>
              <div>
                <button pButton type="button" icon="ui-icon-open-in-browser" title="{{'Complete'| translate}}" label="{{'Complete'|translate}}" class="cyan-btn" style="margin-right:4px;" (click)="completeUnit()" [disabled]="selectedUnit.completed" *ngIf="selectedUnit.type!='folder'"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel *ngIf="member.class_id" header="{{'Exam'|translate}}" leftIcon="ui-icon-grade">
      <div class="ui-g-12 ">
        <p-dataList [value]="exams" [paginator]="true" [rows]="5">
          <ng-template let-exam pTemplate="item">
            <p-card>
              <p-header>
                <div class="head-exam">
                </div>
              </p-header>
              <div class="ui-g body-exam">
                <div class="ui-g-8">
                  <h4 class="title">{{exam.name}}</h4>
                  <span class="e-status">
              {{EXAM_STATUS[exam.status] | translate}}
            </span>
                  <div class="clearfix"></div>
                  <p-accordion styleClass="cont">
                    <p-accordionTab header="{{'Summary' | translate}}">
                      {{exam.summary}}
                    </p-accordionTab>
                    <p-accordionTab header="{{'Instruction' | translate}}">
                      <p [innerHTML]="exam.instruction"></p>
                    </p-accordionTab>
                  </p-accordion>
                  <div class="status-bars" *ngIf="exam.member && exam.member.role=='supervisor'">
                    <!-- <div class="card"> -->
                    <ul>
                      <li>
                        <div class="status-bar status-bar-2">
                          <div class="status-bar-value" style="width:{{exam.examMemberData.percentage_member_registered}}%">{{exam.examMemberData.percentage_member_registered}}%</div>
                        </div>
                        <span>{{'Registered'|translate}}</span>
                        <i class="material-icons">&#xE86C;</i>
                      </li>
                      <li>
                        <div class="status-bar status-bar-3">
                          <div class="status-bar-value" style="width:{{exam.examMemberData.percentage_member_inprogress}}%">{{exam.examMemberData.percentage_member_inprogress}}%</div>
                        </div>
                        <span>{{'In-progress'|translate}}</span>
                        <i class="material-icons">&#xE868;</i>
                      </li>
                      <li>
                        <div class="status-bar status-bar-4">
                          <div class="status-bar-value" style="width:{{exam.examMemberData.percentage_member_completed}}%">{{exam.examMemberData.percentage_member_completed}}</div>
                        </div>
                        <span>{{'Completed'|translate}}</span>
                        <i class="material-icons">&#xE8B2;</i>
                      </li>
                    </ul>
                  </div>
                  <!-- </div> -->
                </div>
                <div class="ui-g-4">
                  <p-card>
                    <ul class="list-cmt">
                      <li class="clearfix">
                        <i class="material-icons">date_range</i>
                        <span class="cmt-title">{{'Start date'|translate}}</span>
                        <span class="cmt-detail">{{exam.start | date : "dd/MM/yyyy"}}</span>
                      </li>
                      <li class="clearfix">
                        <i class="material-icons">date_range</i>
                        <span class="cmt-title">{{'End date'|translate}}</span>
                        <span class="cmt-detail">{{exam.end | date : "dd/MM/yyyy"}}</span>
                      </li>
                      <li class="clearfix">
                        <i class="material-icons">alarm</i>
                        <span class="cmt-title">{{'Duration (mintes)'|translate}}</span>
                        <span class="cmt-detail">{{exam.duration}}</span>
                      </li>
                      <li class="clearfix">
                        <i class="material-icons">done</i>
                        <span class="cmt-title">{{'Number of question'|translate}}</span>
                        <span class="cmt-detail">{{exam.question_count}}</span>
                      </li>
                      <li class="clearfix">
                        <i class="material-icons">star</i>
                        <span class="cmt-title">{{'Score'|translate}}</span>
                        <span class="cmt-detail">{{exam.member.score}}</span>
                      </li>
                    </ul>
                    <p-footer>
                      <button pButton type="button" icon="ui-icon-arrow-forward" title="{{'Join'| translate}}" label="{{'Join'|translate}}" class=" green-btn" style="margin-right:4px;" (click)="startExam(exam, exam.member)" [disabled]="!exam.IsAvailable || exam.member.enroll_status=='completed'"></button>
                    </p-footer>
                  </p-card>
                </div>
              </div>
              <p-footer>
              </p-footer>
            </p-card>
          </ng-template>
        </p-dataList>
        <exam-study-dialog></exam-study-dialog>
      </div>
    </p-tabPanel>
    <p-tabPanel *ngIf="member.class_id" header="{{'Gradebook'|translate}}" leftIcon="ui-icon-book">
      <div class="ui-g-12 ">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <button pButton type="button " label="{{ 'View certificate'|translate}} " class="purple-btn " icon="ui-icon-print " (click)="showCertificate()" *ngIf="certificate"></button>
          </div>
        </p-toolbar>
        <p-dataList [value]="completedExams" [paginator]="true" [rows]="5">
          <ng-template let-exam pTemplate="item">
            <p-card>
              <p-header>
                <div class="head-exam">
                </div>
              </p-header>
              <div class="ui-g body-exam">
                <div class="ui-g-8">
                  <h4>{{exam.name}}</h4>
                  <span class="e-status">
                    {{EXAM_STATUS[exam.status] | translate}}
                  </span>
                  <h5 class="e-title">{{'Summary'|translate}}</h5>
                  <p>
                    {{exam.summary}}
                  </p>
                  <h5 class="e-title">{{'Instruction'|translate}}</h5>
                  <p [innerHTML]="exam.instruction"></p>
                </div>
                <div class="ui-g-4">
                  <p-card>
                    <ul class="list-cmt">
                      <li class="clearfix">
                        <i class="material-icons">date_range</i>
                        <span class="cmt-title">{{'Start date'|translate}}</span>
                        <span class="cmt-detail">{{exam.start | date : "dd/MM/yyyy"}}</span>
                      </li>
                      <li class="clearfix">
                        <i class="material-icons">date_range</i>
                        <span class="cmt-title">{{'End date'|translate}}</span>
                        <span class="cmt-detail">{{exam.end | date : "dd/MM/yyyy"}}</span>
                      </li>
                      <li class="clearfix">
                        <i class="material-icons">alarm</i>
                        <span class="cmt-title">{{'Duration (mintes)'|translate}}</span>
                        <span class="cmt-detail">{{exam.duration}}</span>
                      </li>
                      <li class="clearfix">
                        <i class="material-icons">star</i>
                        <span class="cmt-title">{{'Score'|translate}}</span>
                        <span class="cmt-detail">{{exam.member.score}}</span>
                      </li>
                      <li class="clearfix">
                        <i class="material-icons">star</i>
                        <span class="cmt-title">{{'Grade'|translate}}</span>
                        <span class="cmt-detail">{{exam.member.grade}}</span>
                      </li>
                    </ul>
                    <p-footer>
                      <button pButton type="button" icon="ui-icon-timeline" title="{{'Answer'| translate}}" label="{{'Answer'|translate}}" class="orange-btn" style="margin-right:4px;" (click)="viewAnswer(exam)"></button>
                    </p-footer>
                  </p-card>
                </div>
              </div>
            </p-card>
          </ng-template>
        </p-dataList>
        <answer-print-dialog></answer-print-dialog>
        <certificate-print-dialog></certificate-print-dialog>
      </div>
    </p-tabPanel>
    <p-tabPanel header="{{'Course material'|translate}}" leftIcon="ui-icon-cloud-download">
      <div class="ui-g-12 ui-md-6 ui-lg-4 task-list">
        <ul class="task-list-container">
          <li *ngFor="let material of materials">
            <a href="{{material.url}}"><span class="task-name">{{material.name}}</span></a>
            <i class="material-icons" *ngIf="material.type=='video'">videocam</i>
            <i class="material-icons" *ngIf="material.type=='audio'">mic</i>
            <i class="material-icons" *ngIf="material.type=='file'">attachment</i>
          </li>
        </ul>
      </div>
    </p-tabPanel>
    <p-tabPanel header="{{'Course FAQ'|translate}}" leftIcon="ui-icon-question-answer">
      <div class="ui-g-12">
        <p-accordion>
          <p-accordionTab header="{{faq.question}}" [selected]="true" *ngFor="let faq of faqs">
            <div [innerHTML]="faq.answer"></div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </p-tabPanel>
    <p-tabPanel *ngIf="course.mode=='group'" header="{{'Conference'|translate}}" leftIcon="ui-icon-call">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="task-box task-box-1">
            <div class="task-box-header">
              <button pButton type="button " label="{{ 'Join'|translate}} " class="purple-btn " icon="ui-icon-call " (click)="joinConference() " [disabled]="conference.status!='open'"></button>
            </div>
            <div class="task-box-content">
              <h3>{{'Live conference'|translate}} : {{conference.name}}</h3>
              <p>{{'Room password'|translate}} {{':'+conference.room_pass}}
              </p>
            </div>
            <div class="task-box-footer">
              <span class="task-status">{{CONFERENCE_STATUS[conference.status] | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>