<p-dialog header="{{'Study'|translate}}" [(visible)]="display" modal="true" width="100%" [responsive]="true" appendTo="body">
  <p-scrollPanel [style]="{width: '100%', height: '480px'}">
    <div class="ui-g-12 ">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button pButton type="button " label="{{ 'Issue certificate'|translate}} " class="purple-btn " icon="ui-icon-beenhere " (click)="issueCertificate() " [disabled]="!certificate"></button>
        </div>
      </p-toolbar>
      <p-dataList [value]="exams" [paginator]="true" [rows]="5">
        <ng-template let-exam pTemplate="item">
          <p-card>
            <p-header>
              <div class="head-exam">
              </div>
            </p-header>
            <div class="ui-g body-exam">
              <div class="ui-g-8">
                <h4>{{exam.name}}</h4>
                <span class="e-status">
              {{EXAM_STATUS[exam.status] | translate}}
            </span>
                <h5 class="e-title">{{'Summary'|translate}}</h5>
                <p>
                  {{exam.summary}}
                </p>
                <h5 class="e-title">{{'Instruction'|translate}}</h5>
                <p [innerHTML]="exam.instruction"></p>
              </div>
              <div class="ui-g-4">
                <p-card>
                  <ul class="list-cmt">
                    <li class="clearfix">
                      <i class="material-icons">date_range</i>
                      <span class="cmt-title">{{'Start date'|translate}}</span>
                      <span class="cmt-detail">{{exam.start | date : "dd/MM/yyyy"}}</span>
                    </li>
                    <li class="clearfix">
                      <i class="material-icons">date_range</i>
                      <span class="cmt-title">{{'End date'|translate}}</span>
                      <span class="cmt-detail">{{exam.end | date : "dd/MM/yyyy"}}</span>
                    </li>
                    <li class="clearfix">
                      <i class="material-icons">alarm</i>
                      <span class="cmt-title">{{'Duration (mintes)'|translate}}</span>
                      <span class="cmt-detail">{{exam.duration}}</span>
                    </li>
                    <li class="clearfix">
                      <i class="material-icons">star</i>
                      <span class="cmt-title">{{'Score'|translate}}</span>
                      <span class="cmt-detail">{{exam.member.score}}</span>
                    </li>
                    <li class="clearfix">
                      <i class="material-icons">star</i>
                      <span class="cmt-title">{{'Grade'|translate}}</span>
                      <span class="cmt-detail">{{exam.member.grade}}</span>
                    </li>
                  </ul>
                  <p-footer>
                    <button pButton type="button" icon="ui-icon-timeline" title="{{'Answer'| translate}}" label="{{'Answer'|translate}}" class="orange-btn" style="margin-right:4px;"  (click)="viewAnswer(exam)"></button>
                  </p-footer>
                </p-card>
              </div>
            </div>
          </p-card>
        </ng-template>
      </p-dataList>
    </div>
  </p-scrollPanel>
    <etraining-answer-sheet-dialog></etraining-answer-sheet-dialog>

  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>