<p-dialog header="{{'Class surveys'|translate}}" [(visible)]="display" modal="true" width="800" [responsive]="true" appendTo="body">
    <div class="spinner" [hidden]="!loading"></div>
  <div class="ui-g">
        <div class="ui-g-12">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addSurvey()" icon="ui-icon-add"></button>
                    <button pButton type="button" label="{{'Edit'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editSurvey()" *ngIf="selectedClassSurvey"></button>
                    <button pButton type="button" label="{{'Compose'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="editContent()" *ngIf="selectedClassSurvey"></button>    
                </div>
                <div class="ui-toolbar-group-right">
                    <button pButton type="button" label="{{'Enroll'|translate}}" class="green-btn" icon="ui-icon-people" (click)="enrollSurvey()" *ngIf="selectedClassSurvey"></button>
                    <button pButton type="button" icon="ui-icon-data-usage" title="{{'Stats'| translate}}" *ngIf="selectedClassSurvey" label="{{'Statistics'|translate}}" (click)="viewReportSurvey()" class="blue-grey-btn">
                    </button>
                </div>
            </p-toolbar>
            <p-table #examTable [value]="classSurveys" [paginator]="true" [rows]="10" selectionMode="single" 
            [(selection)]="selectedClassSurvey" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'name'">
                            {{'Name'|translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th>
                            {{'Start'|translate}}
                        </th>
                        <th>
                            {{'End'|translate}}
                        </th>
                        <th [pSortableColumn]="'status'">
                            {{'Status'|translate}}
                            <p-sortIcon [field]="'status'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-survey>
                    <tr [pSelectableRow]="survey">
                        <td>{{survey.name}}</td>
                        <td>{{survey.start | date : "dd/MM/yyyy"}}</td>
                        <td>{{survey.end | date : "dd/MM/yyyy"}}</td>
                        <td>{{SURVEY_STATUS[survey.status] | translate}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{classSurveys?.length}}
                </ng-template>
                <ng-template pTemplate="emptymessage" >
                    <tr>
                        <td [attr.colspan]="4">
                            {{'No records found'|translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
<survey-stats-dialog></survey-stats-dialog>
<survey-dialog></survey-dialog>
<class-survey-enroll-dialog></class-survey-enroll-dialog>
<survey-content-dialog></survey-content-dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>