<p-dialog header="{{'Class list'|translate}}" [(visible)]="display" modal="true" width="1200" height="100%" [responsive]="true" styleClass="class-list-dialog">
    <div class="spinner" [hidden]="!loading"></div>
    <p-scrollPanel [style]="{width: '100%', height: '460px'}">
        <div class="ui-g-12 ">
            <p-toolbar>
                <div class="ui-toolbar-group-left ">
                    <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addClass()" icon="ui-icon-add"></button>
                    <button pButton type="button " label="{{ 'Edit'|translate}} " class="blue-grey-btn " icon="ui-icon-mode-edit " (click)="editClass() " *ngIf="selectedClass"></button>
                    <button pButton type="button " label="{{ 'Delete'|translate}} " class="red-btn " icon="ui-icon-delete " (click)="deleteClass() " *ngIf="selectedClass"></button>
                </div>
                <div class="ui-toolbar-group-right ">
                    <button pButton type="button " label="{{ 'Enroll'|translate}} " class="green-btn " icon="ui-icon-people " *ngIf="selectedClass && selectedClass.IsAvailable" (click)="enroll() "></button>
                    <button pButton type="button " label="{{ 'Open'|translate}} " class="green-btn " icon="ui-icon-lock-open" (click)="openClass() " [disabled]=" selectedClass && selectedClass.status =='open'"></button>
                    <button pButton type="button " label="{{ 'Close'|translate}} " class="orange-btn " icon="ui-icon-lock" (click)="closeClass() " [disabled]=" selectedClass && selectedClass.status=='closed'"></button>
                </div>
            </p-toolbar>
            <p-table #classTable [value]="classes" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedClass" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]=" 'name' ">
                            {{'Name'|translate}}
                            <p-sortIcon [field]=" 'name' "></p-sortIcon>
                        </th>
                        <th>
                            {{'Course'|translate}}
                        </th>
                        <th>
                            {{'Status'|translate}}
                        </th>
                        <th [pSortableColumn]=" 'start' ">
                            {{'Start'|translate}}
                            <p-sortIcon [field]=" 'start' "></p-sortIcon>
                        </th>
                        <th [pSortableColumn]=" 'end' ">
                            {{'End'|translate}}
                            <p-sortIcon [field]=" 'end' "></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-courseClass>
                    <tr [pSelectableRow]="courseClass ">
                        <td style="text-align: left; ">{{courseClass.name}}</td>
                        <td style="text-align: left; ">{{courseClass.course_name}}</td>
                        <td >{{CLASS_STATUS[courseClass.status]}}</td>
                        <td>{{courseClass.start | date : "dd/MM/yyyy "}}</td>
                        <td>{{courseClass.end | date : "dd/MM/yyyy "}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    {{'Total records'|translate}} : {{classes?.length}}
                </ng-template>
            </p-table>
        </div>
        <course-enrollment-dialog></course-enrollment-dialog>
        <class-dialog></class-dialog>
    </p-scrollPanel>
    <p-footer>
        <button type="button " pButton icon="fa-close " (click)="hide() " label="{{ 'Close'|translate}} "></button>
    </p-footer>
</p-dialog>