.name-c, .name-e{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.label, .bold{
	font-weight: bold;
}

.title{
	text-transform: uppercase;
}

.ins{
    text-indent: 50px;
}

.ans-print{
	margin-bottom: 20px;
}

.member-name{
	position: absolute;
    top: 30%;
    font-size: 50px;
    font-family: 'Kunstler Script';
    width: 100%;
    margin: 0;
    text-align: center;
    color: #424143;
    font-weight: bold;
}

.summary p{
	position: absolute;
    top: 47%;
    text-align: center;
    font-family: Autocar Black Italic;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #424143;
}

p.date{
	position: absolute; 
	top: 57%; 
	width: 100%;
	text-align: center;
	font-family: Autocar Black Italic;
	font-size: 18px;
    color: #424143;
}
