<p-dialog header="{{'Survey'|translate}}" [(visible)]="display" modal="false" [styleClass]="large-dialog" [responsive]="true"
    appendTo="body">
    <form novalidate (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
        <div class="spinner" [hidden]="!loading"></div>
        <p-scrollPanel [styleClass]="large-dialog-panel">
            <div class="ui-g ui-fluid form-group pt30">
                <div class="ui-g-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText [(ngModel)]="object.name" #name="ngModel" name="name" required>
                        <label>{{'Name'|translate}}</label>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="ui-message ui-messages-error ui-corner-all">
                            <div *ngIf="name.errors.required">
                                {{'Name is required' | translate}}
                            </div>
                        </div>
                    </span>
                </div>
                <div class="ui-g-8">
                    <span class="md-inputfield">
                        <input type="text" pInputText [(ngModel)]="object.summary" name="summary">
                        <label>{{'Summary'|translate}}</label>
                    </span>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-8">
                        <label>{{'Instruction'|translate}}</label>
                        <p-editor [(ngModel)]="object.instruction" [style]="{'height':'120px'}" name="instruction">
                        </p-editor>
                    </div>
                    <div class="ui-g-4">
                        <span (click)="selectEditor()">{{'Editor' |translate}}: {{editor.name}}
                            <i class="material-icons">eject</i>
                        </span>
                    </div>
                </div>
                <div class="ui-g-6">
                    <label>{{'Start'|translate}}</label>
                    <p-calendar [(ngModel)]="object.start" showTime="true" hourFormat="24" #start="ngModel" name="start" required="true" dateFormat="dd/mm/yy"
                        [showIcon]="true"></p-calendar>
                    <div *ngIf="start.invalid" class="ui-message ui-messages-error ui-corner-all" style="margin: 10px 0 20px;">
                        <div *ngIf="start.errors.required">
                            {{'Exam start time is required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="ui-g-6">
                    <label>{{'End'|translate}}</label>
                    <p-calendar [(ngModel)]="object.end" showTime="true" hourFormat="24" #end="ngModel" name="end" required="true" [showIcon]="true"
                        dateFormat="dd/mm/yy"></p-calendar>
                    <div *ngIf="end.invalid" class="ui-message ui-messages-error ui-corner-all" style="margin: 10px 0 20px;">
                        <div *ngIf="end.errors.required">
                            {{'Exam end time is required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </form>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="{{'Save'|translate}}" (click)="f.ngSubmit.emit()" *ngIf="(object.supervisor_id == ContextUser.id && object.review_state!='approved') || ContextUser.IsSuperAdmin"></button>
        <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
    <select-user-dialog></select-user-dialog>
</p-dialog>