<form novalidate (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
    <p-dialog header="{{'Ticket'|translate}}" [(visible)]="display" modal="false" width="960" [responsive]="true" appendTo="body" [closeOnEscape]="false" [closable]="false">
        <div class="ui-g ui-fluid form-group">
            <div class="ui-g-12">
                <span>{{'Status'|translate}}:{{TICKET_STATUS[object.status]}}</span>
                <button pButton type="button" icon="ui-icon-check" title="{{'Approve'| translate}}" label="{{'Approve'|translate}}" class=" green-btn" style="margin-right:4px;" (click)="approveTicket()" [disabled]="object.status!='open' && ContextUser.id != object.approve_user_id"></button>
                <button pButton type="button" icon="ui-icon-block" title="{{'Reject'| translate}}" label="{{'Reject'|translate}}" class=" red-btn" style="margin-right:4px;" (click)="rejectTicket()" [disabled]="object.status!='open'  && ContextUser.id != object.approve_user_id"></button>
            </div>
            <div class="ui-g-12">
                <ul class="list-cmt">
                    <li class="clearfix">
                        <i class="material-icons">date_range</i>
                        <span class="cmt-title">{{'Open date'|translate}}</span>
                        <span class="cmt-detail">{{object.date_open | date : "dd/MM/yyyy"}}</span>
                    </li>
                    <li class="clearfix">
                        <i class="material-icons">date_range</i>
                        <span class="cmt-title">{{'Close date'|translate}}</span>
                        <span class="cmt-detail">{{object.date_close | date : "dd/MM/yyyy"}}</span>
                    </li>
                </ul>
            </div>
            <div class="ui-g-6">
                <span class="md-inputfield">
              <input type="text" pInputText [(ngModel)]="object.title" #title="ngModel" name="title" required [disabled]="ContextUser.id==object.approve_user_id">
              <label>{{'Title'|translate}}</label>
              <div *ngIf="title.invalid && (title.dirty || title.touched)" 
                class="ui-message ui-messages-error ui-corner-all">
                <div *ngIf="title.errors.required">
                    {{'Title is required' | translate}}
                </div>
              </div>
          </span>
            </div>
            <div class="ui-g-6">
                <span class="md-inputfield">
              <input type="text" pInputText [(ngModel)]="object.content" name="summary"  [disabled]="ContextUser.id==object.approve_user_id">
              <label>{{'Content'|translate}}</label>
          </span>
            </div>
        </div>
        <p-footer>
            <button type="submit" pButton icon="fa-check" label="{{'Save'|translate}}" [disabled]="ContextUser.id != object.submit_user_id"></button>
            <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
        </p-footer>
    </p-dialog>
</form>
