<div class="card card-w-title">
  <h1>{{'Courses'|translate}}</h1>
  <div class="ui-g">
    <div class="ui-g-12">
      <label>{{'Course group'|translate}}</label>
      <p-tree [value]="tree" selectionMode="checkbox" [(selection)]="selectedGroupNodes" (onNodeSelect)="filterCourse()" (onNodeUnselect)="filterCourse()"></p-tree>
    </div>
    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button pButton type="button" label="{{'New'|translate}}" class="green-btn" (click)="addCourse()" icon="ui-icon-add"></button>
          <button pButton type="button" label="{{'Edit'|translate}}" class="purple-btn" icon="ui-icon-mode-edit" (click)="editCourse()" *ngIf="selectedCourse"></button>
          <button pButton type="button" label="{{'Enroll'|translate}}" class="green-btn" icon="ui-icon-people" (click)="enrollCourse()" *ngIf="selectedCourse"></button>
        </div>
        <div class="ui-toolbar-group-right">
          <span class="md-inputfield search">
              <input type="text" pInputText placeholder="{{'Search'|translate}}" 
              (input)="courseTable.filterGlobal($event.target.value, 'contains')">   
              <i class="fa fa-search"></i>      
          </span>
        </div>
      </p-toolbar>
      <p-table #totalRecords #courseTable [value]="displayCourses" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedCourse" [responsive]="true" [globalFilterFields]="['name', 'code']">
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'name'">
              {{'Name'|translate}}
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th style="width: 10%;" [pSortableColumn]="'code'">
              {{'Code'|translate}}
              <p-sortIcon [field]="'code'"></p-sortIcon>
            </th>
            <th style="width: 20%;">
              {{'Summary'|translate}}
            </th>
            <th style="width: 12%;" [pSortableColumn]="'mode'">
              {{'Mode'|translate}}
              <p-sortIcon [field]="'mode'"></p-sortIcon>
            </th>
            <th style="width: 10%;" [pSortableColumn]="'status'">
              {{'Status'|translate}}
              <p-sortIcon [field]="'status'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'supervisor_name'">
              {{'Created by'|translate}}
              <p-sortIcon [field]="'supervisor_name'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'author_name'">
              {{'Content editor'|translate}}
              <p-sortIcon [field]="'author_name'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-course>
          <tr [pSelectableRow]="course">
            <td style="text-align: left;">{{course.name}}</td>
            <td class="showformb">{{course.code}}</td>
            <td class="showformb c-summary" style="text-align: left;">{{course.summary}}</td>
            <td class="showformb">{{COURSE_MODE[course.mode] | translate}}</td>
            <td class="showformb">{{CONTENT_STATUS[course.status] | translate}}</td>
            <td class="showformb">{{course.supervisor_name}}</td>
            <td class="showformb">{{course.author_name}}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          {{'Total records'|translate}} : {{displayCourses?.length}}
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="7">
              {{'No records found'|translate}}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <class-list-dialog></class-list-dialog>
      <course-dialog></course-dialog>
      <course-enrollment-dialog></course-enrollment-dialog>
    </div>
  </div>
</div>