<p-dialog header="{{'Course syllabus'|translate}}: {{syl.name}}" [(visible)]="display" modal="false" styleClass="ui-g-12 small-dialog" [responsive]="true">
    <div class="spinner" [hidden]="!loading"></div>
    <p-scrollPanel >
        <div class="ui-g">
            <div class="ui-g-12">
                <p-selectButton [options]="contentStatus" [(ngModel)]="syl.status" name="status"></p-selectButton>
            </div>
            <div class="ui-g-12 course-syllabus">
                <div class="ui-g-4" style="padding: 10px 10px 0 0">
                    <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" styleClass="tree-unit-course-syllabus"></p-tree>
                </div>
                <div class="ui-g-8" style="padding: 10px 0 0" *ngIf="selectedUnit">
                    <div class="card course-syllabus-unit">
                        <div class="image-box-content">
                            <div>
                                <h3 class="removeMT">{{selectedUnit.name}}</h3>
                                <span>{{'Unit type'|translate}} : {{COURSE_UNIT_TYPE[selectedUnit.type]|translate}}</span>
                            </div>
                            <div class="image-box-footer">
                                <div class="ui-g-12">
                                    <p-selectButton [options]="contentStatus" [(ngModel)]="selectedUnit.status" name="unitStatus"></p-selectButton>
                                </div>
                                <div class="ui-g-12">
                                    <button pButton type="button" icon="ui-icon-remove-red-eye" title="{{'Preview'| translate}}" label="{{'Preview'|translate}}" class="orange-btn" style="margin-right:4px;" (click)="previewUnit()" *ngIf="selectedUnit.type!='folder'"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-scrollPanel>
    <course-unit-preview-dialog></course-unit-preview-dialog>
    <p-footer>
        <button type="button" pButton icon="fa-check" (click)="save()" label="{{'Save'|translate}}"></button>
        <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>