<div class="card card-w-title">
  <h1>{{'Mail setting'|translate}}</h1>
  <form novalidate (ngSubmit)="save()" #f="ngForm"  autocomplete="off">
    <div class="ui-g ui-fluid form-group">
      <div class="ui-g-12 ">
        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="smtp.name" name="name">
                            <label>{{'Name'|translate}}</label>
                        </span>
      </div>
      <div class="ui-g-6">
        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="smtp.smtp_host" name="host">
                            <label>{{'SMTP Host'|translate}}</label>
                        </span>
      </div>
      <div class="ui-g-6">
        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="smtp.smtp_port" name="port"  pKeyFilter="int">
                            <label>{{'SMTP Port'|translate}}</label>
                        </span>
      </div>
      <div class="ui-g-6">
        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="smtp.smtp_user" name="user">
                            <label>{{'SMTP User'|translate}}</label>
                        </span>
      </div>
      <div class="ui-g-6">
        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="smtp.smtp_pass" name="pass">
                            <label>{{'SMTP Password'|translate}}</label>
                        </span>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12" style="text-align:right">
        <button pButton type="submit" label="{{'Save'|translate}}" icon="fa ui-icon-save" class="purple-btn"></button>
        <button pButton type="button" label="{{'Undo'|translate}}" icon="fa ui-icon-restore" class="blue-grey-btn" (click)="restore()"></button>
      </div>
  </div>
  </form>
</div>