<p-dialog header="{{'Import from Excel'|translate}}" [(visible)]="display" modal="modal" width="300" [responsive]="true">
  <div class="ui-g form-group">
    <div class="ui-g-12">
      <p-fileUpload name="userlist" mode="basic" chooseLabel="{{'Select file'|translate}}'" (onSelect)="changeListner($event)" accept="{{fileType}}" maxFileSize="1024*16" showUploadButton="false" >  
    </p-fileUpload>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="{{'Import'|translate}}" (click)="import()"></button>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
</p-dialog>