<div class="card card-w-title">
  <h1>{{'My conferences'|translate}}</h1>
  <p-dataList [value]="members" [paginator]="true" [rows]="5">
    <ng-template let-member pTemplate="item">
      <p-card>
        <p-header>
            <button pButton type="button " label="{{ 'Join'|translate}} " class="purple-btn " icon="ui-icon-call " (click)="joinConference(member) " [disabled]="member.conference.status!='open'"></button>
        </p-header>
         <h3>{{member.conference.name}}</h3>
                <p>{{'Room password'|translate}} {{':'+member.conference.room_pass}}
                </p>
        <p-footer>
          <span class="task-status">{{CONFERENCE_STATUS[member.conference.status] | translate}}</span>
         </p-footer>
      </p-card>
    
    </ng-template>
  </p-dataList>

  
</div>