<div class="card card-w-title">
  <h1>{{'Course members'|translate}}</h1>
  <p-progressSpinner [hidden]="!processing"></p-progressSpinner>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-fieldset legend="{{'Course tree'|translate}}">
        <div class="ui-g-4">
          <p-tree [value]="tree" selectionMode="single" (onNodeSelect)="nodeSelect($event)" [(selection)]="selectedNode"></p-tree>
        </div>
        <div class="ui-g-8">
          <p-table [value]="courses" [(selection)]="selectedCourse" >
            <ng-template pTemplate="caption">
                {{'List of courses'|translate}}
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 2.25em"></th>
                <th>{{'Code'|translate}}</th>
                <th>{{'Name'|translate}}</th>
                <th>{{'Mode'|translate}}</th>
                <th>{{'Status'|translate}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <tr [pSelectableRow]="rowData">
                <td>
                  <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                </td>
                <td>{{rowData.code}}</td>
                <td>{{rowData.name}}</td>
                <td>{{COURSE_MODE[rowData.mode]}}</td>
                <td>{{COURSE_STATUS[rowData.status]}}</td>
              </tr>
            </ng-template>
          </p-table>
          <p-table [value]="classes | byCourse: selectedCourse" [(selection)]="selectedClass" [hidden]="!selectedCourse || selectedCourse.mode=='self-study'">
              <ng-template pTemplate="caption">
                {{'List of classes'|translate}}
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 2.25em"></th>
                <th>{{'Name'|translate}}</th>
                <th>{{'Start'|translate}}</th>
                <th>{{'End'|translate}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <tr [pSelectableRow]="rowData">
                <td>
                  <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                </td>
                <td>{{rowData.name}}</td>
                <td>{{rowData.start}}</td>
                <td>{{rowData.end}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-fieldset>
    </div>
    <div class="ui-g-12 ">
      <p-toolbar>
        <div class="ui-toolbar-group-left ">
           <button pButton type="button " label="{{ 'Add teacher'|translate}} " class="green-btn " icon="ui-icon-add " (click)="add('teacher') " [disabled]="!selectedCourse  || (selectedCourse && !selectedClass && selectedCourse.mode=='group')"></button>
          <button pButton type="button " label="{{ 'Add student'|translate}} " class="green-btn " icon="ui-icon-add " (click)="add('student') " [disabled]="!selectedCourse  || (selectedCourse && !selectedClass && selectedCourse.mode=='group')"></button>
          <button pButton type="button " label="{{ 'Edit'|translate}} " class="purple-btn " icon="ui-icon-mode-edit " (click)="edit() " [disabled]="!selectedMember "></button>
          <button pButton type="button " label="{{ 'Delete'|translate}} " class="red-btn " icon="ui-icon-delete " (click)="delete() " [disabled]="!selectedMember "></button>
        </div>
      </p-toolbar>
      <p-table #memberTable [value]="members | byCourse :selectedCourse | byClass: selectedClass " [paginator]="true " [rows]="10" selectionMode="single" [(selection)]="selectedMember " [responsive]="true " sortField="role">
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'name'">
              {{'Name'|translate}}
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'email'">
              {{'Email'|translate}}
              <p-sortIcon [field]="'email'"></p-sortIcon>
            </th>
            <th>{{'Phone'|translate}}</th>
            <th [pSortableColumn]="'etraining_group__DESC__'">
              {{'Group'|translate}}
              <p-sortIcon [field]="'etraining_group__DESC__'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'role'">
              {{'Role'|translate}}
              <p-sortIcon [field]="'role'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'status'">
              {{'Status'|translate}}
              <p-sortIcon [field]="'status'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'enroll_status'">
              {{'Enroll status'|translate}}
              <p-sortIcon [field]="'enroll_status'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-member>
          <tr [pSelectableRow]="member ">
            <td>{{member.name}}</td>
            <td>{{member.email}}</td>
            <td>{{member.phone}}</td>
            <td>{{member.etraining_group__DESC__}}</td>
            <td>{{COURSE_MEMBER_ROLE[member.role]}}</td>
            <td>{{COURSE_MEMBER_STATUS[member.status]}}</td>
            <td>{{COURSE_MEMBER_ENROLL_STATUS[member.enroll_status]}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          {{'Total records'|translate}} : {{members?.length}}
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="5 ">
              {{'No records found'|translate}}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <etraining-member-dialog></etraining-member-dialog>
      <etraining-select-user-dialog></etraining-select-user-dialog>
      <p-confirmDialog header="{{ 'Confirmation'|translate}} " width="300 "></p-confirmDialog>
    </div>
  </div>
</div>