<p-dialog header="{{'Survey content'|translate}}: {{survey.name}}" [(visible)]="display" modal="false" width="1000" height="100%" [responsive]="true" appendTo="body" [closeOnEscape]="false" [closable]="false">
    <div class="spinner" [hidden]="!loading"></div>
    <div class="ui-g">
        <div class="ui-g-12">
            <p-toolbar>
                <div class="ui-toolbar-group-left mt5">
                    <button pButton type="button" label="{{'Design question sheet'|translate}}" class="blue-grey-btn" icon="ui-icon-mode-edit" (click)="designSheet()" *ngIf="!sheet.finalized"></button>
                    <button pButton type="button" label="{{'Load question sheet templates'|translate}}" class="blue-grey-btn" icon="ui-icon-details" (click)="loadSheetTemplate()" *ngIf="!sheet.finalized"></button>
                    <button pButton type="button" label="{{'Save to templates'|translate}}" class="blue-grey-btn" icon="ui-icon-save" (click)="saveToTemplate()" *ngIf="sheet.finalized"></button>
                    <button pButton type="button" class="orange-btn" icon="ui-icon-delete" (click)="clearSheet()" *ngIf="sheet && sheet.finalized" label="{{'Clear'|translate}}"></button>
                </div>
                <div class="ui-toolbar-group-right">
                    <button pButton type="button" class="blue-grey-btn" icon="ui-icon-settings" (click)="previewSheet()" label="{{'Preview'|translate}}" *ngIf="sheet && sheet.finalized"></button>
                </div>
            </p-toolbar>
            <p-table #surveyQuestionTable [value]="surveyQuestions" [responsive]="true" styleClass="table-content">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>
                            {{'Title'|translate}}
                        </th>
                        <th>
                            {{'Group'|translate}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex">
                    <tr>
                        <td>{{rowIndex+1}}</td>
                        <td>{{question.title}}</td>
                        <td>{{question.group_name}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <survey-sheet-preview-dialog></survey-sheet-preview-dialog>
    <select-survey-sheet-dialog></select-survey-sheet-dialog>
    <select-question-dialog></select-question-dialog>
    <survey-sheet-save-dialog></survey-sheet-save-dialog>
    <p-footer>
        <button type="submit" pButton icon="fa-check" (click)="save()" label="{{'Save'|translate}}"></button>
        <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>
