<div class="card card-w-title">
  <h1>{{'My exams'|translate}}</h1>
  <p-dataList [value]="exams" [paginator]="true" [rows]="5">
    <ng-template let-exam pTemplate="item">
      <p-card>
        <p-header>
              <div class="head-exam">
              </div>
            </p-header>
        <div class="ui-g body-exam">
          <div class="ui-g-8">
            <h4>{{exam.name}}</h4>
            <span class="e-status">
              {{EXAM_STATUS[exam.status] | translate}}
            </span>
            <h5 class="e-title">{{'Summary'|translate}}</h5>
            <p>
              {{exam.summary}}
            </p>
            <h5 class="e-title">{{'Instruction'|translate}}</h5>
            <p [innerHTML]="exam.instruction"></p>
          </div>
          <div class="ui-g-4">
            <p-card>
              <ul class="list-cmt">
                <li class="clearfix">
                  <i class="material-icons">date_range</i>
                  <span class="cmt-title">{{'Start date'|translate}}</span>
                  <span class="cmt-detail">{{exam.start | date : "dd/MM/yyyy"}}</span>
                </li>
                <li class="clearfix">
                  <i class="material-icons">date_range</i>
                  <span class="cmt-title">{{'End date'|translate}}</span>
                  <span class="cmt-detail">{{exam.end | date : "dd/MM/yyyy"}}</span>
                </li>
                <li class="clearfix">
                  <i class="material-icons">alarm</i>
                  <span class="cmt-title">{{'Duration (mintes)'|translate}}</span>
                  <span class="cmt-detail">{{exam.duration}}</span>
                </li>
                <li class="clearfix">
                  <i class="material-icons">done</i>
                  <span class="cmt-title">{{'Number of question'|translate}}</span>
                  <span class="cmt-detail">{{exam.question_count}}</span>
                </li>
                <li class="clearfix" *ngIf="exam.member.role=='candidate'">
                  <i class="material-icons">star</i>
                  <span class="cmt-title">{{'Score'|translate}}</span>
                  <span class="cmt-detail">{{exam.member.score}}</span>
                </li>
              </ul>
              <p-footer>
                <button pButton type="button" icon="ui-icon-arrow-forward" title="{{'Join'| translate}}" label="{{'Join'|translate}}" class=" green-btn" style="margin-right:4px;" (click)="startExam(exam, exam.member)" *ngIf="exam.member.role=='candidate'" [disabled]="!exam.IsAvailable || exam.member.enroll_status=='completed'"></button>
                <button pButton type="button" icon="ui-icon-edit" title="{{'Edit content'| translate}}" label="{{'Edit content'|translate}}" class=" purple-btn" style="margin-right:4px;" (click)="editContent(exam)" *ngIf="exam.member.role=='supervisor'"></button>
                <button pButton type="button" icon="ui-icon-star" title="{{'Mark'| translate}}" label="{{'Mark'|translate}}" class="orange-btn" style="margin-right:4px;" (click)="markExam(exam)" *ngIf="exam.member.role=='supervisor'"></button>
                <button pButton type="button" icon="ui-icon-timeline" title="{{'Result'| translate}}" label="{{'Result'|translate}}" class="orange-btn" style="margin-right:4px;" *ngIf="exam.member.role=='supervisor'" (click)="viewScore(exam)"></button>
              </p-footer>
            </p-card>
          </div>
        </div>
        <p-footer>
          
        </p-footer>
      </p-card>
    </ng-template>
  </p-dataList>
  <exam-marking-dialog></exam-marking-dialog>
  <exam-content-dialog></exam-content-dialog>
  <exam-score-dialog></exam-score-dialog>
  <exam-study-dialog></exam-study-dialog>
</div>