<form novalidate (ngSubmit)="save()" #f="ngForm"  autocomplete="off">
<p-dialog header="{{'Exam member'|translate}}" [(visible)]="display" modal="true" width="300" [responsive]="true" appendTo="body">
    <div class="ui-g ui-fluid form-group">
       <div class="ui-g-12">
        <label>{{'Name'|translate}} : {{object.name}}</label>
      </div>
      <div class="ui-g-12">
        <label>{{'Register date'|translate}} : {{object.date_register}}</label>
      </div>
      <div class="ui-g-12 ">
        <label>{{'Role'|translate}}</label>
          <p-radioButton name="role" value="candidate"  label="{{'Candidate'|translate}}" [(ngModel)]="object.role" inputId="opt1"></p-radioButton>
          <p-radioButton name="role" value="supervisor"  label="{{'Supervisor'|translate}}" [(ngModel)]="object.role" inputId="opt2"></p-radioButton>
      </div>
    </div>
    <p-footer>
      <button type="submit" pButton icon="fa-check" label="{{'Save'|translate}}"></button>
      <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
  
</p-dialog>
</form>