<div class="ui-g">
  <div class="ui-g-3" align='center'>
    <div>
      <p-fileUpload name="uploadLocal" mode="basic" chooseLabel="{{'Upload from computer'|translate}}'" (onSelect)="changeFile($event)" accept="*" maxFileSize="1024*512" showUploadButton="false">
      </p-fileUpload>
    </div>
    <div>
      <button pButton type="button" label="{{'Record from camera'|translate}}" class="green-btn" icon="ui-icon-videocam" (click)="showToolbar=!showToolbar"></button>
      <p-toolbar *ngIf="showToolbar">
        <div class="ui-toolbar">
          <button pButton type="button" pTooltip="{{'Start'|translate}}" icon="ui-icon-play-arrow" (click)="startRecording()"></button>
          <button pButton type="button" pTooltip="{{'Stop'|translate}}" icon="ui-icon-stop" (click)="stopRecording()"></button>
          <button pButton type="button" pTooltip="{{'Cancel'|translate}}" icon="ui-icon-cancel" (click)="cancelRecording()"></button>
        </div>
      </p-toolbar>
    </div>
  </div>
  <div class="ui-g-9">
    <div class="spinner" [hidden]="!uploadInprogress">
      <p-progressSpinner></p-progressSpinner>
    </div>
    <video id="camera" width="100%" #camera autoplay poster="assets/images/logo-vietinterview.png" src="{{lecture.video_url}}"></video>
  </div>
  <div class="ui-g-12 ">
    <label>{{'Lecture'|translate}}</label>
    <p-editor [(ngModel)]="lecture.transcript" [style]="{'height':'120px'}" name="content">
    </p-editor>
  </div>
</div>